.register-checkout-page{
    .box-register-subscription{
        padding-top: 30px;
        padding-bottom: 30px;
        h1{
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #4F4F4F;
        }
        .process-bar-subscription{
            position: absolute;
            top: -100px;
            left: calc(50% - 200px);
        }
    }
    .mepr_price{
        display: none;
    }
    .mp_wrapper {
        .mepr-payment-methods-radios{
            >label{
                display: block !important;
                font-weight: normal !important;
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 18px;
            }
        }
        .mepr-payment-methods-icons{
            .mepr-payment-method-icon{
                margin-bottom: 20px;
                display: inline-block;
                width: 80%;
                img{
                    width: 100%;
                    height: auto !important;
                }
                &:last-child{
                    width: 20%;
                }
            }
        }
    }
    .box-payment-method{
        .mp-form-row{
            .mp-form-label{
                display: none;
            }
        }
    }
}
.box-initial-signup{
    h1{
        font-weight: 500;
        font-size: 18px;
        line-height: 152.62%;
        text-align: center;
        color: #828282;
    }
    .form-initial-signup{
        input{
            width: 100% !important;
            border: 1px solid #BDBDBD;
            @include radius(3px);
            padding: 12px 15px !important;
            margin-top: 0;
            font-size: 16px !important;
        }
        ul.gform_fields {
            li.gfield{
                padding-right: 0;
            }
        }
        .gform_wrapper.gform_validation_error {
            .gform_body {
                ul {
                    li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
                        max-width: 100% !important;
                    }
                }
            }
        }
        .gform_wrapper {
            .gform_footer {
                input.button,input[type=submit]{
                    background: $color-green-logo;
                    color: $color-blue-logo;
                    font-weight: bold;
                    border: none;
                }
            }
        }
        .gform_wrapper {
            li.gfield.gfield_error.gfield_contains_required {
                div.ginput_container{
                    margin-top: 30px;
                }
            }
        }
    }
}

.form-secure-checkout{
    *{
        font-family: $font-roboto;
    }
    .box-payments-discounts{
        border: 1px solid #BDBDBD;
        .title-payments-discounts{
            font-weight: 500;
            font-size: 18px;
            line-height: 152.62%;
            color: #828282;
            padding: 20px;
            border-bottom: 1px solid #BDBDBD;
        }
        .box-info{
            padding: 20px;
        }
    }
    .box-your-information{
        border: 1px solid #BDBDBD;
        .title-your-information{
            font-weight: 500;
            font-size: 18px;
            line-height: 152.62%;
            color: #828282;
            padding: 20px;
            border-bottom: 1px solid #BDBDBD;
        }
        .box-info{
            padding: 20px;
        }
        .mp-form-row{
            margin-bottom: 30px;
        }
    }

    .box-subscription-summary{
        background: #F2F2F2;
        border: 1px solid #BDBDBD;
        margin-bottom: 30px;
        .title-form{
            font-weight: 500;
            font-size: 18px;
            line-height: 152.62%;
            color: #828282;
            padding: 20px;
            border-bottom: 1px solid #BDBDBD;
        }
        .subtitle-summary{
            font-size: 18px;
            line-height: 152.62%;
            color: #828282;
        }
        .box-info{
            padding: 20px;
        }
        .dropdown{
            margin-bottom: 30px;
            .dropdown-toggle{
                background: #FFFFFF;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 3px;
                width: 100%;
                text-align: left;
                padding: 10px 15px;
                &:after{
                    position: absolute;
                    right: 15px;
                    top: 50%;
                }
            }
            .dropdown-menu{
                width: 100%;
            }
            .dropdown-item{
                padding: 5px 15px;
            }
        }
        .box-total{
            font-weight: 500;
            font-size: 18px;
            line-height: 152.62%;
            color: #828282;
            border-top: 1px solid #BDBDBD;
            padding: 10px 0;
            &.due-today{
                font-size: 16px;
                font-style: italic;
                border-top: none;
                font-weight: normal;
                padding: 0;
            }
        }
    }
    .secure-payments{
        text-align: center;
        margin-top: 30px;

    }
    .term-policy-condition{
        font-size: 14px;
    }
    .box-no-risk-money{
        font-size: 14px;
        margin-top: 30px;
    }
    input[type*='submit']{
        background: #8DC63F;
        border-radius: 3px;
        width: 100%;
        padding: 12px 15px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #0D3153;
    }
    .payment-header{
        padding: 20px;
        border-top: 1px solid #BDBDBD;
        &.bd-none{
            border-top: none;
        }
        h3{
            font-size: 18px;
            line-height: 152.62%;
            color: #828282;
            position: relative;
            @include transition(.3s);
            &[aria-expanded="true"]{
                .icon-bottom-gray {
                    @include rotate(180deg);
                }
            }
        }
        .icon-bottom-gray{
            @include setBackgroundIcon(20px, '../images/icon-arrow-bottom-gray.svg');
            position: absolute;
            right: 0;
            top: 5px;
        }
    }

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
    .register-checkout-page {
        .form-secure-checkout{
            margin-bottom: 30px;
        }
        .box-register-subscription {
            .process-bar-subscription {
                position: static;
                margin-bottom: 20px;
            }
        }
    }
}