/* ======================FOOTER============== */

footer {
    padding-top: 100px;
    background: $color-blue-logo;
    color: $color-white;
    .bg-blue-footer{
        background: #02172B;
    }

    .description-logo{
        font-weight: bold;
        margin-bottom: 40px;
        line-height: 25px;
        font-size: 18px;
        color: #E0E0E0;
    }
    a {
        color: #E0E0E0;
    }

    .list-social {
        position: absolute;
        left: 15px;
        bottom: 0;
        a{
            color: #E0E0E0;
        }

        .label-socials {
            line-height: 40px;
        }

        .nav-link {
            padding: .3rem;

            i.fa {
                font-size: 1.5rem;
            }

            &:hover {
                color: $color-green-logo;
            }
        }
    }

    .label-form-project {
        font-size: 30px;
        font-weight: bold;
        color: #E0E0E0;
    }

    .form-start-project {
        input[type*="text"] {
            width: 100%;
            background: transparent;
            border: 1px solid #C4C4C4 !important;
            padding: 10px;
            margin: 30px 0;
            color: #C4C4C4;
        }

        textarea {
            width: 100%;
            background: transparent;
            border: 1px solid #C4C4C4 !important;
            padding: 18px;
            margin: 30px 0;
            color: #C4C4C4;
        }

        .btn-green-env {
            background: $color-green-logo;
            color: $color-white;
            text-align: center;
            width: 100%;
            padding: 6px 30px;
            font-size: 25px;
            font-weight: bold;
        }

        ::placeholder {
            color: #C4C4C4;
            opacity: 1;
            font-weight: 100;
            font-style: italic;
        }

        :-ms-input-placeholder {
            color: #C4C4C4;
            font-weight: 100;
            font-style: italic;
        }

        ::-ms-input-placeholder {
            color: #C4C4C4;
            font-weight: 100;
            font-style: italic;
        }
    }

    .box-info-footer {
        color: #E0E0E0;
        padding-bottom: 30px;
        .label-company{
            color: #E0E0E0;
            font-weight: bold;
        }
        .email-envzone{
            color: #E0E0E0;
            display: inline-block;
        }
        .phone-envzone{
            color: #E0E0E0;
            display: inline-block;
            padding-bottom: 30px;
        }
        .label-menu-footer {
            padding: 10px 0;
            border-bottom: 1px solid #E0E0E0;
            margin-bottom: 10px;
            width: 65%;
            font-weight: bold;
            letter-spacing: 1px;
            color: #E0E0E0;
            font-size: 25px;
        }
        .label-socials{
            color: #E0E0E0;
        }
        .list-menu-footer {
            li{
                padding: 5px 0;
            }
            a {
                color: #E0E0E0;
                &:hover {
                    color: $color-green-logo;
                }
            }
        }
        address{
            position: relative;
            padding-bottom: 20px;
        }
        .icon-direction-footer{
            position: absolute;
            top: 5px;
            left: 64%;
            display: inline-block;
            &:hover{
                svg{
                    path{
                        fill: #8DC63F;
                    }
                }
            }
        }
    }


    .bg-blue-lv1 {
        background: $color-blue-lv1;
    }

    .section-donate {
        padding-top: 30px;
        padding-bottom: 15px;
        .box-donate {
            border-bottom: 1px solid $color-gray-text;
            padding-bottom: 20px;
            margin-bottom: 15px;
            .description-same{
                font-size: 15px;
                line-height: 25px;
                color: #C4C4C4;
            }
        }

        .title-same {
            padding-bottom: 15px;
            color: $color-gray-text;
        }

        img {
            padding-bottom: 15px;
        }

        .btn-donate {
            margin-bottom: 15px;
            border: 1px solid $color-white;
            font-size: .8rem;
            padding: 5px 20px;
            background: transparent;
            color: #C4C4C4 !important;
            font-weight: bold;
            &:hover{
                color: $color-green-logo !important;
                border: 1px solid $color-green-logo;
            }
        }
        .box-certified{
            padding-top: 15px;
            border-right: 1px solid $color-gray-text;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            p{
                color: #BDBDBD;
            }
        }
        .box-policy {
            margin: auto;
            margin-bottom: 5px;

            a {
                border-right: .3px solid #4F4F4F;
                padding-right: 42px;
                margin-left: 42px;
                font-size: 15px;
                margin-bottom: 15px;
                display: inline-block;
                color: #E0E0E0 !important;
				&:hover{
					color: $color-green-logo !important;
				}
                &:last-child {
                    border-right: none;
                }
                &:first-child{
                    margin-left: 0;
                }
            }

        }
    }


    .social-mobile{
        display: none;
    }
    .check-avaibility-mb-footer{
        display: none;
    }
    .address-footer-mb{
        display: none;
        .box-direction {
            .phone-number{
                display: none;
            }
        }
    }
    .box-term-policy-mb{
        display: none;
    }


    .copyright-footer{
        font-size: 15px;
        color: #E0E0E0;
    }
}


/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (min-width: $device-size-extra-large) {}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen and (min-width: $device-size-large) and (max-width: $device-size-extra-large) {}


/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
    footer {
        .list-social{
            position: static;
            margin-bottom: 25px;
        }
        .box-info-footer {
            margin-bottom: 25px;
        }
    }
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
    footer {
        background: $color-blue-lv2;
        padding-top: 0;
        .description-logo{
            margin-top: 5px;
        }
        .d-none-768{
            display: none;
        }
       .start-project{
           display: none;
       }
        .menu-footer{
            display: none;
        }
        .box-donate{
            display: none;
        }
        .box-info-footer{
            display: none;
        }
        .icon-arrow-bottom{
            @include setBackgroundIcon(20px, "../images/icon-arrow-down.svg");
            vertical-align: middle;
        }
        .social-mobile{
            display: block;
            background: $color-blue-logo;
            .list-social-mb{
                .icon-twitter{
                    @include setBackgroundIcon(50px, "../images/icon-twitter.svg");
                }
                .icon-facebook{
                    @include setBackgroundIcon(50px, "../images/icon-facebook.svg");
                }
                .icon-linkedin{
                    @include setBackgroundIcon(50px, "../images/icon-linkedin.svg");
                }
                .icon-google-plus{
                    @include setBackgroundIcon(50px, "../images/icon-google-plus.svg");
                }
            }
        }

        .check-avaibility-mb-footer{
            display: block;
            background: $color-blue-lv4;
            .title-check-vaibility-mb{
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 15px;
            }
            .btn-blue-env{
                background: transparent;
                border: 1px solid $color-white;
            }
        }

        .address-footer-mb{
            display: flex;
            .box-info{
                border-bottom: 1px solid $color-white;
                border-right: 1px solid $color-white;
                padding-top: 15px;
                padding-bottom: 15px;

            }
            .box-direction{
                border-bottom: 1px solid $color-white;
                .icon-location{
                    @include setBackgroundIcon(50px, "../images/icon-location.svg");
                }
                .icon-mobile-phone{
                    @include setBackgroundIcon(50px, "../images/icon-mobile-phone.svg");
                }
            }
        }
        .bg-blue-lv1{
            background: #02172B;
        }
        .section-donate{
            padding-bottom: 0;
            padding-top: 0;
        }
        .box-term-policy-mb{
            display: block;
        }
    }
}

/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and down (1200px)
	================================================================== */
@media screen and (max-width: $device-size-extra-large) {
    footer {
        .form-start-project {
            .btn-green-env{
                font-size: 16px;
            }
        }
        .section-donate {
            .box-policy {
                a{
                    padding-right: 40px;
                    margin-left: 40px;
                }
            }
        }
    }
}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen and (min-width: $device-size-small) and (max-width: $device-size-medium) {}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
    footer {
        .all-rights{
            display: block;
        }
        .social-mobile{
            .list-social-mb{
                .nav-link{
                    padding: 0 10px;
                }
            }
        }
        .form-start-project {
            input[type*="file"]{
                width: 100%;
            }
        }
        .section-donate {
            .box-policy {
                a{
                    margin-left: 15px;
                    padding-right: 15px;
                }
            }
            .btn-donate{
                margin-bottom: 0;
                margin-top: 15px;
            }
        }
        .label-form-project{
            font-size: 1.5rem;
        }

        .address-footer-mb{
            .box-info{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 70%;
                flex: 0 0 70%;
                max-width: 70%;
            }
            .box-direction{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 30%;
                flex: 0 0 30%;
                max-width: 30%;
                padding: 0 !important;
                .box-icon-direction{
                    width: 100%;
                    height: 100%;
                }
                .direction{
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    height: 50%;
                }
                .phone-number{
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    height: 50%;
                    border-top: 1px solid $color-white;
                }
            }
        }
        .box-term-policy{
            a{
                padding-left: 0 !important;
            }
        }
    }
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 320px and down (<320)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
    footer {
        .social-mobile {
            .list-social-mb {
                .nav-link {
                    padding: 0 5px;
                }
            }
        }
    }
}