.about-us-page{
	padding-bottom: 0 !important;
	.section-represent{
		padding-top: 100px;
		padding-bottom: 250px;
	}
	.box-head-about-us{
		h2{
			font-size: 48px;
			color: #4F4F4F;
			line-height: 152%;
			font-weight: bold;
			padding-bottom: 70px;
		}
		p{
			color: #808080;
			font-size: 26px;
			line-height: 150%;
			font-weight: 500;
		}
	}
	.get-started-form{
		padding-top: 100px;
		.title-form{
			font-weight: 600;
			font-size: 24px;
			line-height: 140.88%;
			color: #828282;
			margin-bottom: 30px;
		}
		.gform_wrapper {
			margin: 0;
			position: relative;
			ul.gform_fields {
				li.gfield{
					width: 100%;
					float: left;
					margin: 0 !important;
					padding: 0;
					max-width: 100% !important;

					&.gf_right_half{
						float: none;
						text-align: right;
						max-width: 100%;
					}
				}
			}
			.top_label {
				div.ginput_container{
					margin: 0;
				}
				div:not(.ginput_container_date) {
					select.medium{
						height: 50px;
					}
				}
				li.gfield.gf_right_half {
					div:not(.ginput_container_date) {
						select.medium{
							width: 100%;
							border: none !important;
							background: #fff;
						}
					}
				}
			}
			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
				padding: 12px 25px;
				border: none !important;
				font-size: 18px;
				@include radius(5px);
				width: 100%;
				margin-top: 0;
				margin-bottom: 0;
				@include shadow-out(4px, 4px, 4px, rgba(0, 0, 0, 0.5));
			}
			.gform_footer{
				text-align: center;
				margin: 0;
				padding: 0;
			}

			input.button,
			input[type=submit]{
				background: #8DC63F;
				@include radius(0 5px 5px 0);
				margin-right: 0;
				padding: 15px 20px;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				color: #0D3153;
				font-weight: bold;
				position: absolute;
				right: 0;
				bottom: 0;
			}

			&.gform_validation_error {
				.gform_body {
					ul {
						li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
							max-width: 100% !important;
						}
					}
				}
			}
			li.gfield.gfield_error.gfield_contains_required {
				div.gfield_description{
					max-width: 50%;
				}
			}
		}
	}

	.section-think-boundlessly{
		background: #F8FFF2;
		padding-top: 150px;
		padding-bottom: 250px;
		h2{
			padding-right: 50px;
		}
		.box-things-you-love{
			img{
				margin-bottom: 150px;
			}
			p{
				font-weight: 500;
				font-size: 26px;
				line-height: 150%;
			}
			.btn-green-env{
				color: $color-blue-logo !important;
				margin-top: 40px;
				font-weight: bold;
				&:hover{
					color: #fff !important;
				}
			}
		}
	}
	.section-mission-vision{
		padding-top: 120px;
		padding-bottom: 120px;
		.box-vision{
			padding-top: 120px;
			padding-bottom: 120px;
		}
		.item-vision{
			background: #FFFFFF;
			border: 1px solid #BDBDBD;
			box-sizing: border-box;
			@include box-shadow(0px, 4px, 4px, rgba(0, 0, 0, 0.25));
			@include radius(5px);
			padding: 35px;
			h2{
				font-weight: bold;
				font-size: 36px;
				align-items: center;
				text-align: center;
				color: #828282;
				line-height: 150%;
				position: relative;
				margin-bottom: 45px;
				padding-bottom: 15px;
				&:after{
					content: '';
					display: inline-block;
					width: 150px;
					border-bottom: 2px solid #8DC63F;
					position: absolute;
					bottom: 0;
					left: calc(50% - 75px);
				}
			}
			p{
				font-size: 20px;
				line-height: 150%;
				color: #808080;
			}
		}
	}
	.section-headquarters{
		background: #F2F2F2;
		padding-top: 190px;
		padding-bottom: 90px;
		.embed-video{
			position: relative;
			padding-bottom: 56.25%;
			iframe, object, embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.title-headquarters{
			font-weight: bold;
			font-size: 20px;
			line-height: 150%;
			margin-bottom: 10px;
		}
		.address, .contact{
			font-size: 20px;
			line-height: 150%;
			color: #808080;
			margin-bottom: 25px;
		}
	}
	.section-video-knowledge{
		padding-top: 290px;
		padding-bottom: 160px;
		.title-video{
			font-weight: 500;
			font-size: 26px;
			line-height: 150%;
			font-family: $font-roboto;
			margin-top: 30px;
		}
	}
	.section-find-your-team{
		padding-top: 280px;
		padding-bottom: 280px;
		background: #F8FFF2;
		h2{
			font-weight: bold;
			font-size: 48px;
			line-height: 152.62%;
			text-align: center;
			color: #4F4F4F;
		}
		.get-started-form{
			padding-top: 80px;
		}
	}
	.section-more-about-envzone{
		padding-top: 160px;
		padding-bottom: 260px;
		h2{
			font-weight: bold;
			font-size: 36px;
			line-height: 42px;
			color: #0D3153;
			margin-bottom: 100px;
		}
		.item-about-envzone{
			background: #FFFFFF;
			text-align: center;
			padding: 30px;
			display: block;
			@include shadow-out(0px, 6px, 4px, rgba(0, 0, 0, 0.5));
			@include transition(.3s);
			&:hover{
				background: #375D81;
				h3{
					color: #fff;
				}
			}
			img{
				padding-top: 99px;
				padding-bottom: 60px;
			}
			h3{
				font-weight: 600;
				font-size: 26px;
				line-height: 150%;
				text-align: center;
				color: #808080;
				padding-top: 30px;
				position: relative;
				&:before{
					content: '';
					display: inline-block;
					width: 100px;
					border: 2px solid #8DC63F;
					position: absolute;
					top: 0;
					left: calc(50% - 50px);
				}
			}
		}
	}
	.section-careers-footer{
		background: #F2F2F2;
		padding-bottom: 90px;
		.item-contact-us{
			background: #FFFFFF;
			padding: 50px 20px;
			text-align: center;
			display: block;
			height: 100%;
			@include shadow-out(0px, 6px, 4px, rgba(0, 0, 0, 0.5));
			@include transition(.3s);
			&:hover{
				background: #375D81;
				.note-tag, h3 {
					color: #fff !important;
				}
			}
			.note-tag{
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
				color: #808080;
				padding-bottom: 20px;
			}
			h3{
				font-weight: bold;
				font-size: 28px;
				line-height: 150%;
				color: #808080;
			}
		}
	}
}

.box-why-business{
	background: url("../images/bg-why-your-business.png") no-repeat;
	background-size: cover;
	text-align: center;
	color: $color-white;
	padding: 50px 0;
	h2{
		color: $color-green-logo;
		padding-bottom: 20px;
		font-size: 36px;
		line-height: 55px;
	}
	.description-business{
		font-family: $font-text;
		font-style: normal;
		font-weight: 500;
		font-size: 26px;
		line-height: 37px;
		text-align: center;
		width: 52%;
		margin: auto;
		margin-bottom: 30px;
	}
	.item-reason{
		background: $color-green-logo;
		padding: 15px;
		height: 100%;
		font-size: 1.25rem;
		color: $color-blue-logo;
		i{
			font-size: 2rem;
			color: $color-blue-logo;
		}
	}
	.box-dedicated{
		padding-top: 80px;
		padding-bottom: 30px; 
		h4{
			color: $color-green-logo;
			margin-bottom: 30px;
			font-size: 1.625rem;
			font-weight: bold;
		}
		p{
			text-align: left;
			font-size: 26px;
			font-weight: 500;
		}
	}
	.btn-white-env{
		font-size: 1.5rem;
		font-weight: bold;
		&:hover{
			.icon-arrow-bottom{
				background: url('../images/icon-arrow-bottom-green.png') no-repeat;
				background-size: 100% 100%;
				vertical-align: middle;
			}
		}
		.icon-arrow-bottom{
			@include setBackgroundIcon(20px, "../images/icon-arrow-bottom.png", 10px);
			vertical-align: middle;
			margin-left: 15px;
		}
	}
	.btn-green-env{
		font-size: 24px;
		width: 50%;
		color: #0D3153 !important;
		font-weight: bold;
	}

	&.why-industries{
		background: rgba(13,49,83,.9);
		position: relative;
		.img-industries{
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
		}
	}
}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (min-width: $device-size-extra-large) {

}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen and (min-width: $device-size-large) and (max-width: $device-size-extra-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
	.about-us-page {

	}
	.box-why-business {
		.description-business{
			width: 100%;
			font-size: 1.2rem;
		}
		h2{
			font-size: 1.5rem;
		}
	}

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.about-us-page {

	}


	.box-why-business {
		h2{
			font-size: 28px;
			text-align: center;
			font-weight: bold;
		}
		.description-business{
			font-size: 24px;
			text-align: center;
		}
		.item-reason{
			p{
				font-size: 18px;
			}
		}
		.box-dedicated {
			h4{
				font-size: 26px;
				font-weight: bold;
			}
			p{
				font-size: 20px;
			}
		}
		.btn-white-env{
			font-size: 18px;
			white-space: normal;
			.icon-arrow-bottom{
				width: 20px;
				height: 20px;
			}
		}
	}


}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen and (min-width: $device-size-small) and (max-width: $device-size-medium) {

}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {
	.box-why-business {
		.btn-white-env{
			font-size: 1.2rem;
			white-space: normal;
		}
	}
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
	.about-us-page {

	}
	.box-why-business {
		padding: 50px 0;
		background: $color-blue-logo;
		h2{
			font-size: 24px;
			line-height: 37px;
		}
		.item-reason{
			padding: 10px;
		}
		.btn-white-env{
			font-size: 18px;
			white-space: normal;
			padding: 10px;
		}
		.description-business{
			font-size: 18px;
			line-height: 1.5;
		}
		.box-dedicated {
			padding-top: 30px;
			h4{
				font-size: 24px;
				text-align: left;
				margin-bottom: 15px;
			}
			p{
				font-size: 18px;
			}
		}
		.btn-green-env{
			width: 100%;
			font-size: 18px;
			line-height: 25px;
		}
	}

}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
	.col-mbx-100{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}