.about-us-page{
	padding-bottom: 0 !important;
	.box-introduct{
		width: 50%;
		padding-bottom: 30px;
		margin: auto;
		.title-head-blue{
			text-align: center;
			margin-bottom: 1rem;
		}
		p{
			position: relative;
			>i{
				position: absolute;
				left: -30px;
				top: 3px;
				font-size: 1.5rem;
				color: $color-green-logo;
			}

		}
	}
	.box-two-col-full{
		background: $color-green-logo;
		padding: 100px 0;
		.title-head-blue{
			margin-bottom: 30px;
		}
		.description-different{
			p{
				font-size: 1.8rem;
				color: $color-blue-logo;
				padding-right: 30%;
			}
		}
		.list-different{
			width: 100%;
			li{
				background: $color-blue-logo;
				padding: 5px 20px;
				font-size: 1.3rem;
				color: $color-white;
				margin-bottom: 30px;
				min-height: 72px;
			}
		}
	}

	.box-what-we-see{
		.title-head-blue{
			margin-bottom: 30px;
		}
		.box-blue{
			background: $color-blue-logo;
			color: $color-white;
			padding: 20px;
			height: 100%;
			h3{
				color: $color-green-logo;
				padding-bottom: 30px;
				text-align: center;
			}
		}
	}



}

.box-why-business{
	background: url("../images/bg-why-business.png") no-repeat;
	background-size: cover;
	text-align: center;
	color: $color-white;
	padding: 100px 0;
	h2{
		color: $color-green-logo;
	}
	.description-business{
		font-size: 1.5rem;
		font-weight: 400;
		width: 50%;
		margin: auto;
		margin-bottom: 30px;
	}
	.item-reason{
		background: $color-green-logo;
		padding: 15px;
		i{
			font-size: 2rem;
			color: $color-blue-logo;
		}
	}
	.box-dedicated{
		padding: 30px 0;
		h4{
			color: $color-green-logo;
			margin-bottom: 30px;
		}
		p{
			text-align: left;
		}
	}
}
