.about-us-page{
	padding-bottom: 0 !important;
	.box-introduct{
		width: 60%;
		padding-bottom: 30px;
		margin: auto;
		.title-head-blue{
			text-align: center;
			margin-bottom: 1rem;
		}
		p{
			position: relative;
			font-size: 1.625rem;
			line-height: 37px;
			>i{
				position: absolute;
				left: -40px;
				top: 3px;
				font-size: 2.5rem;
				color: $color-green-logo;

			}

		}
	}
	.box-two-col-full{
		background: $color-green-logo;
		padding-top: 100px;
		padding-bottom: 50px;
		.title-head-blue{
			margin-bottom: 30px;
		}
		.description-different{
			p{
				font-size: 30px;
				color: $color-blue-logo;
				padding-right: 20%;
				font-weight: 600;
			}
		}
		.list-different{
			width: 100%;
			li{
				background: $color-blue-logo;
				padding: 5px 20px;
				font-size: 20px;
				color: $color-white;
				margin-bottom: 30px;
				min-height: 72px;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		.btn-white-env{
			width: 50%;
			&:hover{
				border-color: $color-blue-logo;
				color: $color-blue-logo !important;
			}
		}
	}
	.box-what-we-see{
		.title-head-blue{
			margin-bottom: 30px;
		}
		.box-blue{
			background: $color-blue-logo;
			color: $color-white;
			padding: 20px;
			height: 100%;
			h3{
				color: $color-green-logo;
				padding-bottom: 30px;
				text-align: center;
				font-size: 36px;
				font-weight: bold;
			}
			p{
				font-size: 20px;
			}
		}
	}



}

.box-why-business{
	background: url("../images/bg-why-your-business.png") no-repeat;
	background-size: cover;
	text-align: center;
	color: $color-white;
	padding: 50px 0;
	h2{
		color: $color-green-logo;
		padding-bottom: 20px;
		font-size: 36px;
		line-height: 55px;
	}
	.description-business{
		font-family: $font-text;
		font-style: normal;
		font-weight: 500;
		font-size: 26px;
		line-height: 37px;
		text-align: center;
		width: 52%;
		margin: auto;
		margin-bottom: 30px;
	}
	.item-reason{
		background: $color-green-logo;
		padding: 15px;
		height: 100%;
		font-size: 1.25rem;
		color: $color-blue-logo;
		i{
			font-size: 2rem;
			color: $color-blue-logo;
		}
	}
	.box-dedicated{
		padding-top: 80px;
		padding-bottom: 30px; 
		h4{
			color: $color-green-logo;
			margin-bottom: 30px;
			font-size: 1.625rem;
			font-weight: bold;
		}
		p{
			text-align: left;
			font-size: 26px;
			font-weight: 500;
		}
	}
	.btn-white-env{
		font-size: 1.5rem;
		font-weight: bold;
		.icon-arrow-bottom{
			@include setBackgroundIcon(30px, "../images/icon-arrow-down.svg");
			vertical-align: middle;
			margin-left: 15px;
		}
	}

	.btn-green-env{
		font-size: 24px;
		width: 50%;
		color: #0D3153 !important;
		font-weight: bold;
	}

	&.why-industries{
		background: rgba(13,49,83,.9);
		position: relative;
		.img-industries{
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
		}
	}
}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (min-width: $device-size-extra-large) {

}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen and (min-width: $device-size-large) and (max-width: $device-size-extra-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
	.about-us-page {
		.box-introduct{
			width: 100%;
			padding-left: 30px;
			.title-head-blue{
				text-align: left;
			}
		}
		.box-two-col-full {
			padding: 50px 0;
			.list-different {
				li{
					min-height: 70px;
					@include display-flex;
					@include align-items(center);
				}
			}
			.description-different {
				p{
					padding-right: 0;
					font-size: 1.5rem;
				}
			}
		}
	}
	.box-why-business {
		.description-business{
			width: 100%;
			font-size: 1.2rem;
		}
		h2{
			font-size: 1.5rem;
		}
	}

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.about-us-page {
		.box-introduct {
			p{
				font-size: 18px;
			}
		}
		.box-two-col-full {
			.title-head-blue{
				margin-bottom: 0;
			}
			.description-different {
				p{
					font-size: 18px;
				}
			}
			.list-different {
				li{
					font-size: 16px;
					min-height: 50px;
				}
			}
		}
		.btn-white-env{
			width: 100%;
		}
		.box-what-we-see {
			.box-blue {
				h3{
					padding-bottom: 20px;
					font-size: 22px;
				}
				p{
					font-size: 18px;
				}
			}
		}
	}


	.box-why-business {
		h2{
			font-size: 28px;
			text-align: center;
			font-weight: bold;
		}
		.description-business{
			font-size: 24px;
			text-align: center;
		}
		.item-reason{
			p{
				font-size: 18px;
			}
		}
		.box-dedicated {
			h4{
				font-size: 26px;
				font-weight: bold;
			}
			p{
				font-size: 20px;
			}
		}
		.btn-white-env{
			font-size: 18px;
			white-space: normal;
			.icon-arrow-bottom{
				width: 20px;
				height: 20px;
			}
		}
	}


}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen and (min-width: $device-size-small) and (max-width: $device-size-medium) {

}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {
	.box-why-business {
		.btn-white-env{
			font-size: 1.2rem;
			white-space: normal;
		}
	}
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
	.about-us-page {
		.box-two-col-full {
			.title-head-blue{
				margin-bottom: 0;
			}
			.description-different {
				p{
					font-size: 1.125rem;
				}
			}
			.list-different {
				li{
					font-size: 1rem;
				}
			}
		}

		.box-what-we-see {
			.title-head-blue{
				margin-bottom: 0;
			}
		}
	}
	.box-why-business {
		padding: 50px 0;
		.item-reason{
			padding: 10px;
		}
		.btn-white-env{
			font-size: 18px;
			white-space: normal;
			padding: 10px;
		}
		.description-business{
			font-size: 18px;
		}
		.box-dedicated {
			h4{
				font-size: 24px;
			}
			p{
				font-size: 18px;
			}
		}
	}

}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
	.col-mbx-100{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}