.banner-careers{
  h2{
    -webkit-transform: translate(-50%) !important;
    -moz-transform: translate(-50%) !important;
    -ms-transform: translate(-50%) !important;
    transform: translate(-50%) !important;
  }
}
.careers-page{
  .img-careers{
    margin-top: -30%;
  }
  .box-careers{
    padding: 30px 0;
    font-size: 26px;
    color: #808080;
    h4{
      padding-bottom: 15px;
      padding-top: 15px;
      text-align: center;
      border-top: 2px solid $color-gray-border;
      border-bottom: 1px solid $color-gray-border;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: bold;
    }
  }
  .btn-green-env{
    font-size: 25px;
    font-weight: bold;
  }
  .article-benefits{
    h4{
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }
    .item-benefit{
      text-align: center;
      margin-bottom: 30px;
      p{
        color: $color-blue-lv1;
        font-size: 30px;
        font-weight: 600;
      }
      .icon-insurance{
        @include setBackgroundIcon(100px, "../images/icon-insurance.svg");
      }
      .icon-discounte-gym{
        @include setBackgroundIcon(100px, "../images/icon-discounte-gym.svg");
      }
      .icon-medical{
        @include setBackgroundIcon(100px, "../images/icon-medical.svg");
      }
      .icon-commuter-program{
        @include setBackgroundIcon(100px, "../images/icon-commuter-program.svg");
      }
      .icon-vacation-pto{
        @include setBackgroundIcon(100px, "../images/icon-vacation-pto.svg");
      }
      .icon-stocked-kitchen{
        @include setBackgroundIcon(100px, "../images/icon-stocked-kitchen.svg");
      }

    }
  }
}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (max-width: $device-size-extra-large) {
  .banner-careers{
    h2{
      left: 50% !important;
      -webkit-transform: translate(-50%) !important;
      -moz-transform: translate(-50%) !important;
      -ms-transform: translate(-50%) !important;
      transform: translate(-50%) !important;
    }
  }
  .careers-page {
    .img-careers {
      margin-top: -20%;
    }
  }
}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen and (min-width: $device-size-large) and (max-width: $device-size-extra-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
  .careers-page {
    .box-careers{
      font-size: 18px;
    }
  }
}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen and (min-width: $device-size-small) and (max-width: $device-size-medium) {

}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {

}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {

}