.client-focused-solutions-page{
  .box-green{
    padding: 30px 50px 30px 30px;
    background: $color-green-logo;
    .title-blue-center{
      padding-right: 40px!important;
      color: $color-blue-logo;
      font-size: 36px;
      line-height: 55px;
      padding-right: 30%;
      font-weight: bold;
    }
    .box-info{
      h3{
        font-size: 26px;
        margin-bottom: 15px;
        font-weight: 600;
      }
      p{
        font-size: 20px;
        color: $color-white;
        font-weight: 500;
      }
    }
  }
  .box-staff{
    .box-paragraph{
      article.paragraph{
        text-align: right;
        p{
          text-align: left;
          font-size: 20px;
        }
        .learn-more{
          color: $color-blue-logo;
          display: inline-block;
          font-size: 20px;
          text-align: right;
          margin-top: 24px;
        }
      }
    }
    .box-img{
      position: relative;
      padding: 0;
      h3{
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
        color: $color-green-logo;
        font-size: 36px;
        font-weight: bold;
        white-space: normal;
        padding: 15px;
        text-align: center;
        width: 100%;
      }
      img{
        width: 100%;
      }
    }
  }
}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (min-width: $device-size-extra-large) {

}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen and (min-width: $device-size-large) and (max-width: $device-size-extra-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
  .client-focused-solutions-page {
    .box-green {
      margin-bottom: 30px;
      .title-blue-center{
        padding-right: 0;
        padding-bottom: 30px;
        font-size: 24px;
        line-height: 1.5;
      }
      .box-info {
        h3{
          font-size: 24px;
        }
        p{
          font-size: 18px;
        }

      }
    }
    .box-staff {
      .box-paragraph {
        article.paragraph{
          padding: 30px 0;
        }
      }
    }
  }

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
  .client-focused-solutions-page {
    .box-staff {
      .box-paragraph {
        article.paragraph {
          p{
            font-size: 18px;
          }
          .learn-more{
            font-size: 22px;
          }
        }
      }
      .box-img {
        overflow: hidden;
        img{
          width: auto;
          max-width: initial;
          height: 100%;
          margin-left: -30%;
        }
      }
    }
  }
}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen and (min-width: $device-size-small) and (max-width: $device-size-medium) {

}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {

}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  .client-focused-solutions-page {
    .box-green {
      margin-bottom: 0;
      padding: 20px 0;
      .title-blue-center{
        font-size: 1.5rem;
      }
      .box-info {
        h3{
          font-size: 22px;
          font-weight: 700;
        }
      }
    }

    .box-staff {
      .box-img {
        img{
          margin-left: 0;
          height: auto;
          width: 100%;
        }
        h3{
          font-size: 24px;
          font-weight: bold;
        }
      }

      .box-paragraph {
        article.paragraph {
          .learn-more{
            font-size: 20px;
          }
        }
      }
    }
  }
}