.contact-us-page{
	.box-form-contact{
		margin-bottom: 100px;
		.title-head-blue{
			text-transform: inherit;
			padding-bottom: 80px;
		}
		.process-step-working{
			margin-bottom: 50px;
		}
		p{
			font-size: 26px;
		}
		a{
			text-decoration: underline;
			color: #808080;
		}
		.box-litter{
			p{
				font-size: 20px;
			}
			a{
				font-size: 20px;
				display: inline-block;
			}
		}
		.btn-green-env{
			font-size: 25px;
			font-weight: bold;
		}
		.box-header{
			font-size: 26px;
		}
	}
	.link-blue{
		color: #0D3153;
	}
	.link-underline{
		text-decoration-line: underline;
		color: #0D3153;
	}
	.box-contact-topic{
		border: 1px solid $color-gray-border;
		.label-header{
			padding: 15px;
			background: $color-blue-logo;
			text-align: center;
			color: $color-white;
			font-size: 1.5rem;
		}
		article{
			padding: 15px;
			h4{
				font-size: 1.2rem;
				font-weight: bold;
				margin-bottom: 10px;
			}
			.name-label{
				color: $color-black;
				font-size: 17px;
			}
			a{
				color: #0D3153;
				text-decoration: underline;
			}

		}
	}

	.box-visit-envzone{
		.col-green{
			width: 40%;
			float: left;
			height: 100%;
			background: $color-green-logo;
			padding: 30px;
			color: $color-black;
			h4{
				padding-bottom: 30px;
				font-size: 1.4rem;
			}
		}
		.box-img{
			width: 60%;
			float: left;
		}
	}

	.btn-green-env.btn-100{
		width: 100%;
	}
	.icon-direction{
		@include setBackgroundIcon(25px, "../images/icon-direction.svg");
		vertical-align: bottom;
	}

	.international-header{
		font-size: 1.5rem;
		color: $color-black;
		padding: 30px 0;
		padding-bottom: 15px;
	}
	.international-office{
		color: $color-black;
		h5{
			padding-bottom: 15px;
			padding-top: 15px;
		}
	}
	.title-visit-offices{
		font-size: 20px;
		color: #0D3153;
		font-weight: 600;
		margin-bottom: 15px;
	}
}

/* =================== RESPONSIVE ======================= */

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {
	.contact-us-page {
		.box-visit-envzone {
			.box-img {
				img {
					height: 100%;
				}
			}
		}
	}

	.contact-us-page {
		background: #F2F2F2;
		.box-visit-envzone {
			.col-green{
				width: 100%;
				height: auto;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				background: $color-white;
				color: #4F4F4F;
				h4{
					font-size: 18px;
					font-weight: bold;
				}
				p{
					font-size: 18px;
				}
			}
			.box-img{
				width: 100%;
				img{
					width: 100%;
				}
			}

		}
		.international-office{
			padding-bottom: 30px;
			h5{
				font-size: 18px;
				font-weight: 600;
			}
		}
		.international-header{
			font-size: 26px;
			font-weight: bold;
			color: #4F4F4F;
		}
		.btn-green-env{
			font-weight: 600;
		}
		.box-international{
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			background: $color-white;
			img{
				width: 100%;
			}
			.box-info{
				padding: 15px;
				.title-offices{
					color: #4F4F4F;
				}
				p{
					font-size: 18px;
					color: #4F4F4F;
				}
			}
		}
		.box-header{
			.title-head-blue{
				font-size: 28px;
			}
		}
		.box-form-contact {
			p{
				font-size: 18px;
			}
		}
	}
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.contact-us-page {
		background: #F2F2F2;
		.box-visit-envzone {
			.col-green{
				width: 100%;
				height: auto;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				background: $color-white;
				color: #4F4F4F;
				h4{
					font-size: 18px;
					font-weight: bold;
				}
				p{
					font-size: 18px;
				}

			}
			.box-img{
				width: 100%;
				img{
					width: 100%;
				}
			}

		}
		.international-office{
			padding-bottom: 30px;
			h5{
				font-size: 18px;
				font-weight: 600;
			}
		}
		.international-header{
			font-size: 26px;
			font-weight: bold;
			color: #4F4F4F;
		}
		.btn-green-env{
			font-weight: 600;
			color: $color-blue-logo !important;
		}
		.box-international{
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			background: $color-white;
			img{
				width: 100%;
			}
			.box-info{
				padding: 15px;
				.title-offices{
					color: #4F4F4F;
				}
				p{
					font-size: 18px;
					color: #4F4F4F;
				}
			}
		}
		.box-header{
			.title-head-blue{
				font-size: 28px;
				padding-bottom: 50px;
			}
		}

		.box-form-contact {
			margin-bottom: 0;
			.process-step-working{
				margin-bottom: 30px;
			}
			p{
				font-size: 18px;
			}
			.box-litter{
				p, a{
					font-size: 16px;
				}
			}
		}
	}
}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {

}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
	.contact-us-page {
		.box-header {
			.title-head-blue{
				font-size: 24px;
			}
		}
		.box-form-contact {
			.btn-green-env{
				font-size: 18px;
			}
		}
		.title-head-blue{
			font-size: 24px;
			font-weight: 600;
		}
	}
}