.is-envzone-a-fit-page{
  .box-customer-support{
    margin-bottom: 30px;
  }
  .box-unique-approach{
    background: $color-blue-logo;
    color: white;
    padding: 30px;
    font-size: 1.25rem;
    .btn{
      white-space: normal;
      color: $color-blue-logo !important;
      font-weight: bold;
    }
    .big{
      font-size: 3rem;
      color: $color-green-logo;
      font-weight: bold;
    }
    .list-checked{
      margin-bottom: 30px;
      li{
        position: relative;
        padding-left: 30px;
        i{
          position: absolute;
          left: 5px;
          top: 5px;
          color: $color-green-logo;
        }
      }
    }
  }
}