/* =================== HEADER ======================= */
header {}

/* =================== NAVIGATION ======================= */
nav {
    background: $color-blue-logo;

    &.stick {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .box-logo-home {
        padding: .5rem;

        >img {
            height: 35px;
        }
    }

    ul.menu-contact {
        .nav-item {
            &:last-child{
              .nav-link{
                &:before{
                  content: "|";
                  display: inline-block;
                  position: relative;
                  left: -15px;
                }
              }
            }
            span {
                font-size: 1rem;
                font-family: $font-menu;
                color: $color-white;
                line-height: 40px;
                padding: .7rem 1.5rem;
                padding-left: 0;
            }

            .nav-link {
                color: $color-white;
              padding: 0;
            }

            .icon-typical-phone {
                @include setBackgroundIcon(20px, "../images/icon-typical-phone.svg");
                vertical-align: middle;
                margin-right: 5px;
            }

            .icon-close-mail {
                @include setBackgroundIcon(20px, "../images/icon-close-envelope.svg");
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }

    ul.main-menu {
        .nav-item {
            &:hover {
                .sub-menu {
                    display: block !important;
                }
            }

            .nav-link {
                font-size: 1rem;
                font-family: $font-menu;
                color: $color-white;
                line-height: 40px;
                padding: .7rem 1.5rem;
                position: relative;

                &:hover,
                &.active {
                    &:before {
                        content: " ";
                        display: inline-block;
                        width: 30px;
                        height: 3px;
                        background: $color-green-logo;
                        position: absolute;
                        bottom: .8rem;
                        left: 1.5rem;
                    }

                    .icon-search {
                        @include setBackgroundIcon(20px, '../images/icon-search-active.png');
                    }
                }

                &.btn-search {

                    &:hover,
                    &.active {
                        &:before {
                            display: none;
                        }
                    }
                }

                .icon-search {
                    @include setBackgroundIcon(20px, '../images/icon-search.png');
                    vertical-align: middle;
                }

                &[aria-expanded="true"] {
                    .icon-search {
                        @include setBackgroundIcon(20px, '../images/icon-close-green.png');
                        background-position: center center;

                    }
                }
            }
        }
    }

    .icon-search {
      @include setBackgroundIcon(20px, '../images/icon-search.png');
      vertical-align: middle;
    }

    .nav-link[aria-expanded="true"] {
      .icon-search {
        @include setBackgroundIcon(20px, '../images/icon-close-green.png');
        background-position: center center;

      }
    }

    /* =================== SUB MENU ======================= */
    .sub-menu {
        z-index: 99;
        background: $color-blue-logo;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
		display: none;
    }

	.box-sub-menu{
		padding: 50px 0;
		h3{
			color: $color-green-logo;
			font-weight: bold;
		}
		p{
			color: $color-white;
		}
		article{
			padding-bottom: 20px;
		}
		.title-submenu{
			color: $color-green-logo;
			font-size: 24px;
			padding-bottom: 15px;
		}
		.title-contact{
			font-size: 1.5rem;
			color: $color-green-logo;
		}

		input, textarea{
		width: 100%;
		background: transparent;
		border-radius: 3px;
		border: 1px solid $color-gray-border;
		padding: 10px;
		margin-bottom: 30px;
		color: $color-white;
		resize: none;
		}
		::placeholder { 
		color: $color-white;
		opacity: 1; 
		font-weight: 100;
		}

		:-ms-input-placeholder { 
		color: $color-white;
		font-weight: 100;
		}

		::-ms-input-placeholder { 
		color: $color-white;
		font-weight: 100;
		}
		.btn-send-message{
			color: $color-green-logo !important;
		}
		
	}

    /* =================== BOX SEARCH ======================= */
    #detailBoxSearch {
        z-index: 99;
        background: $color-blue-logo;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        .box-search {
            padding: 30vh 20%;
        }

        label {
            color: $color-green-logo;
            text-transform: uppercase;
            padding-bottom: 15px;
        }

        input.input-search {
            background: transparent;
            border: none;
            border-bottom: 1px solid $color-gray-text;
            width: calc(100% - 40px);
            color: $color-white;
            font-size: 2rem;
        }

        .icon-search {
            @include setBackgroundIcon(20px, '../images/icon-search-active.png');
        }
    }
}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (min-width: $device-size-extra-large) {
    nav {
        #detailBoxSearch {
            .reset-col-2 {
                @include flex(20%);
                max-width: 20%;
                padding-bottom: 30px;
            }
        }
    }
}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen and (min-width: $device-size-large) and (max-width: $device-size-extra-large) {}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
    nav {
      .toolbar-top{
        padding: 5px 15px;
        .logo-envzone-mobile{
          img{
            height: 25px;
          }
        }
      }
      ul.menu-contact{
        .nav-item{
          .nav-link{
            padding: .2rem 1rem;
            span{
              display: none;
            }
          }
        }
      }
        ul.main-menu {
          width: 100%;
            .nav-item {
                .nav-link {
                    padding: .7rem 1rem;
                  padding-left: 0;
                }
            }
        }
    }
}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
    nav {
      #detailBoxSearch {
        input.input-search{
          font-size: 1rem;
        }
      }
        .btn-menu-mobile {
            outline: none;
            padding: 1rem;
            color: $color-green-logo;
        }
      ul.main-menu {
        .nav-item {
          .nav-link{
            padding: .5rem;
            font-size: .8rem;
          }
        }
      }
    }
}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen and (min-width: $device-size-small) and (max-width: $device-size-medium) {}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  nav {
    .box-sub-menu {
      padding-bottom: 0;
      .title-submenu{
        font-size: 1.2rem;
      }
      p{
        display: none;
      }
    }
  }
}

/* 	================================================================
	MOBILE DEVICE
	Mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
  nav {
    ul.main-menu {
      .nav-item {
        .nav-link{
          padding: 5px;
          font-size: .7rem;
        }
      }
    }
    ul.menu-contact {
      .nav-item {
        .nav-link{
          padding: .2rem .5rem;
        }
      }
    }
  }
}