/* =================== HEADER ======================= */
header {}

/* =================== NAVIGATION ======================= */
nav {
    background: $color-blue-logo;
    &.stick {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .box-logo-home {
        a{
            position: absolute;
            display: inline-block;
            top: -17px;
        }
        >img {
            height: 35px;
        }
    }
    .icon-plus-green{
        @include setBackgroundIcon(15px, '../images/icon-plus-green.svg');
        margin-right: 3px;
    }
    ul.menu-contact {
        margin-top: 10px;
        .nav-item {
            &:nth-child(2){
                .nav-link {
                    &:hover{
                        span{
                            color: $color-white;
                        }
                    }
                }
            }
            span {
                font-size: 18px;
                font-weight: bold;
                font-family: $font-pt-san;
                color: $color-white;
                line-height: 40px;
                padding: .7rem 1.5rem;
                padding-left: 0;
            }
            &:last-child{
                .nav-link {
                    span {
                        padding-right: 0;
                    }
                }
            }


            .nav-link {
                color: $color-white;
                padding: 0;
                &:hover{
                    .icon-schedule-appointment {
                        @include setBackgroundIcon(20px, "../images/icon-schedule-appointment-white.svg");
                    }
                    span{
                        color: $color-green-logo;
                    }
                }
            }
            .icon-typical-phone {
                @include setBackgroundIcon(20px, "../images/icon-typical-phone.svg");
                vertical-align: middle;
                margin-right: 5px;
            }

            .icon-schedule-appointment {
                @include setBackgroundIcon(20px, "../images/icon-schedule-appointment.svg");
                vertical-align: middle;
                margin-right: 5px;
            }

            &.btn-schedule{
                margin-right: 30px;
                .nav-link{
                    background: $color-green-logo;
                    border-radius: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    display: inline-block;
                    height: 35px;
                    line-height: 35px;
                }
                span{
                    line-height: inherit;
                    color: $color-blue-logo;
                    padding-right: 0;
                }
                &:hover{
                    .nav-link{
                        span{
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }

    ul.main-menu {
        .nav-item {
            &:hover {
                .sub-menu {
                    display: block !important;
                }
            }
            &:last-child{
                .nav-link{
                    padding-right: 0;
                }
            }

            &:hover,
            &.active {
                &:after {
                    content: " ";
                    display: inline-block;
                    width: calc(100% - 3rem);
                    height: 1px;
                    background: $color-green-logo;
                    position: relative;
                    bottom: 32px;
                    left: -1.5rem;
                }
            }
            &:last-child{
                &:after{
                    display: none !important;
                }
            }
            .nav-link {
                font-size: 1rem;
                font-family: $font-menu;
                color: $color-white;
                padding: 18px 24px;
                position: relative;
                font-weight: bold;
                padding-bottom: 12px;
                line-height: 30px;
                &:hover,
                &.active {
                    .icon-search {
                        @include setBackgroundIcon(20px, '../images/icon-search-active.png');
                    }
                }

                &.btn-search {

                    &:hover,
                    &.active {
                        &:before {
                            display: none;
                        }
                    }
                }

                .icon-search {
                    @include setBackgroundIcon(20px, '../images/icon-search.png');
                    vertical-align: middle;
                }


                &.active {
                    .icon-search {
                        @include setBackgroundIcon(20px, '../images/icon-close-green.png');
                        background-position: center center;

                    }
                }
            }
        }
    }

    .icon-search {
      @include setBackgroundIcon(20px, '../images/icon-search.png');
      vertical-align: middle;
    }
    .icon-close-green {
      @include setBackgroundIcon(20px, '../images/icon-close-green.png');
      vertical-align: middle;
    }

    .close-menu-mb{
      display: none !important;
      &.active{
        display: table-cell !important;
      }
    }
    .btn-search{
      &.active{
        .icon-search {
          @include setBackgroundIcon(20px, '../images/icon-close-green.png');
          background-position: center center;

        }
      }
    }


    .box-direction-menu{
      display: none;
    }
    /* =================== SUB MENU ======================= */
    .sub-menu {
        z-index: 1000;
        background: $color-blue-logo;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
		display: none;
    }

	.box-sub-menu{
		padding: 50px 0;
		h3{
			color: #fff;
			font-weight: bold;
            font-size: 26px;
            margin-bottom: 50px !important;
		}
        .sub-title-form{
            font-weight: bold;
            line-height: 140%;
            font-size: 18px;
            color: $color-white;
            margin-bottom: 15px;
        }
		p{
			color: $color-white;
            line-height: 28px;
            font-size: 20px;
		}
		article{
            padding-bottom: 0;
            border: 1px solid #E0E0E0;
            text-align: center;
            vertical-align: middle;
            margin-bottom: 30px;
            border-top: 3px solid #8DC63F;
            >p{
              font-size: 18px;
              line-height: 25px;
            }
		}
		.title-submenu{
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            padding: 32px 0;
            width: 100%;
            &:hover{
                background: #45678A;
            }
		}
		.title-contact{
			font-size: 22px;
            font-weight: bold;
			color: $color-green-logo;
            line-height: 31px;
            margin-bottom: 10px;
		}

		input, textarea{
            width: 100%;
            background: transparent;
            border-radius: 3px;
            border: 1px solid $color-gray-border;
            padding: 10px;
            margin-bottom: 30px;
            color: $color-white;
            resize: none;
		}
		::placeholder { 
		color: $color-white;
		opacity: 1; 
		font-weight: 100;
		}

		:-ms-input-placeholder { 
		color: $color-white;
		font-weight: 100;
		}

		::-ms-input-placeholder { 
		color: $color-white;
		font-weight: 100;
		}
		.btn-send-message{
			color: $color-blue-logo !important;
            width: 100%;
            font-size: 18px;
            font-weight: bold;
		}
		
	}

    /* =================== BOX NAV VENDORS ======================= */
    .nav-vendor{
        border-top: 3px solid $color-green-logo;
        padding-bottom: 80px;

        .vendor-university{
            h3{
                font-weight: bold;
                font-size: 36px;
                line-height: normal;
                text-align: left;
                color: #fff;
            }
            .title-head{
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
                color: #fff;
                margin-bottom: 15px;
                display: block;
            }
            p{
                font-size: 16px;
            }
            .list-step-process{
                margin-left: 30px;
                .step{
                    color: #fff;
                    font-size: 16px;
                    line-height: 30px;
                    padding: 10px;
                    &:before{
                        content: "";
                        @include setBackgroundIcon(15px, '../images/icon-checked-vendor.svg');
                        margin-right: 10px;
                    }
                }
            }
        }
        .box-sign-up{
            text-align: center;
            border: none;
            border-bottom: 1px solid #E0E0E0;
            margin-bottom: 15px;
            padding-bottom: 30px;
            .item-sign-up{
                width: calc(50% - 35px);
                border: 1px solid;
                color: #E0E0E0;
                padding: 30px 10px;
                margin-bottom: 10px;
                &:hover{
                    background: $color-blue-lv4;
                    cursor: pointer;
                }
                h4{
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 10px;
                    color: #fff;
                    text-transform: uppercase;
                }
                p{
                    font-size: 16px;
                }
            }
            .icon-sign-up-now{
                @include setBackgroundIcon(80px, '../images/icon-sign-up-now.svg');
                margin-bottom: 20px;
            }
            .icon-already-verified{
                margin-bottom: 20px;
                @include setBackgroundIcon(80px, '../images/icon-already-verified.svg');
            }

        }
        .description-nav-vendor{
            color: #fff;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }

    /* =================== BOX SEARCH ======================= */
    #detailBoxSearch {
        z-index: 1000;
        background: $color-blue-logo;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        transition: .3s;
        &.show-obj{
          display: block;
        }
        .box-search {
            padding: 30vh 20%;
        }


        label {
            color: $color-green-logo;
            text-transform: uppercase;
            padding-bottom: 15px;
        }

        input.input-search {
            background: transparent;
            border: none;
            border-bottom: 1px solid $color-gray-text;
            width: calc(100% - 40px);
            color: $color-white;
            font-size: 2rem;
        }

        .icon-search {
            @include setBackgroundIcon(20px, '../images/icon-search-active.png');
        }
    }




}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (min-width: $device-size-extra-large) {
    nav {
        #detailBoxSearch {
            .reset-col-2 {
                @include flex(20%);
                max-width: 20%;
                padding-bottom: 30px;
            }
        }
    }
}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen and (min-width: $device-size-large) and (max-width: $device-size-extra-large) {}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
    nav {
      .toolbar-top{
        padding: 5px 15px;
        .logo-envzone-mobile{
          img{
            height: 35px;
          }
        }
      }
      ul.menu-contact{
        .nav-item{
          .nav-link{
            padding: .2rem 1rem;
            span{
              display: none;
            }
          }
        }
      }
        ul.main-menu {
          width: 100%;
            .nav-item {
                .nav-link {
                    padding: .7rem 1rem;
                  padding-left: 0;
                }
            }
        }
    }
}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {

    .d-none-768{
        display: none !important;
    }
    .d-block-768{
        display: block !important;
    }
    .d-inline-block-768{
        display: inline-block !important;
    }
    nav {
      #detailBoxSearch {
        input.input-search{
          font-size: 1rem;
        }
      }
      .btn-menu-mobile {
          outline: none;
          padding: 1rem;
          color: $color-green-logo;
      }
      ul.main-menu {
        .nav-item {
          .nav-link{
            padding: 25px 17px;
            font-size: 16px;
          }
        }
      }
        ul.menu-contact{
            margin-top: 0;
        }


      .menu-bar-mobile{
        @include setBackgroundIcon(60px, "../images/icon-menu-bar.png", 60px, auto);
        vertical-align: middle;
        border-right: .5px solid #828282;
        margin-right: 10px;
        transition: .3s;
        &.active{
          display: none !important;
        }
      }
    }


    //menu mobile
    nav {
        ul.main-menu {
            -webkit-box-orient: vertical!important;
            -webkit-box-direction: normal!important;
            -ms-flex-direction: column!important;
            flex-direction: column!important;
            .nav-item{
                &:hover, &.active {
                    &:after{
                        display: none;
                    }
                    .sub-menu{
                        display: none !important;
                    }
                }
                &:hover{
                    &:before{
                        display: none;
                    }
                }

                &.active{
                    &:before{
                        display: none;
                    }
                }
                .sub-menu{
                    &.show-submenu{
                        display: block !important;
                        height: 100vh;
                        top: 0;
                    }
                }
            }

        }

        nav ul.main-menu .nav-item .nav-link:hover:before,
        nav ul.main-menu .nav-item .nav-link.active:before

        .menu-bar-mobile{
            display: inline-block !important;
            i{
                color: $color-green-logo;
                font-size: 1.8rem;
            }
        }
        .toolbar-top{
            padding: 0;
            .logo-envzone-mobile{
                padding: 12px;
                &.d-hidden{
                    display: none !important;
                }
            }

        }

        .title-category{
            color: #E0E0E0;
            display: none !important;
            padding-left: 10px;
            font-family: $font-roboto;
            font-weight: bold;
            &.active{
                display: inline-block !important;
            }
        }

        .btn-hide-submenu{
            display: none !important;
            background: $color-green-logo;
            &.active{
                display: inline-block !important;
            }
            .icon-left-arrow-blue{
                @include setBackgroundIcon(60px, "../images/icon-left-arrow-blue.png", 60px, auto);
                vertical-align: middle;
            }

        }
        #detailBoxSearch{
            top: 0;
            left: auto;
            right: 65px;
            width: 0;
            transition: .3s;
            &.show-obj{
                width: calc(100% - 140px);
                input.input-search{
                    padding-left: 30px;
                }
            }
            >.row{
                margin: 0;
            }
            input.input-search{
                width: 100%;
                height: 60px;
                border-bottom: none;
                padding-left: 0;
            }

            label{
                display: none;
            }
            .btn-search{
                display: none;
            }
            .box-search{
                padding: 0;
            }
        }
        .btn-search{
            height: 60px;
            display: table-cell;
            vertical-align: middle;
        }

        .icon-arrow-right{
            @include setBackgroundIcon(20px, "../images/icon-right-arrow.svg");
            position: absolute;
            right: 10px;
            top: 30px;
            z-index: 9;
        }
        .box-sub-menu{
            .icon-arrow-right{
                top: 20px;
            }
        }
        #menuBarMobile{
            position: absolute !important;
            left: -100%;
            top: 100%;
            z-index: 9999;
            background: $color-blue-logo;
            width: 320px;
            padding: 0;
            margin: 0;
            height: auto;
            min-height: calc(100vh - 50px);
            transition: .5s;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
            &.show-obj{
                left: 0;
            }
            .nav-item{
                position: static;
                &:first-child{
                    .nav-link{
                        border-top: .5px solid #828282;
                    }
                }
            }
            .nav-link{
                text-align: left;
                border-bottom: .5px solid #828282;
                color: #E0E0E0;
                font-family: $font-roboto;
                &.item-call{
                    background: $color-blue-lv4;
                    .icon-phone-call{
                        @include setBackgroundIcon(30px, "../images/icon-phone-call.svg");
                        vertical-align: middle;
                    }
                }
            }
            &.collapse{
                display: none;
                &.show{
                    display: block;
                }
            }
        }
        .box-direction-menu{
            display: block;
            width: 100%;
            color: #E0E0E0;
            border-bottom: 1px solid #828282;
            .location-address{
                padding: 30px 10px;
                span{
                    padding: 0 10px;
                    font-family: $font-roboto;
                }
                .icon-direction{
                    @include setBackgroundIcon(40px, "../images/icon-direction-mb.svg");
                }
                .icon-right-arrow{
                    @include setBackgroundIcon(20px, "../images/icon-right-arrow.svg");
                }
            }
            .box-portal{
                border-top: 1px solid $color-white;
                a{
                    color: $color-white;
                    text-align: center;
                    padding: 20px;
                    font-weight: bold;
                }
                .client-portal{
                    width: 50%;
                    float: left;
                    border-right: 1px solid $color-white;

                }
                .vendor-portal{
                    width: 50%;
                    float: left;
                }
            }
        }

        .box-sub-menu {
            padding-bottom: 0;
            padding-top: 0;
            .element-sub{
                border-bottom: .5px solid #828282;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                &:first-child{
                    border-top: .5px solid #828282;
                }
            }
            article{
                padding: 0;
                border: none;
                text-align: left;
                margin-bottom: 0;
            }
            .title-submenu{
                font-size: 1rem;
                color: #E0E0E0;
                padding: 18px 0;
                display: block;
                font-family: $font-pt;
                font-weight: normal;
                &:hover {
                    background: transparent;
                    color: $color-green-logo;
                }
            }
            p{
                display: none;
            }

            .box-check-avaibility{
                padding-top: 15px;
                padding-bottom: 15px;
                .description-check{
                    color: #E0E0E0;
                    text-align: left;
                }
                .btn-blue-env{
                    color: $color-white;
                    border: 1px solid $color-white;
                    @include border-radius(5px);
                    width: 100%;
                    text-align: center;
                    margin: 10px 0;
                }
                .icon-arrow-down{
                    @include setBackgroundIcon(20px, "../images/icon-arrow-down.svg");
                    vertical-align: middle;
                    margin-left: 15px;
                }
            }
        }

        /* =================== BOX NAV VENDORS 768px ======================= */
       .nav-vendor {
           border: none;
           padding-top: 20px;
           .box-sign-up {
               border-bottom: 0;
               .item-sign-up{
                   width: 100%;
                   padding: 10px;
                   margin-bottom: 0;
                   i{
                       width: 50px;
                       height: 50px;
                       float: left;
                       margin-bottom: 0;
                       margin-right: 15px;
                   }
               }
           }
           .description-nav-vendor{
               font-size: 16px;
               text-align: left;
           }
       }
    }

}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen and (min-width: $device-size-small) and (max-width: $device-size-medium) {
  nav {
    #menuBarMobile {
      &.collapse{
        display: block;
      }
    }
  }
}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {
  nav {
    #menuBarMobile {
      &.collapse{
        display: block;
      }
    }
  }
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {

}

/* 	================================================================
	MOBILE DEVICE
	Mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
    nav {
        .icon-arrow-right{
            top: 20px;
        }
        .box-sub-menu {
            .icon-arrow-right{
                top: 12px;
            }
            .title-submenu{
                padding: 12px 0;
            }
        }
        ul.main-menu {
            .nav-item {
                .nav-link{
                    padding: 17px;
                }
            }
        }
    }
}