.education-page{
   h1{
     font-size: 36px;
     margin-bottom: 30px;
     font-weight: bold;
     text-align: center;
   }
  .description-industries{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 500;
  }
  .btn-blue-env{
    margin-bottom: 80px;
  }
  .bg-gray-process{
    padding: 80px 0;
  }
  .box-question-education{
    position: relative;
    div[class*="question-"]{
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
    }
    .question-1{
      position: absolute;
      left: 37px;
      top: 115px;
      width: 300px;
    }
    .question-2{
      position: absolute;
      right: 70px;
      top: -11px;
      width: 320px;
      font-size: 24px;
    }
    .question-3{
      position: absolute;
      right: 0;
      top: 246px;
      width: 400px;
      font-size: 24px;
    }
  }

  .section-offer{
    padding-top: 80px;
    padding-bottom: 80px;
    h2{
      font-size: 2.25rem;
      font-weight: bold;
      margin-bottom: 50px;
    }
  }
  .box-offer-education{
    position: relative;
    font-size: 1.625rem;
      .circle-offer{
        width: 500px;
        margin: auto;
        text-align: center;
        position: relative;
        .main-offer{
          position: absolute;
          width: 323px;
          left: 88px;
          top: 187px;
          color: $color-white;
        }
      }
    .offer-1{
      width: 300px;
      position: absolute;
      top: 0;
      left: 80px;
      font-size: 1.5rem;
    }
    .offer-2{
      width: 300px;
      position: absolute;
      top: 0;
      right: 80px;
      font-size: 1.5rem;
    }
    .offer-3{
      width: 300px;
      font-size: 1.5rem;
      margin: auto;
      margin-bottom: 30px;
    }
  }

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
  .education-page {
    h1{
      text-align: left;
      font-size: 24px;
    }
    .description-industries{
      width: 100%;
      font-size: 18px;
    }
    .box-question-education{
      div[class*="question-"]{
        font-size: 18px;
        line-height: 1.54;
      }
      .question-1{
        left: 0;
        top: 27px;
        width: 220px;
      }
      .question-2{
        right: 0;
        top: -28px;
        width: 280px;
      }
      .question-3{
        right: 0;
        bottom: -37px;
        width: 250px;
        top: auto;
      }

      img{
        width: 200px;
      }
    }

    .box-offer-education {
      div[class*="offer-"]{
        font-size: 18px;
        width: 250px;
      }
      .offer-1{
       left: 0;
      }
      .offer-2{
        right: 0;
      }
      .circle-offer{
        width: 100%;
        .main-offer{
          width: 210px;
          font-size: 18px;
          left: 50%;
          top: 50%;
          @include translate(-50%, -50%);
        }
      }
      img{
        width: 300px;
      }
    }
  }
}


/* 	================================================================
	MEDIUM DEVICE
	Tablet 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  .education-page {
    .box-question-education{
      padding: 50px 0;
      img{
        width: 126px;
      }
      div[class*="question-"]{
        font-size: 16px;
        width: 126px;
      }
      .question-1{
        left: 0;
        top: 43px;
      }
      .question-2{
        right: 0;
        top: -25px;
      }
      .question-3{
        right: 0;
        bottom: -46px;
        top: auto;
      }
    }

    .box-offer-education {
      div[class*="offer-"] {
        width: 190px;
      }
      .circle-offer{
        margin-top: 100px;
      }
    }

    .section-offer{
      padding-bottom: 0;
    }
    .btn-blue-env{
      margin-bottom: 0;
    }
  }
}

/* 	================================================================
	MOBILE DEVICE
	Mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
  .education-page {
    .box-question-education {
      .question-1{
        left: -15px;
      }
      .question-2{
        right: -15px;
      }
      .question-3{
        right: -15px;
      }
    }
    .box-offer-education {
      div[class*="offer-"] {
        width: 156px;
        font-size: 16px;
      }
    }
  }
}
