section.financial-page{
	padding-bottom: 0;
	h1{
		margin-bottom: 30px;
	}
	.title-head-blue{
		text-transform: inherit;
	}
	.description-offer, .description-fully{
		font-size: 26px;
		line-height: 37px;
		p{
			font-size: 26px;
			line-height: 37px;
		}
	}
	.btn-learn-more{
		margin-top: 30px;
		margin-bottom: 100px;
	}
	.item-offer{
		border: 1px solid $color-black;
		padding: 40px 20px;
		height: calc(100% - 50px);
		width: 400px;
		margin: auto;
		margin-right: 50px;
		margin-bottom: 50px;
		font-size: 20px;
		background: $color-white;
		img{
			margin-bottom: 20px !important;
			display: block;
		}
		p{
			font-size: 20px;
			line-height: 28px;
			text-align: center;
		}
	}
	.description-offer{
		p{
			font-size: 26px;
		}
	}
	.box-ready{
		font-weight: bold;
		font-size: 24px;
		color: $color-blue-logo;
	}
	.p-note{
		margin-left: 100px;
	    margin-right: 100px;
	    font-size: 26px;
	    line-height: 37px;
	}
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	section.financial-page {
		h1 {
			text-align: left !important;
		}
		.description-offer, .description-fully{
			font-size: 18px;
			line-height: 30px;
			p{
				font-size: 18px;
				line-height: 30px;
			}
		}
		.btn-blue-env {
			width: 70%;
		}
		.item-offer {
			width: 100%;
			p{
				font-size: 18px;
				text-align: left;
			}
		}
		.description-offer {
			p {
				font-size: 18px;
			}

		}
	}
}

/* 	================================================================
	LARGE MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  section.financial-page {
    .btn-blue-env{
      width: 100%;
    }
	  .p-note{
		  margin-left: 0;
		  font-size: 18px;
		  margin-right: 0;
	  }

	  .btn-learn-more{
		  margin-bottom: 50px;
	  }
  }
}
