section.financial-page{
	h1{
		margin-bottom: 30px;
	}
	.title-head-blue{
		text-transform: inherit;
	}
	.description-offer, .description-fully{
		font-size: 1.625rem;
	}
	.btn-learn-more{
		margin-top: 30px;
		margin-bottom: 150px;
	}
	.item-offer{
		border: 1px solid $color-gray-hover;
		padding: 40px 20px;
		height: calc(100% - 50px);
		width: 400px;
		margin: auto;
		margin-bottom: 50px;
		font-size: 1.25rem;
		img{
			margin-bottom: 20px !important;
			display: block;
		}
		p{
			text-align: center;
			font-size: 1.25rem;
		}
	}
}