.none-profit-page{
  .fully-aware{
    margin-bottom: 50px;
    .title-head-blue{
      margin: 0px 100px 30px 100px;
    }
  }
  .item-different{
    border: 1px solid $color-black;
    padding: 10px;
    background: $color-white;
    @include border-radius(5px);
    margin-bottom: 30px;
    img{
      margin-right: 10px;
    }
    h4{
      text-align: center;
      font-size: 26px;
      font-weight: bold;
    }
  }

  .bg-gray-process{
    margin-bottom: 50px;
    .title-blue{
      color: $color-blue-logo;
      font-size: 36px;
      line-height: 55px;
      font-weight: bold;
      padding-right: 100px;
    }
    p{
      font-size: 26px;
      line-height: 37px;
    }
  }
  .margin-negative-left{
    margin-left: -5px;
  }
}
.description-business-np{
  width: 59%!important;
}
/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
  .none-profit-page {
    .item-different {
      height: calc(100% - 30px);
      text-align: center !important;
      img{
        margin-bottom: 10px;
        margin-right: 0;
        width: 60px;
      }
      h4{
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
  .none-profit-page {
    .fully-aware {
      .title-head-blue{
        text-align: left !important;
        line-height: 37px;
      }
    }
    .item-different {
      height: calc(100% - 30px);
      text-align: center !important;
      img{
        margin-bottom: 10px;
        margin-right: 0;
        width: 60px;
      }
      h4{
        font-weight: 600;
        font-size: 18px;
      }
    }

    .bg-gray-process {
      .title-blue {
        font-size: 24px;
        margin-bottom: 20px;
      }
      p{
        font-size: 18px;
      }
    }
    .btn-blue-env{
      font-size: 18px;
      width: 70%;
    }
  }
}

/* 	================================================================
	LARGE MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  .none-profit-page {
    .btn-learn-more{
      padding-top: 0;
      padding-bottom: 50px;
    }
    .btn-blue-env{
      width: 100%;
    }
  }
}