.industries-page{
	p{
		font-size: 1.625rem;
	}
	.title-head-blue{
		text-transform: initial;
	}
	.btn-learn-more{
		padding-top: 30px;
		padding-bottom: 80px;
	}
	.item-offer{
		border: 1px solid $color-gray-hover;
		padding: 40px 20px;
		margin-bottom: 30px;
		height: calc(100% - 30px);
		img{
			margin-bottom: 20px !important;
			display: block;
		}
		p{
			text-align: center;
			font-size: 20px;
		}
	}
  .title-blue{
    font-size: 24px;
    font-weight: bold;
    color: $color-blue-logo;
  }
}

section.real-estate-page{
	.info-fully{
		font-size: 1.625rem;
	}
	.description-offer{
		font-size: 26px;
	}

	.question-ready{
		font-size: 24px;
		font-weight: bold;
		color: $color-blue-logo;
	}

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.industries-page {
		.btn-learn-more{
			padding-top: 0;
			padding-bottom: 50px;
		}
		p{
			font-size: 18px;
		}
      .title-blue{
        font-size: 22px;
      }
		.item-offer {
			padding: 20px 10px;
			img{
				width: 60px;
				height: 60px;
			}
		}
	}
	section.real-estate-page {
		.title-head-blue{
			text-align: left;
		}
		.info-fully{
			font-size: 18px;
			&.note{
				font-size: 16px;
			}
		}
		.item-offer{
			p{
				font-size: 18px;
			}
		}
		.description-offer{
			font-size: 18px;
		}
		.question-ready{
			font-size: 18px;
		}
	}
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {

}



