section.transportation-page{
	h1{
		margin-bottom: 30px;
	}
	.item-awareness{
		background:$color-green-logo;
		padding: 40px 20px;
		margin-top: 50px;
		margin-bottom: 50px;
		color: $color-white;
		border-radius: 5px;
		min-height: 200px;
	}
	.item-offer{
		border: 1px solid $color-gray-hover;
		padding: 40px 20px;
		margin-top: 50px;
		margin-bottom: 50px;
		border-radius: 10px;
		min-height: 400px;
		img{
			margin-bottom: 20px !important;
			display: block;
		}
		p{
			text-align: center;
		}
	}
}