.blog-author-page{
  .title-author{
    font-size: 2.215rem;
    color: $color-blue-lv3;
    padding-bottom: 25px;
  }
  .information-author{
    margin-bottom: 30px;
    padding: 15px;
    background: #E0E0E0;
    img{
      width: 30%;
      float: left;
      margin-right: 15px;
      @include radius(50%);
      border: 5px solid $color-green-logo;
      box-sizing: border-box;

    }

    .box-info{
      color: $color-blue-lv1;
      font-size: 1.25rem;
      .author-name{
        font-size: 36px;
        color: $color-blue-lv3;
        font-weight: bold;
      }
      .position-company{
        color: $color-gray-text;
        border-bottom: 1px solid $color-gray-border;
        padding: 10px 0;
        margin-left: calc(30% + 15px);
        padding-bottom: 0;
      }
      .position{
        color: $color-gray-text;
        padding: 10px 0;
        padding-top: 0;
      }
      .description{
        color: #4F4F4F;
      }
      .follow-author{
        font-weight: bold;
        text-align: right;
        a{
          color: $color-blue-logo;
          cursor: pointer;

        }
      }
    }
  }
  .title-post-by-author{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
    border-bottom: 3px solid $color-green-logo;
    padding-bottom: 10px;
    position: relative;
    &:after{
      content: "";
      display: inline-block;
      width: 100px;
      border-bottom: 3px solid #0D3153;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }
  .follow-author{
    padding: 10px 0;
    .list-social{
      .label-socials{
        font-size: 1.5rem;
        color: $color-blue-lv3;
      }
      .nav-link{
        color: $color-white;
        border-radius: 50%;
        padding: 0;
        width: 35px;
        height: 35px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        &.link-twitter{
          background: #55ACEE;
        }
        &.link-facebook{
          background: #3B5998;
        }
        &.link-google{
          background: #DC4E41;
        }
      }
    }
  }

  .box-head-other-author{
    margin-top: 30px;
  	.other-author{
  		font-size: 2.215rem;
      font-weight: bold;
  		color: $color-blue-lv3;
  	}
  }

  .item-author{
    padding: 10px 0;
    img{
      width: 30%;
      float: left;
      @include radius(50%);
    }
    .author-name{
      padding-left: calc(30% + 15px);
      padding-top: 30px;
      font-size: 1.5rem;
      color: $color-blue-lv3;
    }
  }

  .list-trend-author{
    .info-news{
      h2{
        font-size: 1.2rem;
        border-bottom: 10px;
      }
      .audit{
        font-size: 1.08rem;
        border-bottom: 10px;

      }
    }
  }

  .popup-hack-me{

    #gform_wrapper_3 {
     li.hidden_label {
       input{
         padding-top: 17px;
         padding-bottom: 17px;
       }
     }
      ul.gform_fields {
        li.gfield{
          max-width: 100% !important;
        }
      }
      .gform_footer {
        margin-top: 0;
        input{
          padding-top: 21px;
          padding-bottom: 21px;
        }
      }
      li.gfield.gfield_error.gfield_contains_required {
        div.gfield_description{
          max-width: 100% !important;
          text-align: left;
        }
      }
    }
  }

}

/* 	================================================================
	TABLET DEVICE
	Large tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: 768px) {
  .blog-author-page {
    .title-author{
      font-size: 24px;
      line-height: 34px;
      color: #4F4F4F;
      font-weight: bold;
    }
    .information-author {
      .box-info {
        .author-name{
          font-size: 24px;
          font-weight: bold;
        }
        .position-company{
          font-size: 16px;
          padding: 5px;
        }
        .position{
          font-size: 16px;
        }
      }
    }
    .title-post-by-author{
      font-size: 22px;
      line-height: 34px;
      color: #4F4F4F;
      border-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 0;
      margin-top: 0;
      &:after{
        display: none;
      }
    }
  }
}
