.blog-detail-page{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	.bg-blue-home{
		background: $color-blue-lv2;
		margin-bottom: 50px;
	}
	.current-category{
		color: $color-green-logo;
		font-weight: bold;
	}
	h1{
		font-size: 48px;
		font-family: $font-pt;
		padding-bottom: 15px;
		font-weight: bold;
	}


	.box-share{
		.list-social{
			padding-top: 10px;
			padding-bottom: 10px;
			.nav-item{
				padding-left: 15px;
				font-size: 14px;
				font-family: $font-merriweather;
			}
			.icon-twitter{
				@include setBackgroundIcon(20px, "../images/icon-twitter.svg");
			}
			.icon-facebook{
				@include setBackgroundIcon(20px, "../images/icon-facebook.svg");
			}
			.icon-linkedin{
				@include setBackgroundIcon(20px, "../images/icon-linkedin.svg");
			}
			.icon-google-plus{
				@include setBackgroundIcon(20px, "../images/icon-google-plus.svg");
			}
		}

	}
	.content-blog{
		.audit{
			padding-bottom: 15px;
			padding-top: 15px;
			border-top: 1px solid $color-gray-border;
			border-bottom: 1px solid $color-gray-border;

			.date{
				padding-right: 30px;
			}
			span, a{
				font-family: $font-pt;
			}
			color: $color-gray-audit;
		}
		.excerpt-news{
			font-family: $font-roboto;
			font-size: 20px;
			font-style: italic;
			font-weight: 300;
			color: $color-gray-excerpt;
			margin-bottom: 25px;
		}
		img{
			margin-bottom: 25px;
		}
		p{
			font-family: $font-merriweather;
			font-size: 20px;
			color: $color-gray-blog;
			line-height: 2;
		}
	}

	.box-advert{
		background: $color-blue-logo;
		padding: 30px 15px;
		text-align: center;
		margin-bottom: 40px;
		.fz-big-green{
			font-size: 30px;
			color: $color-green-logo;
		}
		.btn-green-env{
			font-size: 1rem;
			padding: 10px;
			color: $color-blue-logo;
			white-space: normal;
			font-weight: 600;
		}
		.sub-title{
			padding: 15px 0;
			font-weight: bold;
			color: $color-white;
		}
		p{
			color: $color-white;
		}
	}

	.section-trending{
		margin-bottom: 80px;
		margin-top: 80px;
		.border-header{
			border-bottom: 1px solid $color-gray-border;
			position: relative;
			margin-bottom: 30px;
			.view-all{
				position: absolute;
				top: 20px;
				right: 0;
				font-size: 20px;
			}
		}
	}
	.box-related-article{
		border: 1px solid $color-gray-border;
		.title-article{
			font-size: 1.5rem;
			text-align: center;
			background:$color-green-logo;
			width: 100%;
			padding: 15px;
			color: $color-blue-lv3;
			font-weight: bold;
		}
		.item-relate{
			padding: 15px;
			border-bottom: 1px solid $color-gray-border;
			&:last-child{
				border-bottom: none;
			}
			img{
				width: 40%;
				float: left;
			}
			h2{
				padding-left: calc(40% + 15px);
				font-size: 1.2rem;
				color: $color-blue-lv3;
				font-family: $font-pt-san;
			}
		}
	}
}