.blog-events-page{
  padding-top: 80px !important;
  .title-head-blue.have-border{
    margin-bottom: 0 !important;
    &:after{
      bottom: 0 !important;

    }
  }
  h1{
    font-family: $font-head-1;
    padding-bottom: 50px;
  }
  .box-item-event{
    position: relative;
    top: 0;
    border: 1px solid $color-gray-border;
    padding: 15px 0;
    margin-bottom: 30px;
    @include transitionInOut(.2s);
    @include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));
    min-height: 200px;
    &:first-child{
      margin-top: 30px;
    }
    &:hover{
      top: -5px;

    }
    .box-date{
      display: inline-block;
      padding: 5px 10px;
      font-size: 1.875rem;
      color: $color-blue-lv3;
      background: $color-green-logo;
      margin-left: 15px;
      float: left;
      font-weight: bold;
      width: 130px;
      text-align: center;
    }
    .box-info{
      padding-left: 160px;
      padding-right: 10px;
      .location-1{
        font-size: 20px;
        font-weight: 500;
        font-family: $font-roboto;
        margin-bottom: 15px;
        color: #333333;
      }
      .location-2{
        font-size: 20px;
        font-family: $font-roboto;
        position: absolute;
        bottom: 15px;
      }
      .icon-location{
        @include setBackgroundIcon(30px, "../images/icon-location-event.svg");
        vertical-align: middle;
      }
    }
    h2{
      font-size: 26px;
      font-weight: bold;
      color: $color-blue-lv1;
      margin-bottom: 15px;
    }
    p{
      font-size: 1.625rem;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  .popup-hack-me{
    margin-bottom: 30px;
  }
  .upcoming-events{
    a{
      color: $color-blue-logo;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      border: 1px solid #BDBDBD;
      width: 100%;
      padding: 10px;
      &:hover{
        color: $color-blue-lv4;
      }
    }
  }
}

.list-archived-events{
  border: 1px solid #BDBDBD;
  .title{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    font-family: $font-roboto;
    color: #0D3153;
    padding: 15px;
  }
  .box-year{
    width: 100%;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    &:before{
      content: "";
      @include setBackgroundIcon(20px, '../images/icon-arrow-left-gray.svg');
      background-size: 100% 100%;
      position: absolute;
      left: 5px;
      top: 17px;
    }
    &:after{
      content: "";
      @include setBackgroundIcon(20px, '../images/icon-arrow-left-gray.svg');
      background-size: 100% 100%;
      @include rotate(180deg);
      position: absolute;
      right: 5px;
      top: 17px;
    }

    .year{
      text-align: center;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      font-family: $font-roboto;
      padding: 15px;
    }
  }
  .list-month{
    .month{
      a{
        color: #828282;
        font-size: 22px;
        line-height: 26px;
        font-family: $font-roboto;
        padding: 10px 15px;
        display: block;
        &:hover, &.active{
          color: $color-blue-logo;
        }
      }

    }
  }
}


.event-detail-page{
  .content-event{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    @include shadow-out(0px, 6px, 4px, rgba(0, 0, 0, 0.5));
    margin-bottom: 30px;
    *{
      font-family: $font-roboto;
    }
    .box-head{
      padding: 20px 15px;
      border-bottom: 1px solid #BDBDBD;
    }
    h1{
      font-weight: bold;
      font-size: 26px;
      line-height: 152.62%;
      color: #4F4F4F;
      margin-bottom: 20px;
    }
    .host-name{
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 152.62%;
      color: #828282;
    }
    .event-time{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 152.62%;
      color: #808080;
      padding: 20px 15px;
      border-bottom: 1px solid #BDBDBD;
      .date{
        background: #0D3153;
        @include radius(50%);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
        color: #E0E0E0;
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 30px;
      }
      svg{
        vertical-align: middle;
        margin-right: 15px;
      }
      .time{
        margin-bottom: 15px;
      }
      .tag{
        a{
          color: #0D3153;
        }
      }
    }
    .post-content{
      padding: 20px 15px;
      padding-bottom: 50px;
      a{
        color: #0D3153;
      }
    }
    .box-direct{
      background: #E0E0E0;
      padding: 20px;
      .btn-make-direct{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 129.14%;
        color: #FFFFFF;
        width: 100%;
      }
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140.62%;
      color: #808080;
    }
    ul, ol{
      padding-left: 30px;
      li{
        list-style-type: inherit;
        padding-bottom: 10px;
        font-size: 18px;
      }
    }
  }
  .location-event{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    padding: 20px 15px;
    @include shadow-out(0px, 6px, 4px, rgba(0, 0, 0, 0.5));
    margin-bottom: 30px;
    *{
      font-family: $font-roboto;
    }

    .title-local{
      font-weight: bold;
      font-size: 26px;
      line-height: 152.62%;
      color: #4F4F4F;
      margin-bottom: 15px;
    }
    p{
      font-weight: 500;
      font-size: 20px;
      line-height: 152.62%;
      color: #808080;
    }
  }

  .meeting-envzone-staff{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    padding: 40px;
    margin-bottom: 30px;
    .title{
      font-weight: bold;
      font-size: 22px;
      line-height: 140%;
      text-align: center;
      color: #0D3153;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 15px;
      &:after{
        content: '';
        width: 50px;
        display: inline-block;
        border-bottom: 2px solid #8DC63F;
        position: absolute;
        left: calc(50% - 25px);
        bottom: 0;
      }
    }
    img{
      margin-bottom: 15px;
    }
    .status-availible{
      .status{
        text-align: center;
        color: #4F4F4F;
        font-size: 18px;
        line-height: 140.88%;
        margin-bottom: 20px;
      }
      p{
        font-size: 16px;
        line-height: 129.14%;
        text-align: center;
        color: #828282;
      }
    }

    .status-unavailible{
      .status{
        text-align: center;
        color: #4F4F4F;
        font-size: 18px;
        line-height: 140.88%;
        margin-bottom: 20px;
      }
      p{
        font-size: 16px;
        line-height: 129.14%;
        text-align: center;
        color: #828282;
      }
    }
  }
}

.blog-events-page {
  &.archive-events-page {
    .box-item-event {
      .box-date {
        background: #BDBDBD;
      }
    }
  }
}



/*END CSS CUSTOM GET MY SUCCESSION PLAN*/


/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
  .event-detail-page {
    .title-head-blue{
      font-weight: bold;
      font-size: 22px;
      line-height: 34px;
      color: #4F4F4F;
      margin-top: 15px;
    }
    .box-info-event-0{
      padding-right: 0;
      padding-left: 0;
    }
    .box-comments{
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px;
    }
    .content-event {
      h1 {
        font-size: 22px;
        line-height: 152.62%;
        margin-bottom: 0;
      }
      .host-name{
        font-size: 18px;
        line-height: 152.62%;
      }
      .event-time {
        svg{
          margin-right: 5px;
          width: 25px;
          height: 25px;
        }
        .date{
          margin-right: 10px;
          width: 65px;
          height: 65px;
        }
        .time{
          margin-bottom: 5px;
        }
        .time, .tag{
          font-size: 16px;
        }
      }
    }
  }
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 425px and down (<425px)
	================================================================== */
@media screen and (max-width: 425px) {
  .blog-events-page {
    .box-item-event {
      min-height: 150px;
      .box-date{
        font-size: 16px;
        width: 85px;
        font-weight: normal;
      }
    }
    .box-item-event {
      .box-info{
        padding-left: 115px;
        .location-1{
          font-size: 14px;
        }
        .location-2{
          font-size: 14px;
        }
        .icon-location{
          width: 20px;
          height: 20px;
        }
      }
      h2 {
        font-size: 16px;
        font-weight: normal;
        color: #021320;
        margin-bottom: 5px;
        line-height: 150%;
        overflow: hidden;
        max-height: 45px;
      }

    }
    .location-event {
      .title-local{
        font-size: 22px;
      }
      p{
        font-size: 20px;
      }
    }
  }

}