.blog-events-page{
  padding-top: 80px !important;
  .title-head-blue.have-border{
    margin-bottom: 0 !important;
    &:after{
      bottom: 0 !important;

    }
  }
  h1{
    font-family: $font-head-1;
    padding-bottom: 50px;
  }
  .box-item-event{
    position: relative;
    top: 0;
    border: 1px solid $color-gray-border;
    padding: 15px 0;
    margin-top: 30px;
    @include transitionInOut(.2s);
    @include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));
    min-height: 200px;
    &:hover{
      top: -5px;

    }
    .box-date{
      display: inline-block;
      padding: 5px 10px;
      font-size: 1.875rem;
      color: $color-blue-lv3;
      background: $color-green-logo;
      margin-left: 15px;
      float: left;
      font-weight: bold;
    }
    .box-info{
      padding-left: 20%;
      padding-right: 10px;
      .location-1{
        font-size: 20px;
        font-weight: 500;
        font-family: $font-roboto;
        margin-bottom: 15px;
        color: #333333;
      }
      .location-2{
        font-size: 20px;
        font-family: $font-roboto;
        position: absolute;
        bottom: 15px;
      }
      .icon-location{
        @include setBackgroundIcon(30px, "../images/icon-location-event.svg");
      }
    }
    h2{
      font-size: 1.875rem;
      font-weight: bold;
      color: $color-blue-lv1;
      margin-bottom: 15px;
    }
    p{
      font-size: 1.625rem;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  .popup-hack-me{
    margin-bottom: 30px;
  }
}