.blog-comment{
	#disqus_thread{
		margin-bottom: 30px;
	}
}
.blog-page{

	.box-breadcrumb.mt-50{
		margin-top: 50px;
	}
	.title-page{
		font-size: 48px;
		color: #0D3153;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 15px;
		line-height: 55px;
	}
	.item-blog-mb-30{
		margin-bottom: 30px;
	}
	.item-blog-mb-80{
		margin-bottom: 80px;
	}
	.section-head-blog{
		margin-bottom: 80px;
	}
	.title-head-blue.have-border{
		border-bottom: 3px solid $color-green-logo;
		padding-bottom: 0;
		margin-bottom: 30px;
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: 100px;
			border-bottom: 3px solid $color-blue-logo;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}

	.highlight-news{
		border: .5px solid $color-gray-border;
		img{
			margin-bottom: 15px;
		}
		h2{
			font-size: 1.9rem;
			padding-bottom: 15px;
		}
		.info-news{
			padding: 15px;
		}
		.category{
			color: $color-green-logo;
			font-weight: bold;
			font-size: 1rem;
		}
		h2{
			font-size: 1.625rem;
			font-weight: bold;
			font-family: $font-pt;
			line-height: 130%;
		}
		.audit{
			font-size: 1rem;
			padding-bottom: 10px;
			color: $color-gray-blog;
			a{
				cursor: pointer;
				color: $color-blue-logo;
				font-weight: bold;
				margin-right: 30px;
				font-family: $font-roboto;
			}
			span{
				font-family: $font-roboto;
			}
		}
		p{
			font-size: 1.2rem;
			color: $color-gray-blog;
		}

	}
	.owl-carousel.owl-drag {
		.owl-item{
			margin-bottom: 30px;
			margin-top: 10px;
		}
	}
	.highlight-news-right{
		position: relative;
		top: 0;
		margin-bottom: 30px;
		border: 1px solid $color-gray-border;
		position: relative;
		border-bottom: 3px solid $color-green-logo;
		background: $color-white;
		@include transitionInOut(.3s);
		@include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));
		&:hover{
			top: -5px;
		}
		.thumbnail-news{
			float: left;
			display: inline-block;
			width: 40%;
		}
		.info-news{
			font-size: 1rem;
			padding: 10px;
			padding-top: 0;
			padding-left: calc(40% + 15px);
			h2{
				font-size: 20px;
				font-family: $font-pt;
				padding-bottom: 10px;
				font-weight: normal;
				color: $color-black;
				margin-bottom: 10px;
				line-height: 28px;
			}
			.audit{
				font-size: 1rem;
				position: absolute;
				left: calc(40% + 15px);
				bottom: 10px;
				border: none;

				span{
					font-family: $font-roboto;
				}
			}
			.avatar{
				width: 35px;
				height: 35px;
				@include radius(50%);
				float: left;
				margin-right: 10px;
				margin-top: 5px;
			}
			.date-public{
				white-space: nowrap;
				font-family: $font-roboto;
				color: #90989E;
			}
			.category{
				font-size: 1rem;
				font-weight: 500;
				color: $color-green-logo;
				font-family: $font-roboto;
				margin-bottom: 5px;
				display: inline-block;
				margin-top: 10px;
				text-transform: uppercase;
			}
			.author{
				margin-right: 20px;
				color: #90989E;
				font-family: $font-roboto;
				font-weight: 500;
			}
			p{
				padding: 0;
			}
		}

		&.img-center{
			.thumbnail-news{
				float: none;
				width: auto;
			}
			.thumbnail-news{
				position: relative;
				&:hover{
					.icon-video-play {
						opacity: 1;
						&:before {
							transform: scale(1.1);
						}
					}

					.icon-photo-play {
						opacity: 1;
						&:before {
							transform: scale(1.1);
						}
					}
				}
			}
			.icon-video-play{
				transition: .5s;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: 2rem;
				color: #fff!important;
				opacity: .5;
				&:before{
					content: "";
					display: table-cell;
					@include setBackgroundIcon(50px, '../images/icon-play-button.svg');
				}
			}
			.icon-photo-play{
				transition: .5s;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: 2rem;
				color: #fff!important;
				opacity: .5;
				&:before{
					content: "";
					display: table-cell;
					@include setBackgroundIcon(50px, '../images/icon-photo-play.svg');
				}
			}
			.info-news{
				font-size: 1rem;
				padding-left:0;
			}
		}
		
	}

	.section-trending{
		margin-bottom: 80px;
		.highlight-news-right{
			.thumbnail-news{
				position: relative;
				&:hover{
					.icon-video-play {
						opacity: 1;
						&:before {
							transform: scale(1.1);
						}
					}
				}
			}
			.icon-video-play{
				transition: .5s;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: 2rem;
				color: #fff!important;
				opacity: .5;
				&:before{
					content: "";
					display: table-cell;
					@include setBackgroundIcon(50px, '../images/icon-play-button.svg');
				}
			}
			.info-news{
				padding-left: 15px;
				.audit{
					position: static;
					font-family: $font-sans-pro;
				}
			}
		}
	}
	.btn-show-more{
			width: 100%;
			border-radius: 0;
			font-weight: bold;
		}

	.popup-hack-me{
		background: $color-green-logo;
		padding: 15px;
		h3{
			font-family: $font-roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 26px;
			line-height: 140.88%;
			color: #191919;
		}
		input{
			background: transparent;
			border: 1px solid $color-white;
			padding: 15px;
			color: white;
			margin-bottom: 15px;
			width: 100% !important;
		}
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #E0E0E0;
			opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #E0E0E0;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
			color: #E0E0E0;
		}
	}
}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 768px and down (<768px)
	================================================================== */
@media screen and (max-width: 768px) {
	.blog-page{
		.pd-lr-0{
			padding-left: 0;
			padding-right: 0;
		}
		.title-head-blue.have-border{
			font-size: 18px !important;
		}
		.box-item-special{
			padding-right: 0;
			padding-left: 0;
			margin-bottom: 0;
		}
		.reset-row-wrap{
			@include flex-wrap(inherit);
		}
	}
}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: 425px) {
	.blog-page {
		.title-page{
			color: #4F4F4F !important;
			border-bottom: none;
			font-size: 22px !important;
			line-height: 34px;
			padding-top: 30px;
		}
		.item-special {
			.excerpt{
				display: none;

			}
			.info-special{
				border-bottom: 3px solid #8DC63F;
			}
		}
		.title-head-blue.have-border{
			color: #4F4F4F !important;
			border-bottom: none;
			font-size: 18px !important;
			line-height: 27px;
			margin-bottom: 30px !important;
			&:after{
				display: none;
			}
		}
		.px-mb-0{
			padding-left: 0;
			padding-right: 0;
		}

		.section-trending {
			.box-item-horizontal-mb {
				padding-right: 0;
				padding-left: 0;
				.highlight-news-right {
					.info-news {
						.audit {
							img, .date-public{
								display: none;
							}
							.author{
								font-size: 15px;
								position: absolute;
								left: calc(40% + 5px);
								bottom: 10px;
							}
						}
					}
					.thumbnail-news{
						width: 40%;
						float: left;
						margin-right: 5px;
					}

					.info-news{
						padding-left: 15px;
						padding-bottom: 0;
						padding-top: 0;
						.category{
							font-size: 16px;
							font-weight: 500;
							margin-top: 0;
							margin-bottom: 2px;
						}
						h2{
							font-size: 17px;
							line-height: 22px;
							margin-bottom: 0;
							padding-bottom: 0;
							padding-left: 40%;
						}
					}

				}


			}
		}

		.highlight-news-right {
			.thumbnail-news{
				text-align: center;
				img{
					width: 120px;
					height: auto;
					padding-bottom: 35px;
					padding-top: 35px;
				}
			}
			.info-news{
				padding-bottom: 0;
				padding-left: calc(40% + 5px);
				.category{
					display: inline-block;
					margin-top: 0;
					text-transform: uppercase;
					font-size: 15px;
					margin-bottom: 0;
				}
				h2{
					line-height: 130%;
					font-size: 17px;
					padding-bottom: 0;
					padding-top: 0;
					margin-bottom: 0;
					max-height: 65px;
				}
				.audit{
					left: calc(40% + 5px);
					img, .date-public{
						display: none;
					}
					.author{
						font-size: 15px;
						position: absolute;
						left: calc(40% + 5px);
						bottom: 10px;
						white-space: nowrap;
					}
				}
			}
		}

		.owl-carousel:not(.off){
			.highlight-news-right {
				.thumbnail-news {
					img {
						width: 100%;
						height: auto;
						padding-bottom: 0;
						padding-top: 0;
					}
				}
				.info-news{
					.audit{
						display: none;
						.author{
							position: static;
						}
					}
				}
			}
		}
	}

}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: 320px) {
	.blog-page {

		.section-trending {
			.box-item-horizontal-mb {

				.highlight-news-right {
					.info-news {
						.category {
							font-size: 13px;
						}

						h2 {
							font-size: 16px;
						}
						.audit{
							.author{
								font-size: 12px;
							}
						}
					}

				}


			}
		}
	}

}