.blog-author-page{
  .title-author{
    font-size: 2.215rem;
    color: $color-blue-lv3;
    padding-bottom: 25px;
  }
  .information-author{
    margin-bottom: 30px;
    padding: 15px;
    background: #E0E0E0;
    img{
      width: 40%;
      float: left;
      margin-right: 15px;
    }

    .box-info{
      color: $color-blue-lv1;
      font-size: 1.25rem;
      .author-name{
        font-size: 2.215rem;
        color: $color-blue-lv3;
      }
      .position-company{
        color: $color-gray-text;
        border-bottom: 1px solid $color-gray-border;
        padding: 10px 0;
      }
      .position{
        color: $color-gray-text;
        padding: 10px 0;
      }
      .description{
        color: #4F4F4F;
      }
      .follow-author{
        font-weight: bold;
      }
    }
  }
  .title-post-by-author{
    font-weight: bold;
    margin-bottom: 30px;
  }
  .follow-author{
    padding: 10px 0;
    .list-social{
      .label-socials{
        font-size: 1.5rem;
        color: $color-blue-lv3;
      }
      .nav-link{
        color: $color-white;
        border-radius: 50%;
        padding: 0;
        width: 35px;
        height: 35px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        &.link-twitter{
          background: #55ACEE;
        }
        &.link-facebook{
          background: #3B5998;
        }
        &.link-google{
          background: #DC4E41;
        }
      }
    }
  }

  .box-head-other-author{
    margin-top: 30px;
  	.other-author{
  		font-size: 2.215rem;
      font-weight: bold;
  		color: $color-blue-lv3;
  	}
  }

  .item-author{
    padding: 10px 0;
    img{
      width: 30%;
      float: left;
    }
    .author-name{
      padding-left: calc(30% + 15px);
      padding-top: 30px;
      font-size: 1.5rem;
      color: $color-blue-lv3;
    }
  }

  .list-trend-author{
    .info-news{
      h2{
        font-size: 1.2rem;
        border-bottom: 10px;
      }
      .audit{
        font-size: 1.08rem;
        border-bottom: 10px;

      }
    }
  }

}