.blog-page{
	.section-head-blog{
		margin-bottom: 80px;
	}
	.highlight-news{
		border: .5px solid $color-gray-border;
		img{
			margin-bottom: 15px;
		}
		h2{
			font-size: 1.9rem;
			padding-bottom: 15px;
		}
		.info-news{
			padding: 15px;
		}
		.category{
			color: $color-green-logo;
			font-weight: bold;
			font-size: 1rem;
		}
		h2{
			font-size: 1.625rem;
			font-weight: bold;
			font-family: $font-pt;
			line-height: 130%;
		}
		.audit{
			font-size: 1rem;
			padding-bottom: 10px;
			color: $color-gray-blog;
			a{
				cursor: pointer;
				color: $color-blue-logo;
				font-weight: bold;
				margin-right: 30px;
			}
		}
		p{
			font-size: 1.2rem;
			color: $color-gray-blog;
		}

	}
	.highlight-news-right{
		margin-bottom: 30px;
		border: 1px solid $color-gray-border;
		position: relative;
		&:last-child{
			margin-bottom: 0;
		}
		.thumbnail-news{
			float: left;
			display: inline-block;
			width: 40%;
		}
		.info-news{
			font-size: 1rem;
			padding: 10px;
			padding-left: calc(40% + 15px);
			h2{
				font-size: 22px;
				font-family: $font-pt;
				padding-bottom: 10px;
				font-weight: bold;
			}
			.audit{
				font-size: 1rem;
				position: absolute;
				left: calc(40% + 15px);
				bottom: 10px;
			}
			.category{
				font-size: 1rem;
				font-weight: 500;
				color: $color-green-logo;
				font-family: $font-roboto;
			}
			.author{
				margin-right: 20px;
				color: $color-blue-logo;

			}
			p{
				padding: 0;
			}
		}

		&.img-center{
			.thumbnail-news{
				float: none;
				width: auto;
				margin-bottom: 15px;
			}
			.info-news{
				font-size: 1rem;
				padding-left:0;
			}
		}
		
	}

	.section-trending{
		margin-bottom: 80px;
		.highlight-news-right{
			.info-news{
				padding-left: 15px;
				.audit{
					position: static;
					font-family: $font-sans-pro;
				}
			}
		}
	}
	.btn-show-more{
			width: 100%;
			border-radius: 0;
			font-weight: bold;
		}

	.popup-hack-me{
		background: $color-green-logo;
		padding: 15px;
		h3{
			font-weight: bold;
			font-size: 1.5rem;
			margin-bottom: 15px;
		}
		input{
			background: transparent;
			border: 1px solid $color-white;
			padding: 15px;
			color: white;
			margin-bottom: 15px;
			width: 100%;
			font-style: italic;

		}
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #E0E0E0;
			opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #E0E0E0;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
			color: #E0E0E0;
		}
	}
}