.company-detail-page{
  .box-info-company{
    background: #E0E0E0;
    padding: 25px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    .infomation-company{
      .box-logo{
        float: left;
        img{
          border: 1px solid #BDBDBD;
        }
      }
      .box-info{
        padding-left: 175px;
        *{
          font-family: $font-roboto;
        }
        h1{
          font-size: 36px;
          line-height: 42px;
          color: #021A32;
          font-family: $font-roboto;
        }
        p{
          font-weight: 300;
        }
        .box-industries{
          span, li{
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            color: #808080;
            font-family: $font-roboto;
          }
          .list-industries{
            display: inline-block;
            .item{
              &:after{
                content: "+";
                display: inline-block;
                margin-left: .5rem;
              }
              &:last-child{
                &:after{
                  content: "";
                }
              }
            }
          }
        }
      }

      .btn-green-env{
        position: absolute;
        bottom: 0;
        right: 25px;
        &:hover{
          color: $color-blue-logo;
        }
      }
    }

  }


  .box-section{
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    @include shadow-out(0px, 4px, 4px, rgba(0, 0, 0, 0.5));
    border-top: 3px solid $color-green-logo;
    margin-bottom: 50px;
    .label-heading{
      border-bottom: 1px solid #BDBDBD;
      font-size: 22px;
      line-height: 150%;
      color: #0D3153;
      padding: 10px 35px;
      text-transform: uppercase;
    }
  }

  .section-overview{
    *{
      font-family: $font-roboto;
    }
    .content-overview{
      padding: 20px 35px;
      padding-bottom: 0;
      p, li{
        font-size: 20px;
        line-height: 150%;
        color: #808080;
      }
      p{
        margin-bottom: 20px;
      }
      ul, ol{
        margin-left: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
        li{
          list-style-type: inherit;
          margin-top: 5px;
        }
      }
      figure{
        width: calc(100% + 70px);
        max-width: calc(100% + 70px);
        margin-left: -35px;
        margin-top: 50px;
        margin-bottom: 0;
      }
      img{
        width: 100%;
      }
    }

  }

  .section-screenshots{
    .carousel-photo-detail{
      margin: auto;
      width: 70%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .box-icon-mini{
      width: 90%;
      margin: auto;
    }
  }

  .section-voice{
    *{
      font-family: $font-roboto;
    }
    .content-voice{
      padding: 15px 35px;
      .description-voice{
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        color: #808080;
        margin-bottom: 30px;
      }
      .section-rating{
        text-align: center;
        margin-bottom: 50px;
        .box-rating{
          display: inline-block;
        }
        .title-rating{
          font-weight: 500;
          font-size: 26px;
          line-height: 150%;
          color: #808080;
        }
        p{
          font-size: 14px;
          line-height: 150%;
          color: #808080;
        }
      }

      .section-poll{
        .article-poll{
          margin-bottom: 10px;
        }
        .title-poll{
          font-weight: 500;
          font-size: 26px;
          line-height: 150%;
          color: #808080;
          text-align: center;
          margin-bottom: 30px;
        }
        .subtitle-poll{
          font-weight: 500;
          font-size: 20px;
          line-height: 150%;
          color: #808080;
          width: 80%;
          margin-bottom: 30px;
        }
        .recommend-poll{
          font-size: 20px;
          font-style: italic;
          line-height: 150%;
          padding-left: 25px;
        }
        .progress{
          margin-left: 24px;
          float: left;
          width: 270px;
          border-radius: 0;
          .progress-bar{
            background: #45678A;
          }
        }
        span{
          font-size: 14px;
          color: #808080;
          vertical-align: top;
          line-height: 14px;
          margin-left: 10px;
        }

        .custom-control-label{
          font-size: 20px;
          &:before{
            background-color: #fff;
            border: 1px solid #45678A;
            border-radius: 0 !important;
            top: .5rem;
          }
        }

        .custom-checkbox {
          .custom-control-input:checked~.custom-control-label::after{
            top: 11px;
            left: 3px;
            background: #45678A;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    p{
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      color: #808080;
    }

    .btn-green-env{
      color: #0D3153 !important;
      padding: 5px 20px;
      &:hover{
        color: #fff !important;
      }
    }
  }

  .section-article-relate{
    .label-heading{
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    background: #E0E0E0;
    .owl-carousel.owl-drag {
      .owl-item{
        margin-bottom: 0 !important;
      }
    }
  }

}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 768px and down (<768px)
	================================================================== */
@media screen and (max-width: 768px) {
  .company-detail-page {
    .box-info-company {
      .infomation-company {
        .btn-green-env{
          position: static;
        }
      }
    }
  }
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: 425px) {
  .company-detail-page {
    .box-info-company {
      .infomation-company {
        .box-logo{
          float: none;
          img{
            width: 70px;
            height: 70px;
          }
        }
       .box-info{
         padding-left: 0;
         h1{
           font-size: 28px;
           line-height: 150%;
           padding-bottom: 0;
         }
         p{
           font-size: 16px;
         }
         .box-industries {
           span, li{
             font-size: 16px;
             line-height: 150%;
           }
           .list-industries{
             .item{
                margin-right: 0;
                &:after{
                  margin-left: 0;
                }
              }
           }
         }
       }
        .btn-green-env{
          position: absolute;
          bottom: calc(100% - 50px);
          right: 0;
          width: 150px;
          font-size: 16px;
          padding: 10px;
        }
      }
    }

    .box-section {
      .label-heading{
        font-size: 20px;
        font-weight: normal;
        padding: 10px 15px;
      }
    }

    .section-overview {
      .content-overview{
        padding: 20px 15px;
        padding-bottom: 0;
        figure{
          max-width: calc(100% + 30px);
          width: calc(100% + 30px);
          margin-left: -15px;
        }
      }
    }

    .section-screenshots {
      .carousel-photo-detail {
        width: 95%;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    .section-voice {
      .content-voice{
        padding: 20px 15px;
        .section-poll{
          .progress{
            float: none;
            width: 250px;
          }
          span{
            display: block;
            margin-left: 24px;
            padding: 5px 0;
          }
        }

      }
      .article-poll{
        margin-bottom: 15px;
      }

    }
  }

  .box-comments{
    padding-left: 15px;
    padding-right: 15px;
  }

}