.discussion-board-page{
  .box-ask-question{
    border: 1px solid #BDBDBD;
    @include shadow-out(0px, 6px, 4px, rgba(0, 0, 0, 0.5));
    padding: 15px;
    position: relative;
    top: 0;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 152.62%;
    color: #4F4F4F;
    margin-bottom: 50px;
    border-bottom: 3px solid #8DC63F;
    &:hover{
      cursor: pointer;
    }
    img{
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  #modalAskQuestion{
    .modal-content{
      background: #E0E0E0;
    }
    .modal-header{
      padding-bottom: 0;
      border-bottom: none;
    }
    .modal-body{
      padding: 0 100px;
      input, textarea{
        width: 100%;
        border: 1px solid #FFFFFF;
        @include radius(3px);
        font-family: $font-roboto;
        font-size: 18px;
        line-height: 152.62%;
        color: #4F4F4F;
        background: transparent;
        padding: 5px 15px;
      }
      .gform_wrapper {
        ul {
          li.gfield{
            padding-right: 0;
          }
        }

        #gform_submit_button_17{
          background: #8DC63F;
          @include radius(3px);
          padding: 10px;
          color: #0D3153;
          border: none;
          &:hover{
            color: #fff;
          }
        }
      }
    }


    .gform_confirmation_message_17{
      text-align: center;
      padding: 100px 0;
    }
  }


  .box-list-question{
    margin-top: 50px;
    .ask-question{
      background: #FFFFFF;
      border: 1px solid #BDBDBD;
      @include shadow-out(0px, 6px, 4px, rgba(0, 0, 0, 0.5));
      margin-bottom: 30px;
      padding: 15px;
      position: relative;
      top: 0;
      @include transitionInOut(.2s);
      &:hover{
        top: -5px;
      }
      .display-name{
        font-weight: normal;
        font-size: 20px;
        line-height: 152.62%;
        color: #4F4F4F;
        padding-bottom: 10px;
      }
      .question{
        font-weight: 500;
        font-size: 22px;
        line-height: 152.62%;
        color: #4F4F4F;
        padding-bottom: 20px;
      }
      .view-answer, .post-date{
        font-size: 16px;
        line-height: 152.62%;
        color: #4F4F4F;
      }
      .post-date{
        padding-left: 100px;
        display: inline-block;
      }
    }

  }
}


/*==================discussion detail page====================*/

.discussion-board-detail-page{
  h1{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    padding: 25px;
    margin-bottom: 30px;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 152.62%;
    color: #4F4F4F;
  }
}

/*==================discussion detail page end====================*/


/* 	================================================================
	TABLET DEVICE
	Large tablet 768px and top (<768px)
	================================================================== */
@media screen and (min-width: 768px) {
  .discussion-board-page{
    #modalAskQuestion{
      .modal-dialog{
        max-width: 600px;
      }
    }
  }

}