.blog-knowledge-detail-page{
  background: #F2F2F2;
  h1{
    font-size: 3rem;
    font-weight: bold;
    color: $color-blue-lv2;
    font-family: $font-pt;
    margin-bottom: 30px;
  }
  .box-video{
    background: $color-white;
  }
  .box-breadcrumb{
    .you-here{
      color: $color-green-logo;
    }

    .breadcrumb{
      .breadcrumb-item{
        a{
          color: $color-blue-lv2;
        }
      }
    }
  }
  .share-social{
    display: block;
  }
  .info-video{
    background: $color-white;
    padding: 15px;
    p{
      font-size: 1.1rem;
    }
    .edit-by, .public-on{
      color: $color-gray-text;
      border-bottom: 1px solid $color-gray-border;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .author, .date{
      color: $color-blue-lv2;
      text-align: right;
    }
  }
  .box-share-social{
    padding: 10px 0;

    .list-social{
      .label-share-socials{
        font-size: 1.5rem;
        color: $color-gray-text;
      }
      .nav-link{
        color: $color-white;
        border-radius: 50%;
        padding: 0;
        width: 35px;
        height: 35px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        .icon-twitter-green{
          @include setBackgroundIcon(30px, "../images/icon-twitter-green.svg");
        }
        .icon-facebook-green{
          @include setBackgroundIcon(30px, "../images/icon-facebook-green.svg");
        }
        .icon-google-plus-green{
          @include setBackgroundIcon(30px, "../images/icon-google-plus-green.svg");
        }
        .icon-linkedin-green{
          @include setBackgroundIcon(30px, "../images/icon-linkedin-green.svg");
        }
      }
    }
  }

  .section-trending{
    margin-bottom: 80px;
    margin-top: 80px;
    .border-header{
      border-bottom: 1px solid $color-gray-border;
      position: relative;
      margin-bottom: 30px;
      .view-all{
        position: absolute;
        top: 20px;
        right: 0;
      }
    }
  }
}