.blog-knowledge-page{
  .knowledge-pt-30{
    padding-top: 30px;
  }
  .title-head-blue.have-border{
    margin-bottom: 0 !important;
    &:after{
      bottom: 0 !important;
    }
  }
  .box-knowledge{
    background: $color-blue-lv3;
    margin-bottom: 80px;
  }
  .highlight-news-right{
    margin-bottom: 30px !important;
  }
  .box-video-special{
    width: 66%;
    float: left;

  }
  .box-info-video{
    width: 34%;
    float: left;
    color: $color-white;
    padding: 20px 30px;
    h1{
      padding-bottom: 35px;
      font-size: 26px;
      color: $color-white;
      font-family: $font-pt;
      font-weight: normal;
    }
    h2{
      padding-bottom: 35px;
      font-size: 26px;
      color: $color-white;
      font-family: $font-pt;
      font-weight: bold;
    }
    p{
      font-size: 20px;
      font-family: $font-roboto;
      line-height: 140%;
    }
    .audit{
      position: absolute;
      bottom: 95px;
      .date-public{
        white-space: nowrap;
        color: #BDBDBD;
        font-family: $font-roboto;
      }
    }
    .category, .author{
      font-family: $font-roboto;
    }
    .author{
      color: #BDBDBD;
      font-weight: 600;
    }
    .category{
      font-weight: bold;
      color: $color-green-logo;
      display: inline-block;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .avatar{
      width: 40px;
      height: 40px;
      @include radius(50%);
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }

  .box-knowledge-relate{
    margin-bottom: 3rem;
    .embed-video{
      margin-bottom: 1rem;
    }
    h3{
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: $color-blue-lv1;
    }
    .audit{
      .name-author{
        margin-right: 30px;
      }
    }

  }

  .info-news{
    padding: 10px !important;
  }
}


/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
  .video-home-page{
    .pd-lr-0{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .blog-knowledge-page {
    .title-head-blue{
      font-weight: bold;
      font-size: 22px;
      line-height: 34px;
      color: #4F4F4F;
    }
    .box-knowledge{
      background: #fff;
      border-bottom: 3px solid #8DC63F;
      @include shadow-out(0px, 4px, 4px, rgba(0, 0, 0, 0.5));
    }
    .box-info-video , .box-video-special{
      float: none;
      width: 100%;
    }
    .box-info-video{
      padding: 15px;
      h1{
        font-size: 22px;
        line-height: 31px;
        color: #000000;
        padding-bottom: 15px;
      }
      .audit{
        position: static;
      }
    }

    .highlight-news-right{
      &.img-center {
        .thumbnail-news{
        width: 40%;
        float: left;
        margin-right: 5px;
      }
        .info-news{
          padding: 0 !important;
        }
      }
      .info-news {
        h2{
          max-height: 65px;
          overflow: hidden;
        }
      }
    }

  }
}