.head-category{
    background: $color-green-logo;
    padding: 19px 0;
    color: $color-blue-logo;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    .current-category{
        color: $color-blue-logo;
    }
}

.studio-detail-page{
    background: #021A32;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    .box-breadcrumb {
        .breadcrumb {
            .breadcrumb-item {
                a{
                    color: $color-white;
                }
            }
        }
    }
    .carousel-photo-detail{
        .owl-nav{
            .owl-next{
                position: absolute;
                right: -10px;
                top: calc(50% - 15px);
                outline: none;
                height: 35px;
                background: rgba(255, 255, 255, 1);
                width: 35px;
                border-radius: 50%;
                padding-top: 7px !important;
                display: inline-block;
                @include box-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
                &.disabled{
                    opacity: .5;
                }
            }
            .owl-prev{
                position: absolute;
                left: -10px;
                top: calc(50% - 15px);
                outline: none;
                height: 35px;
                background: rgba(255, 255, 255, 1);
                width: 35px;
                border-radius: 50%;
                padding-top: 7px !important;
                display: inline-block;
                @include box-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
                &.disabled{
                    opacity: .3;
                }
            }
        }
    }

    .box-icon-mini{
        .owl-nav{
            .owl-next{
                position: absolute;
                right: -10px;
                top: calc(50% - 7px);
                outline: none;
                height: 25px;
                background: rgba(255, 255, 255, 1);
                width: 25px;
                border-radius: 50%;
                padding-top: 3px !important;
                display: inline-block;
                @include box-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
                &.disabled{
                    opacity: .5;
                }
            }
            .owl-prev{
                position: absolute;
                left: -10px;
                top: calc(50% - 7px);
                outline: none;
                height: 25px;
                background: rgba(255, 255, 255, 1);
                width: 25px;
                border-radius: 50%;
                padding-top: 3px !important;
                display: inline-block;
                @include box-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
                &.disabled{
                    opacity: .3;
                }
            }
        }
    }
    .info-video{
        background: transparent;
        height: calc(100% - 30px);
        margin-bottom: 30px;
        border: 1px solid #C4C4C4;
        position: relative;
        padding: 25px;
        color: #BDBDBD;
        font-size: 17px;
        line-height: 120%;
        h1{
            color: $color-green-logo;
            font-weight: bold;
            min-height: 70px;
            font-size: 24px;
        }
        *:not(h2){
            font-family: $font-roboto;
        }
        .edit-by{
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 5px;
            font-family: $font-roboto;
        }
        .public-on{
            padding-bottom: 10px;
        }
        .edit-by, .public-on{
            color: #BDBDBD;
        }
        .author, .date{
            color: #BDBDBD;
        }
        .description{
            margin-bottom: 10px;
            padding-bottom: 10px;
            line-height: 130%;
        }
        .tags{
            border-top: 1px solid #E0E0E0;
            border-bottom: 1px solid #E0E0E0;
            padding-top: 10px;
            margin-bottom: 10px;
            padding-bottom: 20px;
            a{
                color: $color-green-lv4;
                font-weight: 500;
                text-transform: uppercase;
                &:after{
                    content: ",";
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .box-share-social{
            position: absolute;
            bottom: 0;
            right: 25px;
            width: calc(100% - 50px);
            .avatar{
                width: 35px;
                height: 35px;
                @include radius(50%);
                float: left;
                margin-right: 10px;
                margin-top: 5px;
            }
            .share-share-social{
                margin-bottom: 10px;
            }
            .nav-link{
                &:hover{
                    svg{
                        path{
                            fill: $color-white !important;
                        }
                    }
                }
            }
        }
    }

    .description-photo{
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(2,26,50,.7);
        width: 100%;
        padding: 5px 20px;
        color: #8DC63F;
    }
}

.blog-comment{
    padding-top: 50px;
    .box-advert{
        background: #0D3153;
        padding: 35px;
        margin-bottom: 40px;
        color: white;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        .sub-title{
            padding-bottom: 20px;
        }
        .btn-green-env{
            color: $color-blue-logo !important;
            font-weight: bold;
            white-space: normal;
        }
        &.bg-green{
            background: $color-green-logo;
        }
        .btn-blue-env{
            font-weight: bold;
            white-space: normal;
        }
    }
}