.studio-page{
  padding-bottom: 0 !important;
  .title-highlight-activities{
    margin-bottom: 30px;
    font-size: 36px;
    color: $color-blue-logo;
  }
  .studio-highlight{
    .highlight-news-right{
      margin-bottom: 30px;
    }
  }
  .box-studio{
    margin-bottom: 30px;
    position: relative;
    top: 0;
    -webkit-transition: box-shadow .2s ease-in-out,top .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out,top .2s ease-in-out;
    -ms-transition: box-shadow .2s ease-in-out,top .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out,top .2s ease-in-out;
    transition: box-shadow .2s ease-in-out,top .2s ease-in-out;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
    &:hover{
      top: -5px;
    }
     .box-photo-special{
       width: 66%;
       float: left;
         position: relative;
         &:hover{
           .icon-photo-play {
             opacity: 1;
             &:before {
               transform: scale(1.1);
             }
           }
         }

       .icon-photo-play{
         transition: .5s;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         font-size: 2rem;
         color: #fff!important;
         opacity: .5;
         &:before{
           content: "";
           display: table-cell;
           @include setBackgroundIcon(80px, '../images/icon-photo-play.svg');
         }
       }

       img{
         width: 100%;
       }
     }
    .box-info-photo{
      width: 34%;
      float: left;
      background: $color-blue-logo;
      padding: 15px;
      .audit{
        .author{
          color: #4F4F4F;
          font-weight: bold;
        }
      }
      .info-photo{
        color: $color-blue-lv2;
        .category{
          color: $color-green-logo;
          font-weight: bold;
          text-transform: uppercase;
        }
        h1{
          font-family: $font-pt;
          font-size: 1.875rem;
          color: $color-white;
          margin-bottom: 30px;
        }
        p{
          font-size: 1.25rem;
        }
      }
      .extent-info{
        color: #4F4F4F;
        .audit{
          font-family: $font-roboto;
          color: #BDBDBD;
          a{
            color: #BDBDBD;
            font-weight: bold;
          }
          span{
            font-family: $font-roboto;
          }
        }
        .avatar{
          width: 35px;
          height: 35px;
          @include radius(50%);
          float: left;
          margin-right: 10px;
          margin-top: 5px;
        }
        .date-public{
          white-space: nowrap;
          font-family: $font-roboto;
        }
      }
      .btn-blue-env{
        font-size: 1rem;
        padding: 5px 15px;
      }
    }
  }


  .highlight-news-right{
    .btn-blue-env{
      font-size: 1rem;
      padding: 5px 15px;
    }
    .audit{
      margin-bottom: 15px;
    }
    .info-news{
      padding: 10px !important;
      padding-top: 0 !important;
    }
    .btn-show-more{
      padding: 6px !important;
    }
  }

  .bg-blue-studio{
    .title-section{
      color: $color-white;
      margin-bottom: 30px;
      font-size: 1.5rem;
    }
    .highlight-news-right{
      background: $color-white;
      margin-bottom: 0;
    }
  }
}