.head-category{
    background: $color-green-logo;
    padding: 19px 0;
    color: $color-blue-logo;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    .current-category{
        color: $color-blue-logo;
    }
}

.studio-detail-page{
    background: #021A32;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    .box-breadcrumb {
        .breadcrumb {
            .breadcrumb-item {
                a{
                    color: $color-white;
                }
            }
        }
    }
    .carousel-photo-detail{
        .owl-item{
            margin-top: 0 !important;
        }
        .owl-nav{
            .owl-next{
                position: absolute;
                right: -20px;
                top: calc(50% - 25px);
                outline: none;
                height: 45px;
                width: 45px;
                padding-top: 7px !important;
                display: inline-block;
                background: url('../images/btn-next-slide.png') no-repeat center;
                @include transition(.3s);
                &:hover{
                    transform: scale(1.1);
                }
                &.disabled{
                    opacity: .5;
                }
            }

            .owl-prev{
                position: absolute;
                left: -20px;
                top: calc(50% - 25px);
                outline: none;
                height: 45px;
                width: 45px;
                padding-top: 7px !important;
                display: inline-block;
                background: url('../images/btn-prev-slide.png') no-repeat center;
                @include transition(.3s);
                &:hover{
                    transform: scale(1.1);
                }
                &.disabled{
                    opacity: .3;
                }
            }
        }
    }

    .box-icon-mini{
        .owl-item{
            margin-top: 0 !important;
            margin-bottom: 0 !important;

        }

        .owl-nav{
            .owl-next{
                position: absolute;
                right: -10px;
                top: calc(50% - 12px);
                outline: none;
                height: 25px;
                background: url('../images/btn-next-slide.png') no-repeat center;
                width: 25px;
                padding-top: 3px !important;
                display: inline-block;
                @include transition(.3s);
                background-size: 100%;
                &.disabled{
                    opacity: .5;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
            .owl-prev{
                position: absolute;
                left: -10px;
                top: 39%;
                outline: none;
                height: 25px;
                background: url('../images/btn-prev-slide.png') no-repeat center;
                width: 25px;
                padding-top: 3px !important;
                display: inline-block;
                @include transition(.3s);
                background-size: 100%;
                &.disabled{
                    opacity: .3;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .info-video{
        background: transparent;
        height: calc(100% - 30px);
        margin-bottom: 30px;
        border: 1px solid #C4C4C4;
        position: relative;
        padding: 25px;
        color: #BDBDBD;
        font-size: 17px;
        line-height: 120%;
        h1{
            color: $color-green-logo;
            font-weight: bold;
            min-height: 70px;
            font-size: 24px;
        }
        *:not(h2){
            font-family: $font-roboto;
        }
        .edit-by{
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 5px;
            font-family: $font-roboto;
        }
        .public-on{
            padding-bottom: 10px;
        }
        .edit-by, .public-on{
            color: #BDBDBD;
        }
        .author, .date{
            color: #BDBDBD;
        }
        .description{
            margin-bottom: 10px;
            padding-bottom: 10px;
            line-height: 130%;
        }
        .tags{
            border-top: 1px solid #E0E0E0;
            border-bottom: 1px solid #E0E0E0;
            padding-top: 10px;
            margin-bottom: 10px;
            padding-bottom: 20px;
            a{
                color: $color-green-lv4;
                font-weight: 500;
                text-transform: uppercase;
                &:after{
                    content: ",";
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .box-share-social{
            position: absolute;
            bottom: 0;
            right: 25px;
            width: calc(100% - 50px);
            .avatar{
                width: 35px;
                height: 35px;
                @include radius(50%);
                float: left;
                margin-right: 10px;
                margin-top: 5px;
            }
            .share-share-social{
                margin-bottom: 10px;
            }
            .nav-link{
                &:hover{
                    svg{
                        path{
                            fill: $color-white !important;
                        }
                    }
                }
            }
        }
    }

    .description-photo{
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(2,26,50,.7);
        width: 100%;
        padding: 5px 20px;
        color: #8DC63F;
    }
}

.blog-comment{
    padding-top: 50px;
    .box-advert{
        background: #0D3153;
        padding: 35px;
        margin-bottom: 40px;
        color: white;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        .sub-title{
            padding-bottom: 20px;
        }
        .btn-green-env{
            color: $color-blue-logo !important;
            font-weight: bold;
            white-space: normal;
        }
        &.bg-green{
            background: $color-green-logo;
        }
        .btn-blue-env{
            font-weight: bold;
            white-space: normal;
        }
    }
}
/* 	================================================================
	TABLET DEVICE
	Large TABLET 768px and down (<768px)
	================================================================== */
@media screen and (max-width: 768px) {

    .studio-gallery-detail-page{
        .blog-page {
            .section-trending {
                .highlight-news-right {
                    .info-news {
                        .audit{
                            display: block;
                            margin-bottom: 5px;
                            margin-top: 5px;
                            a{
                                font-size: 16px;
                            }
                            img{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .studio-detail-page {
        .box-breadcrumb{
            display: none;
        }
        .box-gallery-detail{
            padding-left: 0;
            padding-right: 0;
        }
        .owl-carousel.owl-drag {
            .owl-item{
                margin-top: 0;
            }
        }
        .carousel-photo-detail {
            .owl-nav {
                .owl-next {
                    right: 15px;
                }
                .owl-prev {
                    left: 15px;
                }
            }
        }

        .info-video{
            padding: 0;
            border: 0;
            h1{
                font-family: $font-pt;
                margin-bottom: 0;
            }
            .box-share-social{
                position: static;
                width: 100%;
                .avatar{
                    display: none;
                }
            }
            .article-author{
                border-top: 1px solid #E0E0E0;
                padding-top: 5px;
            }
            .tags {
                border-bottom: 0;
                margin-bottom: 0;
                border-color: #E0E0E0;
                a{
                    color: $color-green-logo;
                }
            }
        }
    }

    .blog-advert-gallery{
        .box-advert{
            margin: 0;
        }
        .pd-lr-0{
            padding-right: 0;
            padding-left: 0;
        }
    }

}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: 425px) {
    .head-category{
        padding: 6px 0;
        font-size: 16px;
    }

    .studio-detail-page {
        .carousel-photo-detail {
            .owl-nav {
                .owl-next {
                    height: 30px;
                    width: 30px;
                    background-size: 100%;
                }
                .owl-prev {
                    height: 30px;
                    width: 30px;
                    background-size: 100%;
                }
            }
        }
    }
}