.studio-detail-page{
    background: #021A32;
    padding-bottom: 0 !important;
    padding-top: 30px !important;
    .box-breadcrumb {
        .breadcrumb {
            .breadcrumb-item {
                a{
                    color: $color-white;
                }
            }
        }
    }
    .carousel-photo-detail{
        .owl-nav{
            .owl-next{
                position: absolute;
                right: 0;
                top: calc(50% - 15px);
                outline: none;
                height: 35px;
                background: rgba(255, 255, 255, 0.6);
                width: 35px;
                border-radius: 50%;
                padding-top: 7px !important;
                display: inline-block;
                &.disabled{
                    opacity: .5;
                }
            }
            .owl-prev{
                position: absolute;
                left: 0;
                top: calc(50% - 15px);
                outline: none;
                height: 35px;
                background: rgba(255, 255, 255, 0.6);
                width: 35px;
                border-radius: 50%;
                padding-top: 7px !important;
                display: inline-block;
                &.disabled{
                    opacity: .3;
                }
            }
        }
    }

    .box-icon-mini{
        .owl-nav{
            .owl-next{
                position: absolute;
                right: 0;
                top: calc(50% - 7px);
                outline: none;
                height: 25px;
                background: rgba(255, 255, 255, 0.6);
                width: 25px;
                border-radius: 50%;
                padding-top: 3px !important;
                display: inline-block;
                &.disabled{
                    opacity: .5;
                }
            }
            .owl-prev{
                position: absolute;
                left: 0;
                top: calc(50% - 7px);
                outline: none;
                height: 25px;
                background: rgba(255, 255, 255, 0.6);
                width: 25px;
                border-radius: 50%;
                padding-top: 3px !important;
                display: inline-block;
                &.disabled{
                    opacity: .3;
                }
            }
        }
    }
    .info-video{
        background: transparent;
        height: calc(100% - 30px);
        margin-bottom: 30px;
        border: 1px solid #C4C4C4;
        color: #E0E0E0;
        position: relative;
        h2{
            color: $color-green-logo;
            font-weight: bold;
            margin-bottom: 70px;
        }
        .edit-by{
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .edit-by, .public-on{
            color: #BDBDBD;
        }
        .author, .date{
            color: #BDBDBD;
        }
        .box-share-social{
            position: absolute;
            bottom: 0;
            right: 15px;
            .share-share-social{
                margin-bottom: 10px;
            }
        }
    }

    .description-photo{
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(2,26,50,.7);
        width: 100%;
        padding: 5px 20px;
        color: #8DC63F;
    }
}

.blog-comment{
    .box-advert{
        background: #0D3153;
        padding: 30px 20px;
        margin-bottom: 40px;
        color: white;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        .btn-green-env{
            color: $color-blue-logo !important;
            font-weight: bold;
            white-space: normal;
        }
        &.bg-green{
            background: $color-green-logo;
        }
        .btn-blue-env{
            font-weight: bold;
            white-space: normal;
        }
    }
}