.pricing-page{
    padding-bottom: 0 !important;
    *{
        font-family: $font-roboto;
    }
    .box-header{
        margin-bottom: 50px;
        h2{
            font-size: 48px;
            font-weight: bold;
        }
        p{
            font-size: 26px;
            line-height: 150%;
        }
    }
    .box-nav-tab{
        margin-bottom: 100px;
        .nav-link{
            width: 200px;
            text-align: center;
            background: #F2F2F2;
            padding: 10px;
            color: #808080;
            &.active{
                background: #375D81;
                color: #FFF;
            }
            &.bd-radius-left{
                @include radius(5px 0 0 5px);
            }
            &.bd-radius-right{
                @include radius(0 5px 5px 0);
            }
        }
    }
    .tab-pane{
        margin-bottom: 100px;
    }
    .box-plan-pricing{
        .plan{
            margin-top: 30px;
            margin-bottom: 400px;
            font-size: 20px;
        }

        .pricing{
            font-size: 20px;
        }
    }
    .item-pricing{
        border: 1px solid #BDBDBD;
        @include radius(5px);
        text-align: center;
        padding: 20px;
        position: relative;
        padding-bottom: 40px;
        h2{
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 35px;
            border-bottom: 1px solid #BDBDBD;
            padding-bottom: 20px;
        }
        img{
            margin-bottom: 45px;
        }
        p{
            font-size: 18px;
            color: #808080;
            margin-bottom: 30px;
        }
        .pricing{
            font-size: 36px;
            color: $color-blue-logo;
            font-weight: bold;
        }
        .per-site-month{
            font-size: 18px;
            margin-bottom: 35px;
        }
        .sale-off{
            font-size: 14px;
            margin-bottom: 10px;
        }
        .btn-green-env{
            max-width: 100%;
            font-size: 16px;
            padding: 7px 10px;
            font-weight: 500;
            color: $color-blue-logo !important;
            width: 100%;
            &:hover{
                color: #fff !important;
            }
        }
        &.most-popular{
            background: #EDF6DF;
            @include box-shadow(0px, 4px, 4px, rgba(0, 0, 0, 0.5));
            .label-most-popular{
                background: #20466B;
                color: $color-green-logo;
                position: absolute;
                top: -39px;
                font-size: 20px;
                z-index: -1;
                padding: 5px;
                width: 100%;
                left: 0;
                @include radius(5px 5px 0 0);
                @include box-shadow(0px, 4px, 4px, rgba(0, 0, 0, 0.5));
            }
        }
    }

    .box-table-option{
       margin-top: 100px;
    }
    .table-option-business{
        margin-bottom: 100px;
        thead{
            th{
                font-size: 22px;
                font-weight: 500;
                text-align: center;
                color: #828282;
                width: 300px;
                border-bottom: 1px solid #BDBDBD;
                border-top: 1px solid #BDBDBD;
                padding: 10px 0;
                &:first-child{
                    width: auto;
                    text-align: left;
                    font-size: 20px;
                    font-weight: normal;
                }
                &:nth-child(3){
                    background: #EDF6DF;
                    width: 270px;
                }
            }
        }
        tbody{
            td{
                font-size: 18px;
                text-align: center;
                border-color: #E0E0E0;
                vertical-align: middle;
                padding: 10px 0;
                height: 70px;
                &:first-child{
                    text-align: left;
                    position: relative;
                    padding-right: 40px;
                    font-weight: normal;
                }
                &:nth-child(3){
                    background: #EDF6DF;
                }
            }
            th{
                font-weight: bold;
                vertical-align: middle;
                height: 70px;
                padding: 10px 0;
            }
            .blue{
                th{
                    color: #20466B;
                }
                td{
                    &:first-child{
                        color: #20466B;
                    }
                }
            }
            .circle{
                display: inline-block;
                width: 15px;
                height: 15px;
                @include radius(50%);
                background: #8DC63F;
            }
            .info{
                @include setBackgroundIcon(20px, '../images/icon-info-green.svg');
                position: absolute;
                right: 0;
                top: calc(50% - 10px);
            }
            .btn-green-env{
                max-width: 100%;
                padding: 7px 10px;
                color: $color-blue-logo !important;
                font-size: 16px;
                margin-top: 30px;
                font-weight: 500;
                width: 90%;
                &:hover{
                    color: #fff !important;
                }
            }
            .button{
                td{
                    &:nth-child(3){
                        background: #fff;
                    }
                }

            }
        }
    }
    .description-business{
        font-size: 22px;
        margin: auto;
        width: 80%;
        margin-bottom: 50px;
    }
    .section-faq{
        padding-top: 120px;
        padding-bottom: 50px;
        .box-question{
            .item-question{
                h3{
                    font-size: 20px;
                    color: #808080;
                    line-height: 150%;
                    font-weight: 400;
                    padding: 20px 0;
                    border-bottom: 1px solid #BDBDBD;
                    cursor: pointer;
                    background: url("../images/icon-plus-button-blue.svg") no-repeat;
                    background-position: 98%;
                    &[aria-expanded="true"]{
                        background: url("../images/icon-less-button-blue.svg") no-repeat;
                        background-position: 98%;
                    }
                }
                .box-answer{
                    background: #fff;
                    line-height: 150%;
                    padding: 15px;
                }
                &:first-child{
                    h3{
                        border-top: 1px solid #BDBDBD;
                    }
                }
            }
        }
    }
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
    .pricing-page {
        .box-header {
            h2{
                font-size: 24px;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
            }
        }
        .box-nav-tab{
            margin-bottom: 30px;
        }
        .item-pricing{
            margin-bottom: 50px;
        }
        .col-md-8{
            &:nth-child(2){
                .item-pricing {
                    margin-bottom: 80px;
                }
            }
        }
        .box-table-option, .description-business{
            display: none;
        }
        .section-faq {
            h2{
                font-size: 24px;
                margin-bottom: 40px;
            }
            .box-question {
                .item-question {
                    h3{
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}

/* 	================================================================
	LARGE MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
    .pricing-page {
        .box-nav-tab {
            margin-bottom: 15px;
            .nav-item{
                width: calc(50% - 15px);
                .nav-link{
                    width: 100%;
                    padding: 10px 7px;
                }
            }
        }
        .tab-pane{
            margin-bottom: 0;
        }
        .section-faq{
            margin-top: 50px;
        }
    }
}