section.quality-assurance-page{
  .description-overhead{
    margin-bottom: 0;
  }
  .item-quality{
    background: $color-green-logo;
    text-align: center;
    padding: 15px;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    font-size: 1.625rem;
    color: $color-white;
    @include radius(10px);
    img{
      width: 90px;
      margin-bottom: 10px;
    }
  }

  .item-provide{
    border: 2px solid $color-blue-logo;
    @include radius(10px);
    text-align: center;
    padding: 40px;
    font-size: 1.625rem;
    height: 100%;
  }
}