section.quality-assurance-page{
  .description-overhead{
    margin-bottom: 0;
  }
  .item-quality{
    background: $color-green-logo;
    text-align: center;
    padding: 15px;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    font-size: 1.625rem;
    color: $color-white;
    @include radius(10px);
    img{
      width: 90px;
      margin-bottom: 10px;
    }
  }

  .item-provide{
    border: 2px solid $color-blue-logo;
    @include radius(10px);
    text-align: center;
    padding: 40px;
    font-size: 1.625rem;
    height: 100%;
  }
}
/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
  section.quality-assurance-page {
    .item-provide{
      padding: 20px;
      font-size: 18px;
    }
    .btn-submit {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  section.quality-assurance-page {
    .box-item-provide{
      margin-bottom: 30px;
      .item-provide{
        height: 100%;
      }
    }
    .item-quality{
      padding: 5px;
    }
  }
}
