.nav-small-business{
    background: #021A32;
    a{
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        padding: 20px;
        display: inline-block;
        &.active{
            color: $color-green-logo;
        }
        &:first-child{
            padding-left: 0;
        }
    }
}
.banner-small-business.bg-blue{
    img{
        bottom: 100px;
    }
    .box-info-small-business{
        margin-top: 100px;
        max-width: 800px;
        h1{
            position: static;
            @include translate(0, 0);
            color: #fff;
            text-transform: inherit;
            margin-bottom: 30px;
        }
        p{
            font-size: 26px;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 30px;
            color: #fff;
        }
        .btn-green-env{
            color: $color-blue-logo !important;
            font-weight: bold;
            &:hover{
                color: #fff !important;
            }
        }
    }
}

.small-business-page{
    padding-bottom: 0 !important;
    .box-header{
        width: 80%;
        margin: auto;
        margin-bottom: 60px;
        h2{
            font-size: 36px;
            font-weight: bold;
        }
        p{
            font-size: 26px;
            font-weight: 500;
        }
    }
    .item-build{
        img{
            margin-bottom: 30px;
        }
        h3{
            font-size: 26px;
            font-weight: 600;
            color: #808080;
            margin-bottom: 30px;
        }
        ul>li{
            font-size: 22px;
            color: #808080;
            margin-bottom: 15px;
            padding-left: 30px;
            text-align: left;
            position: relative;
            &:before{
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                @include radius(50%);
                background: #BDBDBD;
                text-align: left;
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
    }
    .box-button{
        margin-bottom: 50px;
        margin-top: 100px;
    }
    .box-peace-of-mind{
        margin-top: 50px;
        margin-bottom: 150px;
        h2{
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 50px;
            text-transform: inherit;
        }
        p{
            font-size: 26px;
            margin-bottom: 15px;
            font-weight: 500;
        }
    }
    .section-how-it-works{
        padding-top: 100px;
        padding-bottom: 150px;
        h2{
            font-size: 36px;
            font-weight: bold;
        }
        p{
            font-size: 26px;
            font-weight: 500;
            line-height: 150%;
        }
        .item-how-it-work{
            background: #FFFFFF;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            @include shadow-out(0px, 6px, 4px, rgba(0, 0, 0, 0.5));
            padding: 35px 20px;
            h3{
                font-weight: 600;
                font-size: 26px;
                line-height: 150%;
                text-align: center;
                color: #808080;
                padding-bottom: 30px;
                margin-bottom: 30px;
                position: relative;
                &:after{
                    content: '';
                    display: inline-block;
                    width: 135px;
                    border-bottom: 2px solid #8DC63F;
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 68px);
                }
            }
            p{
                font-size: 22px;
                line-height: 150%;
                color: #808080;
            }
        }
        .box-how-it-work{
            margin-bottom: 100px;
        }
        .box-support-experience{
            margin-top: 200px;
            margin-bottom: 50px;
        }
    }

    .section-your-business{
        margin-top: 50px;
        margin-bottom: 100px;
        h2{
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 50px;
            text-align: left;
            text-transform: inherit;
        }
        ul>li {
            font-size: 26px;
            font-weight: 500;
            margin-bottom: 15px;
            position: relative;
            padding-left: 50px;
            &:before{
                content: '';
                @include setBackgroundIcon(35px, '../images/icon-checked-green.svg');
                text-align: left;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
    .banner-small-business.bg-blue {
        img{
            position: static;
            display: block;
            margin: auto;
            padding-top: 30px;
        }
        .box-info-small-business{
            margin-top: 50px;
            margin-bottom: 50px;
            h1{
                margin-bottom: 20px;
                font-size: 24px;
                line-height: 150%;
            }
            p{
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
    .small-business-page {
        .box-header {
            width: 100%;
            h2{
                font-size: 24px;
                padding-bottom: 30px;
            }
            p{
                font-size: 18px;
            }
        }
        .item-build {
            h3{
                font-size: 18px;
                text-align: left;
            }
            ul{
                >li{
                    font-size: 18px;
                }
            }
            .block-expanded{
                position: relative;
                border-top: 1px solid #BDBDBD;
                border-bottom: 1px solid #BDBDBD;
                padding: 20px 0;
                margin-top: -1px;
                img{
                    float: left;
                    width: 30px;
                    margin-bottom: 0;
                    margin-right: 15px;
                }
                h3{
                    float: left;
                    margin-bottom: 0;
                    line-height: 30px;
                }
                .icon-arrow-bottom-gray{
                    @include setBackgroundIcon(25px, '../images/icon-arrow-bottom-gray.svg');
                    vertical-align: middle;
                    position: absolute;
                    right: 0;
                    z-index: 9999;
                    &[aria-expanded="true"]{
                        @include rotate(180deg);
                    }
                }
            }
            .content-expanded{
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        #accordion{
            .box-button{
                margin-top: 50px;
            }
        }
       .box-button{
           margin-top: 0;
       }
        .box-peace-of-mind {
            margin-top: 20px;
            margin-bottom: 50px;
            h2{
                font-size: 24px;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
            }
        }
        .section-how-it-works{
            padding-top: 20px;
            padding-bottom: 50px;
            h2{
                font-size: 24px;
                margin-bottom: 30px;
            }
            p{
                font-size: 18px;
            }
            .box-how-it-work{
                margin-bottom: 50px;
            }
            .item-how-it-work{
                margin-bottom: 50px;
            }
        }
        .section-your-business {
            margin-top: 30px;
            margin-bottom: 50px;
            h2{
                font-size: 24px;
                margin-bottom: 20px;
            }
            ul > li{
                font-size: 20px;
                padding-left: 35px;
                &:before{
                    width: 25px;
                    height: 25px;
                }
            }
            .box-button{
                margin-bottom: 0;
                margin-top: 20px;
            }
        }
    }
}

/* 	================================================================
	LARGE MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {

}