.technology-consulting-page{
  .box-circle{
    width: 300px;
    height: 300px;
    border: 2px solid $color-green-logo;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    margin: auto;
  }
  .list-technology{
    li{
      padding: 10px 20px;
      text-align: center;
      background: $color-green-logo;
      margin: 20px 0;
      border-radius: 20px;
      color: $color-white;
    }
  }
}