section.testing-page{
  .item-test{
    padding: 40px;
    img{
      padding-bottom: 15px;
    }
    h3{
      font-size: 26px;
      font-weight: bold;
    }
  }
  .info-step{
    padding: 15px;
    padding-right: 57px;
    padding-left: 63px;
    p{
      font-size: 26px;
      line-height: 37px;
    }
  }
  .bg-blue{
    background: $color-blue-logo;
  }
  .bg-green{
    background: $color-green-logo;
  }

  .item-deploy-confidence{
    border: 1px solid $color-gray-border;
    padding: 15px;
    @include radius(10px);
    margin-bottom: 30px;
    height: calc(100% - 30px);
    p{
      font-size: 26px;
      line-height: 37px;
    }
  }

  .title-blue{
    font-size: 1.625rem;
    line-height: 37px;
    text-align: center;
    width: 65%;
    margin: auto;
  }
  .item-qa{
    padding: 15px;
    width: 180px;
    height: 180px;
    text-align: center;
    border: 1px solid $color-black;
    font-size: 1.625rem;
  }
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
  section.testing-page {
    .info-step {
      p{
        font-size: 18px;
      }
    }
    .item-test {
      h3{
        font-size: 22px;
      }
    }
   .item-deploy-confidence {
     p{
       font-size: 18px;
     }
   }
   .title-blue{
     font-size: 22px;
     width: 100%;
   }
    .item-qa{
      font-size: 18px;
    }
  }
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  section.testing-page {
    .item-qa{
      padding: 5px;
      width: 100px;
      height: 100px;
    }
    .item-deploy-confidence{
      img{
        width: 80px;
      }
    }

    .bg-green, .bg-blue{
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
      h3{
        padding-left: 30px;
        margin-bottom: 0;
      }
    }
  }
}