.analyze-section{
  background: $color-blue-lv4;
  .box-infomation-analyze{
    padding: 80px 0;
    text-align: center;
    padding-bottom: 30px;
    h3{
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      color: #F2F2F2;
      margin-bottom: 50px;
    }
    .description-analyze{
      font-weight: 500;
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      color: #F2F2F2;
      margin-bottom: 30px;
    }
    .analyze-form{
      .gform_wrapper{
        margin: 0;
        position: relative;
        ul.gform_fields {
          li.gfield{
            margin: 0 !important;
            padding: 0;
          }
        }
        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
          margin: 0 !important;
          width: 100%;
          background: #fff;
          outline: none;
          box-shadow: none;
          border: 1px solid #fff;
          padding: 12px 30px;
          @include radius(5px);
        }
        .top_label {
          div.ginput_container{
            margin: 0 !important;
          }
        }
        .gform_footer{
          padding: 0 !important;
          margin: 0 !important;
          input.button,
          input[type=submit]{
            position: absolute;
            top: 0;
            right: 0;
            background: #8DC63F;
            margin-right: 0;
            height: 100%;
            @include radius(0 5px 5px 0);
            padding-left: 15px;
            padding-right: 15px;
            font-weight: bold;
            color: #fff;
            max-height: 50px;
            &:hover{
              color: $color-blue-logo;
            }
          }
        }

        &.gform_validation_error {
          .gform_body {
            ul {
              li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
                max-width: 100% !important;
              }
            }
          }
        }
      }
    }

    .discussion-box{
      font-weight: 500;
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: #F2F2F2;
      margin-top: 50px;
      svg{
        vertical-align: middle;
        @include transition(.3s);
        &:hover{
          path:nth-child(8), path:nth-child(7){
            fill: #0D3153;
          }
          rect{
            stroke: #0D3153;
            fill: #0D3153;
          }
        }

      }
    }
  }
}

/*=============ANALYZE PAGE==============*/
.analyze-page{
  background: #F2F2F2;
  padding-top: 80px;
  padding-bottom: 80px;
  .box-info-done{
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #4F4F4F;
    .box-logo{
      text-align: center;
      margin-bottom: 50px;
      display: block;
    }
    .status{
      font-weight: bold;
      font-size: 25px;
      line-height: 150%;/* or 37px */
      text-align: center;
      color: #4F4F4F;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 20px;
    }
    .keyword-analyze{
      margin-bottom: 30px;
      font-style: italic;
      font-size: 25px;
      line-height: 150%;
      color: #45678A;
    }
    .description{
      font-size: 20px;
      line-height: 28px;
      color: #808080;
      margin-bottom: 30px;
    }
  }
  .analyze-form{
    .gform_wrapper {
      ul.gform_fields {
        li.gfield{
          width: 50%;
          float: left;
          margin: 0 !important;
          padding: 0;
          margin-top: 30px !important;
          max-width: 50%;

          &.gf_right_half{
            float: none;
            text-align: right;
            max-width: 50%;
          }
        }
      }
      .top_label {
        div.ginput_container{
          margin: 0;
        }
        div:not(.ginput_container_date) {
          select.medium{
            height: 50px;
          }
        }
        li.gfield.gf_right_half {
          div:not(.ginput_container_date) {
            select.medium{
              width: 90%;
              border: none !important;
              background: #fff;
            }
          }
        }
      }
      input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
        padding: 10px 25px;
        border: none !important;
        font-size: 18px;
        @include radius(5px);
        width: 90%;
        margin-top: 0;
      }
      .gform_footer{
        text-align: center;
      }

      input.button,
      input[type=submit]{
        background: #8DC63F;
        @include radius(5px);
        padding: 15px 20px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #0D3153;
        font-weight: bold;
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 50px;
      }

      li.gfield.gfield_error.gfield_contains_required {
        div.gfield_description{
          max-width: 50%;
        }
      }
    }
  }
  .footer-analyze{
    *{
      color: #BDBDBD;
    }
  }
}


/*=============ANALYZE PAGE END==============*/