/*============BLOG HOME=================*/
.section-blog{
	padding-top: 70px;
	padding-bottom: 170px;
}
.section-blog-home{
	margin-bottom: 120px;
}
.bg-greenish-bloghome{
	background: #F8FFF2;
	padding-top: 75px !important;
	padding-bottom: 75px !important;
}
.content-blog{
	.main-content{
		h2, h3{
			margin-top: 30px;
			margin-bottom: 15px;
		}
		h4, h5{
			margin-top: 20px;
			margin-bottom: 10px;
		}
	}
	.box-head-blog{
		margin-bottom: 30px;
	}

	.item-special{
		position: relative;
		top: 0;
		background: rgba(169, 228, 88, .85);;
		margin-bottom: 30px;
		padding-right: 15px;
		@include transitionInOut(.2s);
		@include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));

		&:hover{
			top: -5px;
		}
		.img-special{
			padding-right: 0;
			img{
				width: 100%;
			}
		}
		.info-special{
			padding-top: 15px;
			padding-bottom: 15px;
		}
		a.category{
			font-size: 16px;
			padding-bottom: 10px;
			display: inline-block;
			font-family: $font-roboto;
			&:hover{
				img{
					opacity: .8;
				}
			}
		}
		.title-special{
			color: $color-black;
			padding-bottom: 20px;
			font-weight: bold;
			font-size: 26px;
			font-family: $font-pt !important;
		}
		.excerpt{
			p{
				font-family: $font-roboto !important;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 28px;
				padding-top: 10px;
			}
		}
		.category{
			text-transform: uppercase;
			color: $color-blue-logo;
			font-weight: bold;
		}
		.avatar{
			width: 40px;
			height: 40px;
			@include radius(50%);
			float: left;
			margin-right: 10px;
			margin-top: 5px;
		}
		.author-by{
			color: #4F4F4F;
			font-weight: 500;
			font-family: $font-roboto;
		}
		.date-by{
			color: #4F4F4F;
			white-space: nowrap;
			font-family: $font-roboto;
		}
		.excerpt{
			color: #191919;
			text-align: right;
			p{
				text-align: left;
			}
		}
		.read-more{
			color: #4F4F4F;
			font-family: $font-roboto;
		}
	}

	.owl-stage{
		padding-bottom: 15px;
		padding-top: 10px;
	}

	.box-item-special{
		position: relative;
		top: 0;
		@include transitionInOut(.2s);
		margin-bottom: 30px;
		&:hover{
			top: -5px;
		}
		a{
			&:hover{
				h4{
					color: $color-blue-lv4 !important;
				}
			}
		}
		h4{
			font-size: 20px;
			font-family: $font-pt;
			margin-bottom: 20px;
			color: $color-black;
			padding-bottom: 50px;
		}
		.item-blog{
			border: 1px solid $color-gray-border;
			height: 100%;
			box-sizing: border-box;
			background: $color-white;
			border-bottom: 3px solid #8DC63F;
			@include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));
			.info{
				padding: 10px 15px;
			}
			.info-author{
				position: absolute;
				bottom: 15px;
				.avatar{
					width: 35px;
					height: 35px;
					@include radius(50%);
					float: left;
					margin-right: 10px;
					margin-top: 5px;
				}
				.date-by{
					white-space: nowrap;
					font-family: $font-roboto;
					color: #90989E;
				}
			}
			.title-list-special{
				font-family: $font-pt;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 28px;
			}
		}
		.category{
			text-transform: uppercase;
			color: $color-green-logo;
			font-weight: 500;
			display: inline-block;
			margin-bottom: 5px;
			font-family: $font-roboto;
		}
		.author-by{
			color: #90989E;
			font-family: $font-roboto;
			font-weight: 500;
		}
		.excerpt{
			color: #191919;
			text-align: right;
			p{
				text-align: left;
			}
		}

		&.item-blue-pc{
			.item-blog{
				border-bottom: 0;
				position: relative;
				.link-post{
					&:before{
						content: '';
						display: block;
						background: rgba(0, 90, 120, .5);
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
					}
					&:hover{
						.title-white {
							color: #fff !important;
						}
					}
				}
				.title-white{
					padding: 0;
					margin: 0;
					position: absolute;
					top: 80%;
					left: 15px;
					color: #fff;
					z-index: 99;
					&:hover{
						color: #fff !important;
						font-weight: bold;
					}
				}
			}
			.info{
				display: none;
			}
		}
	}
	
}

.list-item{
	background: $color-blue-lv3;
	height: 100%;
	.label-headline{
		color: $color-white;
		padding: 20px 10px;
		font-size: 18px;
		background: $color-blue-lv2;
		font-weight: bold;
	}
	.box-list-scroll{
		padding: 10px;
		height: 600px;
		overflow: auto;
		padding-right: 0;
		.mCSB_inside>.mCSB_container{
			margin-right: 15px;
		}
		.item-detail{
			position: relative;
			margin-bottom: 15px;
			a{
				cursor: pointer;
				&:hover{
					opacity: .8;
				}
			}
			img{
				width: 100%;
			}
			h5{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				padding: 10px 20px;
				background: rgba(2, 26, 50, .7);
				font-size: 14px;
				color: $color-white;
				font-family: $font-pt;
				line-height: 22px;
			}
		}
	}
}

.item-blog-mobile-horizontal{
	position: relative;
	margin-bottom: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	img{
		float: left;
		width: 35%;
	}
	.info{
		padding-left: calc(35% + 15px);
		.category{
			font-weight: bold;
			color: $color-green-logo;
		}
		h4{
			font-size: 24px;
			font-family: $font-pt;
			padding-right: 15px;
			font-weight: bold;
		}
		.box-author-by{
			position: absolute;
			bottom: 0;
		}
	}
}


.slider-news{
	.owl-nav{
		.owl-next{
			position: absolute;
			right: -20px;
			top: 40%;
			outline: none;
			@include transition(.3s);
			&:hover{
				@include transformScale(1.1);
			}
			&.disabled{
				opacity: .5;
			}
			.btn-next-slide{
				@include setBackgroundIcon(40px, "../images/btn-next-slide.png");
			}
		}
		.owl-prev{
			position: absolute;
			left: -20px;
			top: 40%;
			outline: none;
			@include transition(.3s);
			&:hover{
				@include transformScale(1.1);
			}
			&.disabled{
				opacity: .5;
			}
			.btn-prev-slide{
				@include setBackgroundIcon(40px, "../images/btn-prev-slide.png");


			}
		}
	}
}
/*============END BLOG HOME=================*/

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.background-gray-mobile{
		padding-top: 50px;
	}
	.section-blog{
		padding-bottom: 120px;
	}
	.item-blog-mobile-horizontal{
		background: $color-white;
	}
	.content-blog {
		margin-bottom: 0;
		&.define-headline {
			.view-all{
				display: none;
			}
			.underline-head{
				border-bottom: none;
				padding-bottom: 0;
			}
			span{
				&:after{
					display: none !important;
				}
			}
		}
		.item-special {
			background: $color-white;
			margin-bottom: 30px;
			padding-right: 15px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			background: $color-white;
			.info-special{
				.box-info, .box-author{
					padding-left: 15px;
				}
			}
			h3{
				margin-top: 15px;
			}
		}
		.box-item-special{
			h4{
				font-size: 1rem;
				margin-bottom: 15px;
				font-weight: bold;
			}
		}
		.box-item-special {
			.item-blog {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}
		.title-special{
			font-size: 22px !important;
			margin-top: 0 !important;
		}
		.col-px-0{
			padding-left: 0;
			padding-right: 0;
		}
		.box-item-special {
			min-width: 270px;
			margin-right: 15px;
			.item-blog {
				.title-list-special{
					font-size: 17px;
					padding-bottom: 65px;
					line-height: 130%;
				}
				.info-author{
					bottom: 15px;
				}
			}
			&.item-blue-pc {
				.item-blog {
					border-bottom: 3px solid #8DC63F;
					.link-post {
						&:before {
							display: none;
						}
					}
					.info{
						display: block;
					}
				}
			}
		}


		.blog-feature-home{
			padding-left: 0;
			padding-right: 0;
			.item-special {
				.img-special{
					padding-left: 0;
				}
				.info-special{
					border-bottom: 3px solid #8DC63F;
					.box-info, .box-author{
						padding-left: 15px;
					}
				}
				h3{
					margin-top: 15px;
				}
				.excerpt{
					display: none;
				}
				.category{
					color: #8DC63F;
				}
			}
			.box-item-special{
				margin-right: 0;
				h4{
					font-size: 1rem;
					margin-bottom: 15px;
					font-weight: bold;
				}
				.item-blog {
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					.info{
						padding: 0;
						.info-news{
							padding-left: calc(40% + 5px);
							padding-right: 5px;
						}
					}
				}
			}

			.box-head-blog{
				.title-head-blue{
					color: #4F4F4F;
				}
			}
			.title-special{
				font-size: 22px !important;
				margin-top: 0 !important;
			}
			.box-item-special {
				min-width: 270px;
				.img-feature-blog{
					float: left;
					display: inline-block;
					width: 40%;
					text-align: center;
					img{
						width: 120px;
						height: auto;
						padding-bottom: 35px;
						padding-top: 35px;
					}
				}
				.category{
					margin-top: 5px;
					font-size: 15px;
				}

				.item-blog {
					.title-list-special{
						font-size: 17px;
						padding-bottom: 0;
						line-height: 130%;
					}
					.info-author{
						position: static;
						.avatar, .date-by{
							display: none;
						}
						.author-by {
							font-size: 14px;
							position: absolute;
							left: calc(40% + 5px);
							bottom: 10px;
							white-space: nowrap;
						}
					}
				}
			}
		}
	}
	.box-item-scroll{
		overflow: scroll;
	}

}
/* 	================================================================
	LARGE MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
	.content-blog{
		.box-item-special {
			margin-right: 30px;
			a {
				display: block;
			}
			.item-blog {
				.info-author{
					width: calc(100% - 45px);
				}
			}
		}
		.item-special{
			.info-special{
				.box-info{
					padding-left: 15px;
				}
				.box-author{
					padding-left: 15px;
				}
			}
		}
	}

	.item-blog-mobile-horizontal {
		img{
			width: 40%;
		}
		.info {
			padding-left: calc(40% + 5px);
			.category{
				font-size: 12px;
			}
			h4{
				font-size: 16px;
				padding-right: 5px;
			}
			.box-author-by{
				display: none;
			}
		}
	}

	.slider-news {
		.owl-nav {
			.owl-next {
				right: 0;
				.btn-next-slide {
					width: 30px;
					height: 30px;
				}
			}

			.owl-prev {
				left: 0;
				.btn-prev-slide {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	.box-item-horizontal-mb {
		padding-right: 0;
		padding-left: 0;


		.item-blog {
			.info-author{
				display: none;
			}
			.thumbnail-news {
				display: inline-block;
				width: 40%;
				float: left;
				margin-right: 5px;
			}
			.info-news {
				padding-left: 15px;
				padding-bottom: 0;
				padding-top: 0;

				.category {
					font-size: 15px;
					font-weight: 500;
					margin-top: 0;
					margin-bottom: 2px;
				}

				h2 {
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 0;
					padding-bottom: 0;
					padding-left: 40%;
				}
			}
		}
	}

}
/* 	================================================================
	MOBILE DEVICE
	Mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {

}

/* =================== END RESPONSIVE ======================= */