.bg-building{
	.bg-blue-home{
		padding: 75px 0;
	}
}
.content-contact-quote-book{
	color: $color-white;
	padding: 70px auto;
	text-align: center;
	h4{
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		padding-bottom: 15px;
		color: $color-white;
		text-align: center;
	}
	p{
		font-size: 20px;
		line-height: 28px;
		padding-bottom: 30px;
		width: 300px;
		margin: auto;
		font-weight: 500;
	}
	article{
		width: 300px;
	}
	.btn-green-env{
		width: 300px;
		font-size: 24px;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		outline: none;
		border: none;
		&:hover{
			background: #71AB20;
			color: $color-blue-logo !important;
		}
	}
	.btn-white-env{
		width: 300px;
		font-size: 24px;
		font-weight: 600;
		padding-top: 6px;
		padding-bottom: 6px;
		outline: none;
		&:hover{
			.icon-arrow-bottom {
				background: url("../images/icon-arrow-bottom-green.png") no-repeat;
				vertical-align: middle;
				background-size: 100% 100%;
			}
		}
	}
	.btn-transparent{
		background: transparent;
		border: 1px solid $color-white;
	}
	.icon-arrow-bottom{
		@include setBackgroundIcon(20px, "../images/icon-arrow-bottom.png", 13px);
		vertical-align: middle;
		background-size: 100% 100%;
	}
	.form-toggle{
		padding: 50px 15px;
		background: $color-blue-logo;
		width: 300px !important;
		input{
			background: transparent;
			border-radius: 0;
		}
		.btn-transparent{
			background: transparent;
			white-space: normal;
			padding: 10px;
			width: 100%;
		}
	}
}



/* =================== RESPONSIVE ======================= */

/* 	================================================================
	Large desktop 1200px and down (1200px)
	================================================================== */
@media screen and (max-width: $device-size-extra-large) {
	.content-contact-quote-book {
		h4{
			font-size: 26px;
		}
		.btn-green-env{
			width: 85%;
			font-size: 18px;
		}
	}
}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
	.content-contact-quote-book {
		h4{
			padding-bottom: 0;
		}
		p{
			padding-bottom: 0;
		}
		.btn-green-env{
			margin-bottom: 30px;
		}
	}
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.content-contact-quote-book {
		h4{
			padding-bottom: 10px;
		}
		p {
			padding-bottom: 10px;
		}
		article{
			margin: auto;
		}
	}
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
	.content-contact-quote-book {
		h4{
			font-size: 1.5rem;
		}
		p{
			font-size: 1rem;
		}
	}
}

/* =================== END RESPONSIVE ======================= */