/*============EVENTS HOME=================*/
.content-envent{
	margin-bottom: 80px;
	.box-head-blog{
		.underline-head{
			margin-bottom: 30px;
		}
		.text-inherit{
			text-transform: inherit;
			span.by{
				font-size: 24px;
				font-weight: normal;
				color: #525353;
				&:after{
					background: transparent;
				}
			}
			a{
				font-size: 24px;
				font-weight: normal;
			}
		}
		
	}
	h1{
		font-family: $font-head-1;
		padding-bottom: 50px;
	}
	.box-item-event{
		position: relative;
		top: 0;
		border: 1px solid $color-gray-border;
		padding: 15px 0;
		margin-bottom: 30px;
		@include transitionInOut(.2s);
		@include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));
		min-height: 200px;
		&:last-child{
			margin-bottom: 0;
		}
		&:hover{
			top: -5px;

		}
		.box-date{
			display: inline-block;
			float: left;
			font-size: 30px;
			color: #0D3153;
			background: #8DC63F;
			margin-left: 15px;
			font-weight: bold;
			padding: 5px 10px;
			span{
				display: inline-block;
				padding: 5px 10px;
				font-size: 30px;
				font-weight: bold;
				color: $color-blue-lv3;
				background: $color-green-logo;
			}
		}
		.box-info{
			padding-left: 25%;
		}
		h2{
			font-size: 26px;
			font-weight: bold;
			color: $color-blue-lv1;
			margin-bottom: 15px;
			padding-right: 15px;
		}
		p{
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 0;
			color:  #333333;
		}
		.location{
			color:  #333333;
			font-size: 18px;
			position: absolute;
			bottom: 15px;
			.icon-location{
				@include setBackgroundIcon(25px, "../images/icon-location-event.svg");
				vertical-align: bottom;
				margin-right: 5px;
			}
		}
	}

}


/*============END EVENTS HOME=================*/



/* =================== RESPONSIVE ======================= */

/* 	================================================================
	Large desktop 1200px and down (1200px)
	================================================================== */
@media screen and (max-width: $device-size-extra-large) {
	.content-envent {
		.box-item-event {
			.box-info{
				padding-left: 31%;
			}
		}
	}
}
/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.content-envent {
		display: none;
	}
}

/* =================== END RESPONSIVE ======================= */