.section-featured-contributors{
    padding-top: 170px;
    padding-bottom: 150px;
    .box-header{
        h2{
            font-weight: bold;
            font-size: 36px;
            line-height: 150%;
            color: #0D3153;
            margin-bottom: 70px;
        }
    }
    .item-author{
        background: #F2F2F2;
        border: 1px solid #BDBDBD;
        padding: 20px 15px;
        padding-bottom: 30px;
        padding-bottom: 30px;
        position: relative;
        *{
            font-family: $font-roboto;
        }
        img{
            float: left;
            margin-right: 20px;
            @include radius(50%);
            width: 80px;
        }
        h3{
            font-weight: 600;
            font-size: 20px;
            line-height: 140.88%;
            color: #0D3153;
            margin-bottom: 10px;
        }
        .position{
            font-size: 16px;
            line-height: 150%;
            color: #828282;
        }
        a{
            font-size: 16px;
            line-height: 19px;
            text-decoration-line: underline;
            color: #375D81;
            position: absolute;
            bottom: 15px;
            left: 115px;
        }
    }
}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
    .section-featured-contributors {
        padding-top: 110px;
        padding-bottom: 85px;
        .box-header {
            h2{
                margin-bottom: 40px;
                font-size: 24px;
            }
        }
        .item-author{
            margin-bottom: 40px;
        }
    }
}