.content-framework {
	padding: 50px;
    .box-head-framework {
		margin-bottom: 30px;
		>p{
			width: 65%;
			text-align: left;
			margin: auto;
		}
		h2{
			line-height: 55px;
		}
    }
	.description-process-framework{
		font-size: 25px;
		line-height: 38px;
		font-weight: 600;
		margin-bottom: 50px !important;
	}
    .item-framework {
        background: $color-blue-lv4;
        color: $color-white;
        padding: 30px 20px;
        border-radius: 10px;
		height: 100%;
		font-weight: 500;
        h3 {
			text-align: center;
			font-weight: bold;
			font-size: 24px;
			padding-bottom: 15px;
			color: $color-white;
        }
        p {
			font-size: 20px;
			padding-bottom: 15px;
          font-weight: 500;
        }
        .title-include{
        	font-size: 20px;
        }
        .include-process {
            .include-process-item {
				font-size: 20px;
				position: relative;
				padding-left: 20px;
				margin-bottom: 10px;
				margin-left: 20px;
				&:before{
					content: "";
					display: inline-block;
					position: absolute;
					left: 0;
					top: 7px;
					width: 15px;
					height: 15px;
					background: url("../images/icon-checked.png") no-repeat center center;
					background-size: 100%;
				}
            }
        }
    }
	.btn-green-env{
		padding: 10px 30px;
		font-size: 18px;
		font-weight: 600;
	}
	.tab-process-framework-mb{
		display: none;
	}
	#pills-initial, #pills-development, #pills-discovery{
		display: block;
		opacity: 1;
	}
}


/* =================== RESPONSIVE ======================= */

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {
	.content-framework {
		.item-framework{
			min-height: auto;
			margin-bottom: 15px;
		}
	}
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.content-framework {
		padding: 0;
		#pills-initial, #pills-development, #pills-discovery{
			display: none;
			opacity: 0;
		}
		#pills-initial.active, #pills-development.active, #pills-discovery.active{
			display: block !important;
		}
		#pills-initial.show, #pills-development.show, #pills-discovery.show{
			opacity: 1 !important;
		}
		.btn-green-env{
			padding: 10px 20px;
			white-space: normal;
		}
		.box-head-framework {
			h2{
				font-size: 28px;
				line-height: 43px;
				text-align: left;
			}
			.description-process-framework {
				font-size: 18px;
				line-height: 27px;
				font-weight: 400;
				text-align: left;
				width: 100%;
			}
		}
		.tab-process-framework-mb{
			display: block;
			.nav-pills{
				border: 1px solid $color-gray-border;
			}
			.nav-item{
				width: 33.3%;
				text-align: center;
				.nav-link{
					font-size: 1.5rem;
					padding: 0;
					background: transparent;
					font-weight: bold;
					color: $color-gray-border;
					position: relative;
					&:after{
						content: "";
						display: inline-block;
						width: 24px;
						height: 24px;
						position: absolute;
						right: 0;
						top: 6px;
						border-top: 1px solid $color-gray-border;
						border-right: 1px solid $color-gray-border;
						@include rotate(45deg);
					}
					&.active{
						color: $color-green-logo;
					}
				}
				&:last-child{
					.nav-link{
						&:after{
							display: none;
						}
					}
				}
			}
		}
	}
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {

	.content-framework {
		.box-head-framework {
			h2{
				line-height: 37px;
				font-size: 24px;
			}
			> p{
				width: 100%;
				font-size: 18px;
				line-height: 27px;
				margin-bottom: 10px !important;
			}
		}
		.item-framework {
			h3 {
				font-size: 24px;
				text-align: left;
			}
			p {
				font-size: 18px;
			}
			.title-include{
				font-size: 18px;
			}
			.include-process {
				.include-process-item {
					font-size: 18px;
				}
			}
		}
		.btn-green-env{
			font-size: 18px;
		}
	}

}

/* =================== END RESPONSIVE ======================= */