/*============INDUSTRIES HOME=================*/

.content-industries{
	margin-bottom: 80px;
	.box-head-industries{
		p{
			width: 50%;
		}
	}

	.item-industry{
		border-radius: 20px;
		background: $color-blue-lv4;
		color: $color-white;
		padding: 40px 30px;
		margin-bottom: 30px;
		transition: .3s;
		&:hover{
			background: $color-gray-hover;
			color: $color-blue-logo;
			cursor: pointer;
			.icon-industry{
				display: none;
				&.ac{
					display: block;
				}
			}
		}
		.icon-industry{
			padding-bottom: 20px;
			height: 100px;
			&.ac{
				display: none;
			}
		}
		.title-item-industries{
			font-size: 1.2rem;
			font-weight: bold;
			padding-bottom: 15px;

		}
		.excerpt{
			line-height: 1.5rem;
		}
	}
}

/*============END INDUSTRIES HOME=================*/