/*============INDUSTRIES HOME=================*/

.content-industries{
	background: $color-blue-logo;
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	margin-bottom: 80px;
	.title-head-blue{
		color: $color-white;
	}
	.description-head{
		font-size: 25px;
		color: $color-white;
		padding: 2rem 0;
		font-weight: 600;
	}
	.tab-pane{
		.box-field{
			border: 1px solid $color-white;
			color: $color-white;
			padding: 30px;
			.icon-arrow-right{
				@include setBackgroundIcon(20px, "../images/icon-arrow-down.svg");
				@include rotate(-90deg);
				vertical-align: text-top;
			}
			.title-field{
				color: $color-green-logo;
				font-size: 26px;
				font-weight: bold;
				margin-bottom: 30px;
			}
			.icon-field{
				margin-bottom: 30px;
			}
			.excerpt-field{
				font-size: 30px;
				margin-bottom: 40px;
				font-weight: 600;
			}
			.learn-more{
				text-transform: uppercase;
				color: $color-white;
				font-weight: 500;
			}
		}
	}
	.box-tab-industries{
		padding-top: 100px;
		padding-bottom: 100px;
		background: $color-green-logo;
		width: 35%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 99;

		.nav-link{
			padding: 2rem;
			font-size: 1.6rem;
			color: $color-white;
			border-top: 1px solid $color-white;
			&.active{
				background: $color-blue-logo;
			}
		}
		.nav-item{
			 &:last-child{
				 .nav-link{
					 border-bottom: 1px solid $color-white;
				 }
			 }
		 }
	}
}

/*============END INDUSTRIES HOME=================*/

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (min-width: $device-size-extra-large) {

}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen and (min-width: $device-size-large) and (max-width: $device-size-extra-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen and (min-width: $device-size-medium) and (max-width: $device-size-large) {}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.content-industries {
		display: none;
	}
}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen and (min-width: $device-size-small) and (max-width: $device-size-medium) {

}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen and (min-width: $device-size-mobile) and (max-width: $device-size-small) {


}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {

}
