.section-knowledge{
	margin-bottom: 0 !important;
	padding: 90px 0 !important;
}
.content-knowledge{
	.box-head-blog{
		margin-bottom: 30px;
		h2{
			color: $color-white;
			font-weight: bold;
			font-size: 36px;
		}
		a.view-all{
			color: $color-white;
		}
	}
	.video-play{
		h3{
			color: $color-white;
			padding-top: 15px;
			display: 	block;
			font-family: $font-roboto;
			line-height: 56px;
			font-size: 36px;
		}
		.embed-video{
			position: relative;
			padding-bottom: 56.25%;
			iframe, object, embed {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			}
		}
	}
	.list-item{
		.box-list-scroll{
			height: 480px;
		}
		.item-detail{
			margin-bottom: 30px;
			img{
				width: 35%;
				float: left;
			}
			h5{
				position: static;
				color: $color-white;
				background: transparent;
				padding: 5px;
				padding-top: 0;
				padding-left: calc(35% + 15px);
				font-size: .8rem;
				font-family: $font-roboto;
			}
			.info{
				position: absolute;
				left: 0;
				bottom: 0;
				color: $color-gray-text;
				background: transparent;
				padding-left: calc(35% + 15px);
				font-size: .8rem;
			}
		}
	}
}

/* =================== RESPONSIVE ======================= */

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.section-knowledge{
		display: none;
	}
}



/* =================== END RESPONSIVE ======================= */