#section-outsourcing-insights{
    padding-top: 150px !important;
    padding-bottom: 200px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-healthcare{
    padding-bottom: 150px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-ecommerce-and-retail{
    padding-top: 90px;
    padding-bottom: 110px;
    background: #F2F2F2;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-real-estate{
    padding-bottom: 190px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-hospitality-travel{
    padding-top: 190px !important;
    padding-bottom: 150px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}

.section-resources-home{
    background: #F8FFF2;
    &.resources-ebook-page {
        article.box-ebook{
            background: #fff;
            padding-top: 15px;
        }
    }
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}

#section-financial-services{
    padding-top: 190px !important;
    padding-bottom: 150px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}

#section-logistics-and-supply-chain{
    padding-top: 190px !important;
    padding-bottom: 150px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-quora{
    padding-top: 190px !important;
    padding-bottom: 150px !important;
    .content-blog {
        .box-item-special {
            h4{
                padding-bottom: 0;
            }
            .item-blog {
                .title-list-special{
                    font-size: 16px;
                    font-family: $font-roboto;
                }
            }
        }
    }
}
#section-tools-for-cto{
    padding-top: 190px !important;
    padding-bottom: 150px !important;
    .item-tool-for-cto{
        padding: 60px 20px 40px 20px;
        background-color: #AEE366;
        text-align: center;
        display: block;
        img{
            margin-bottom: 30px;
        }
        h4{
            font-family: $font-roboto;
            font-size: 16px;
            line-height: 150%;
            color: #000;
        }
        &:hover{
            background: #fff;
            @include shadow-out(4px, 4px, 4px, rgba(0, 0, 0, 0.5));
        }
    }
    .box-quote{
        color: #0D3153;
        font-size: 28px;
        font-weight: 700;
        padding-left: 120px;
        padding-top: 50px;
        background: url('../images/icon-quote-green.png') no-repeat;
        background-position: 70px 30px;
        .author{
            margin-top: 30px;
            color: #4F4F4F;
            font-size: 14px;
            text-align: right;

        }
    }
}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
    #section-outsourcing-insights {
        padding-top: 75px !important;
        padding-bottom: 90px !important;
    }
    #section-quora{
        padding-top: 75px !important;
        padding-bottom: 90px !important;
        &.blog-page {
            .title-head-blue{
                &.title-bg-gray{
                    padding: 10px 15px !important;
                    color: #fff !important;
                    display: block !important;
                }
            }
        }
    }
    #section-tools-for-cto{
        padding-top: 75px !important;
        padding-bottom: 90px !important;
        &.blog-page {
            .title-head-blue{
                &.title-bg-gray{
                    padding: 10px 15px !important;
                    color: #fff !important;
                    display: block !important;
                }
            }
        }
        .item-tool-for-cto{
            margin-bottom: 30px;
        }
        .box-quote{
            background-position: 0 30px;
            padding-left: 50px;
        }
    }
}