#section-outsourcing-insights{
    padding-top: 150px !important;
    padding-bottom: 200px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-healthcare{
    padding-bottom: 150px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-ecommerce-and-retail{
    padding-top: 90px;
    padding-bottom: 110px;
    background: #F2F2F2;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-real-estate{
    padding-bottom: 190px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}
#section-hospitality-travel{
    padding-top: 190px !important;
    padding-bottom: 150px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}

.section-resources-home{
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}

#section-financial-services{
    padding-top: 190px !important;
    padding-bottom: 150px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}

#section-logistics-and-supply-chain{
    padding-top: 190px !important;
    padding-bottom: 150px !important;
    .title-head-blue{
        &.have-border{
            margin-bottom: 50px;
        }
    }
}