.overhead-costs-page{
  margin-bottom: 80px;
  .content-overhead-costs{
    padding-top: 70px;
    padding-bottom: 70px;
    .title-overhead-costs{
      width: 70%;
      margin-bottom: 70px;
    }
    .box-description-blue{
      font-size: 1.875rem;
      font-weight: bold;
      padding-right: 20%;
      color: $color-blue-logo;
    }
    .box-list-costs-saving{
      font-size: 1.5rem;
      .list-costs{
        li{
          &:before{
            content: "";
            display: inline-block;
            background: url("../images/icon-x-green.svg") no-repeat;
            background-size: 100%;
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
        }
      }
    }
    .description-overhead{
      width: 70%;
      margin: auto;
      color: $color-blue-logo;
      font-size: 1.875rem;
      padding: 40px 0;
    }
  }
}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  .overhead-costs-page {
    margin-bottom: 0;
    .content-overhead-costs{
      padding-top: 0;
      padding-bottom: 0;
      .title-overhead-costs{
        margin-bottom: 30px;
        width: 100%;
        line-height: 120%;
      }
      .box-description-blue{
        font-size: 1.125rem;
        padding-right: 0;
        margin-bottom: 15px;
      }
      .box-list-costs-saving{
        font-size: 1.125rem;
        font-weight: 100;
        .list-costs {
          li{
            &:before{
              width: 15px;
              height: 15px;
              margin-right: 12px;
            }
          }
        }
      }

      .description-overhead{
        font-size: 1.125rem;
        width: 100%;
        padding: 20px 0;
      }
      .btn-blue-env{
        width: 100%;
      }
    }
  }
}