.overhead-costs-page{
  margin-bottom: 80px;
  .content-overhead-costs{
    padding-top: 70px;
    padding-bottom: 70px;
    .title-overhead-costs{
      width: 70%;
      margin-bottom: 70px;
      line-height: 55px;
    }
    .box-according{
      position: relative;
      div[class*="cost-"]{
        font-weight: bold;
        font-size: 30px;
        width: 280px;
        color: $color-blue-logo;
      }
      .cost-1{
        font-size: 1.5rem;
        position: absolute;
        top: 15px;
        left: 280px;
      }
      .cost-2{
        font-size: 1.5rem;
        position: absolute;
        top: 143px;
        left: 280px;
      }
      .note-chart{
        width: 200px;
        padding: 15px;
        text-align: center;
      }
    }
    .box-list-costs-saving{
      font-size: 1.5rem;
      .list-costs{
        li{
          margin-bottom: 5px;
          &:before{
            content: "";
            display: inline-block;
            background: url("../images/icon-x-green.svg") no-repeat;
            background-size: 100%;
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
        }
      }
    }
    .description-overhead{
      width: 56%;
      margin: auto;
      font-weight: 600;
      color: $color-blue-logo;
      font-size: 1.875rem;
      padding: 40px 0;
    }
    .btn-blue-env{
      padding: 10px 30px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

/* 	================================================================
	Large desktop 1200px and down (1200px)
	================================================================== */
@media screen and (max-width: $device-size-extra-large) {
  .overhead-costs-page {
    .content-overhead-costs {
      .box-according {
        div[class*="cost-"]{
          font-size: 25px;
          width: 200px;
        }
      }
    }
  }
}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
  .overhead-costs-page {
    margin-bottom: 0;
    .content-overhead-costs{
      padding-top: 0;
      padding-bottom: 0;
      .title-overhead-costs{
        margin-bottom: 30px;
        width: 100%;
        line-height: 37px;
        font-size: 24px;
      }
      .box-according{
        .img-fluid{
          width: 180px;
        }
        div[class*="cost-"]{
          font-size: 18px;
          width: 150px;
        }
        .cost-1{
          font-size: 1rem;
          left: 180px;
          top: 10px;
        }
        .cost-2{
          font-size: 1rem;
          left: 180px;
          top: 100px;
        }
      }
      .box-list-costs-saving{
        font-size: 18px;
        .list-costs {
          li{
            &:before{
              width: 15px;
              height: 15px;
              margin-right: 12px;
            }
          }
        }
      }

      .description-overhead{
        font-size: 1.125rem;
        width: 100%;
        padding: 20px 0;
      }
      .btn-blue-env{
        width: 100%;
        font-size: 16px;
      }
    }
  }
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
  .overhead-costs-page {
    .content-overhead-costs {
      .box-according {
        div[class*="cost-"]{
          font-size: 16px;
          width: 120px;
        }
      }
    }
  }
}