.section-get-executive-insights{
    padding-top: 130px;
    padding-bottom: 170px;
    .box-executive{
        background: #F8FFF2;
        border: 2px solid #AEE366;
        padding: 20px 50px;
    }
    .title-executive{
        font-weight: 600;
        font-size: 24px;
        line-height: 140.88%;
        color: #828282;
        width: 800px;
        max-width: 100%;
    }
    .subscribe-form{
        #gform_wrapper_3{
            width: 480px;
            max-width: 100%;
            margin: 0;
            position: relative;
            display: inline-block;
            ul.gform_fields {
                li.gfield{
                    width: 100%;
                    float: left;
                    margin: 0 !important;
                    padding: 0;
                    max-width: 100% !important;

                    &.gf_right_half{
                        float: none;
                        text-align: right;
                        max-width: 100%;
                    }
                }
            }
            .top_label {
                div.ginput_container{
                    margin: 0;
                }
                div:not(.ginput_container_date) {
                    select.medium{
                        height: 50px;
                    }
                }
                li.gfield.gf_right_half {
                    div:not(.ginput_container_date) {
                        select.medium{
                            width: 100%;
                            border: none !important;
                            background: #fff;
                        }
                    }
                }
            }
            input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
                padding: 12px 25px;
                border: none !important;
                font-size: 18px;
                @include radius(5px);
                width: 100%;
                margin-top: 0;
                margin-bottom: 0;
                @include shadow-out(4px, 4px, 4px, rgba(0, 0, 0, 0.5));
                color: #000;
            }
            .gform_footer{
                text-align: center;
                margin: 0;
                padding: 0;
            }

            input.button,
            input[type=submit]{
                background: #8DC63F;
                @include radius(0 5px 5px 0);
                margin-right: 0;
                padding: 15px 20px;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #0D3153;
                font-weight: bold;
                position: absolute;
                right: 0;
                bottom: 0;
                width: auto;
            }
            &.gform_validation_error {
                .gform_body {
                    ul {
                        li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
                            max-width: 100% !important;
                        }
                    }
                }
            }
            li.gfield.gfield_error.gfield_contains_required {
                div.gfield_description{
                    max-width: 50%;
                }
            }
        }
    }
}

/* 	================================================================
	MOBILE DEVICE
	Large mobile 768px and down (<768px)
	================================================================== */
@media screen and (max-width: 768px) {
    .section-get-executive-insights {
        .box-executive{
            padding: 30px 10px;
        }
        .title-executive{
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 40px;
        }
        .subscribe-form {
            #gform_wrapper_3 {
                input.button, input[type=submit]{
                    width: 100%;
                    position: static;
                    margin-top: 30px;
                    @include radius(5px);
                }
            }
        }
    }
}