/*============SERVICES HOME=================*/
.content-services{
	margin-bottom: 80px;
	.box-head-services{
		.title-head-blue{
			margin-bottom: 10px;
		}
		.description-services{
			width: 65%;
			font-size: 1.5rem;
			line-height: 38px;
			margin-bottom: 50px !important;
		}
	}

	.item-service{
		position: relative;
		transition: .3s;
		margin-bottom: 30px;
		overflow: hidden;
		border-radius: 10px;
		background: $color-green-lv2;
		padding: 30px;
		height: calc(100% - 30px);
		&:hover{
			background: #E0E0E0;
			.box-info-services {
				.learn-more {
					display: block;
					cursor: pointer;
				}

				p {
					color: $color-blue-logo;
				}
			}
			h3{
				color: $color-blue-logo !important;
			}
		}
		.learn-more{
			position: absolute;
			bottom: 60px;
			right: 30px;
			color: $color-blue-lv3;
			font-size: 1rem;
			display: none;
			&:after{
				content: "";
				@include setBackgroundIcon(20px, "../images/icon-arrow-right-blue.svg");
				vertical-align: text-top;
				margin-left: 5px;
			}
		}
		.box-info-services{
			min-height: 370px;
			p{
				color: $color-white;
				padding-left: 25px;
				font-size: 1.375rem;
			}
		}
		h3{
			font-size: 1.875rem;
			font-weight: bold;
			color: $color-white;
			position: absolute;
			bottom: 20px;
			left: 50%;
			@include translate-x(-50%);
			white-space: nowrap;
		 }

	}

}

/*============END SERVICES HOME=================*/

/* =================== RESPONSIVE ======================= */

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.content-services {
		.box-head-services {
			p{
				width: 100%;
			}
		}
		.item-service {
			padding: 20px;
			background: transparent;
			border: 1px solid $color-gray-border;
			.box-info-services {
				text-align: center;
				min-height: auto;
				img{
					margin: auto;
					width: 50px;
					margin-bottom: 15px;
				}
				p{
					display: none;
				}
				.learn-more{
					display: none !important;
				}
				.plus-gray{
					position: absolute;
					right: 15px;
					top: 15px;
					@include setBackgroundIcon(25px, "../images/icon-plus-button.svg");
				}
			}
			h3{
				font-size: 1rem;
				position: static;
				@include translate-x(0);
				white-space: normal;
				text-align: center;
			}
		}
	}
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {

}

/* =================== END RESPONSIVE ======================= */