.content-studio{
	.box-head-blog{
		margin-bottom: 30px;
		h2{
			color: $color-white;
		}
		a.view-all{
			color: $color-white;
		}
	}
	.item-studio{
		position: relative;
		margin-bottom: 15px;
		img{
			width: 100%;
		}
		h5{
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 5px 15px;
			width: 100%;
			background: rgba(201, 240, 148, .8);
			color: $color-blue-lv2;
			font-size: .8rem;
			&.large-item{
				font-size: 1rem;
			}
		}
	}
}
.section-studio{
	margin-bottom: 0 !important;
}

/* =================== RESPONSIVE ======================= */

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.content-studio {
		.box-head-blog {
			h2{
				width: 70%;
				font-size: 1.5rem;
			}
		}
	}
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {

}

/* =================== END RESPONSIVE ======================= */