.content-studio{
	.box-head-blog{
		margin-bottom: 30px;
		h2{
			color: $color-white;
			font-size: 36px;
		}
		a.view-all{
			color: $color-white;
		}
	}
	.item-studio{
		position: relative;
		margin-bottom: 15px;
		img{
			width: 100%;
		}
		h5{
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 15px;
			width: 100%;
			background: rgba(13, 49, 83, 0.7);;
			color: $color-white;
			font-size: 14px;
			padding-bottom: 30px;
			font-family: $font-pt;
			&.large-item{
				font-size: 24px;
				height: 100px;
			}
		}
	}
}
.section-studio{
	margin-bottom: 0 !important;
}

/* =================== RESPONSIVE ======================= */

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.section-studio {
		display: none;
	}
}


/* =================== END RESPONSIVE ======================= */