.content-subcribe{
	.box-head-subcribe{
		h2{
			font-weight: bold;
			margin-bottom: 30px;
		}
		h2, p{
			color: $color-white;
			padding-bottom: 10px;
		}
	}
	.input-search{
		margin: auto;
		padding: 10px 20px;
		width: 350px;
		border-radius: 5px;
		background: transparent;
		border: 1px solid $color-white;
		margin-bottom: 20px;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $color-white;
		opacity: 1; /* Firefox */
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $color-white;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		color: $color-white;
	}
	.box-success-plan{
		.highlight-blue{
			color: $color-blue-logo;
		}
		h2{
			font-weight: bold;
			margin-bottom: 30px;
		}
		p{
			color: $color-white;
			padding-bottom: 10px;
			font-weight: bold;
			font-size: 1.5rem;
		}
	}
}

/* =================== RESPONSIVE ======================= */

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {

}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
	.content-subcribe {
		.box-head-subcribe {
			h2{
				font-size: 1.4rem;
			}
		}

		.input-search {
			width: 100%;
		}
		.btn-blue-env{
			white-space: normal;
			padding: 10px 20px;
			font-size: 1rem;
			width: 100%;
		}
	}
}

/* =================== END RESPONSIVE ======================= */