html.overflow-hidden{
  overflow: hidden !important;
	-webkit-overflow-scrolling: touch;
}
body.overflow-hidden{
	overflow: hidden !important;
	-webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6{
	color: $color-blue-logo;
}

.head-1{
	font-size: 2.25rem;
    margin-bottom: 1rem;
	font-weight: bold;
}
.subhead-1{
	font-size: 1.625rem;
    margin-bottom: 1rem;
	font-weight: bold;
}
/*============BUTTON BLUE=================*/
.btn-blue-env{
	color: $color-white !important;
    background-color: $color-blue-logo;
    border-color: transparent;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: bold;
	@include transition(.3s);
	&:hover{
		background: $color-blue-lv4;
		cursor: pointer;
	}
}

/*============BUTTON GREEN=================*/
.btn-green-env{
	color: $color-white !important;
    background-color: $color-green-logo;
    border-color: $color-green-logo;
    padding: 10px 30px;
	font-size: 1.125rem;
	@include transition(.3s);
	&:hover{
		background: $color-green-lv2;
		cursor: pointer;
	}
}

/*============BUTTON GRAY=================*/
.btn-gray-env{
	color: $color-white !important;
    background-color: $color-gray-btn;
    border-color: $color-gray-btn;
	padding: 10px 30px;
	font-size: 1.125rem;
	@include transition(.3s);
	&:hover{
		color: $color-green-logo;
		cursor: pointer;
	}
}

/*============BUTTON GRAY=================*/
.btn-white-env{
	color: $color-white !important;
	background-color: transparent;
	border-color: $color-white;
	padding: 10px 30px;
	font-size: 1.125rem;
	@include transition(.3s);
	&:hover{
		color: $color-green-logo !important;
		border-color: $color-green-logo;
	}
}

/*============TITLE BLUE=================*/

.title-head-blue{
	font-size: $fontz-title;
	color: $color-blue-logo;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 15px;
	line-height: 55px;
	font-family: $font-title;
}

/*============DEFINE HEADLINE=================*/

.define-headline{
	.underline-head{
		border-bottom: 3px solid $color-green-logo;
    	padding-bottom: 0;
	   	span{
	   		display: inline-block;
	   		position: relative;
	   		&:after{
	    		content: "";
	    		display: inline-block;
	    		height: 3px;
	    		width: 100px;
	    		background: $color-blue-logo;
	    		position: absolute;
			    bottom: -3px;
			    left: 0;
    		}
    	}
	}
	.view-all{
		position: absolute;
	    right: 16px;
	    top: 15px;
	    z-index: 9;
	    font-weight: bold;
	    text-transform: uppercase;
	}
}

/*============BG GRAY=================*/
.bg-gray-home{
	background: $color-gray-bg;
	padding: 30px 0; 
	margin-bottom: 80px;
}

/*============BG GRAY PROCESS=================*/
.bg-gray-process{
	background: $color-gray-background;
	padding: 30px 0; 
}

/*============BG GREEN=================*/
.bg-green-home{
	background: rgba(141, 198, 63, .7);
	padding: 30px 0; 
}

/*============BG GREEN=================*/
.bg-green-subscribe{
	background: $color-green-logo;
	padding: 30px 0;
}

/*============BG BLUE=================*/
.bg-blue-home{
	background: rgba(13, 49, 83, .7);
	padding: 30px 0; 
}

/*============BG BLUE=================*/
.bg-blue-studio{
	background: $color-blue-logo;
	padding: 50px 0;
}
/*============BG BLUE=================*/
.bg-blue-lv4{
	background: #45678A;
	padding: 50px 40px; 
}


/*============PARALLAX BG=================*/
.section-parallax{
    background-image: url("../images/img-parallax-1.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-building{
    background-image: url("../images/img-parallax-2.png");
}


/*============BANNER TOP=================*/
.banner-top{
	position: relative;
	img{
		width: 100%;
	}
	h1{
		position: absolute;
		left: 50%;
		top: 50%;
		@include translate(-555px, -50%);
		font-size: 48px;
		color: $color-green-logo;
		font-weight: bold;
		font-family: $font-raleway;
		line-height: 73px;
	}
	h2{
		position: absolute;
		left: 50%;
		top: 50%;
		@include translate(-555px, -50%);
		font-size: 48px;
		color: $color-green-logo;
		font-weight: bold;
		font-family: $font-raleway;
		line-height: 73px;
	}

	&.bg-blue{
		background: $color-blue-lv4;
		min-height: 515px;
		h1{
			@include translate(-50%, -50%);
		}
		h2{
			@include translate(-50%, -50%);
		}
	}
}

/*============BANNER TO INDUSTRIES=================*/
.banner-industries{
	position: relative;
	img{
		width: auto;
		position: absolute;
		bottom: 0;
		right: 50%;
		@include translate-x(555px);
	}
	h1{
		left: 50%;
		top: 30%;
		@include translate(-50%, -50%);
	}
	h2{
		left: 50%;
		top: 30%;
		@include translate(-50%, -50%);
	}
}

.banner-company{
	position: relative;
	img{
		width: auto;
		position: absolute;
		bottom: 0;
		right: 50%;
		@include translate-x(555px);
	}
	&.bg-blue>h1{
		left: 50%;
		top: 50%;
		@include translate(-555px, -50%);
	}
	&.bg-blue>h2{
		left: 50%;
		top: 50%;
		@include translate(-555px, -50%);
	}
}

.artical-page{
	padding: 80px 0;
}

/*============EMBED VIDEO=================*/
.embed-video{
	position: relative;
	padding-bottom: 56.25%;
	iframe, object, embed{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
	}
}
/*============BREADCRUMB PAGE=================*/
.box-breadcrumb{
	color: $color-blue-logo;
	margin-bottom: 20px;
	font-size: 16px;
	margin-top: 10px;
	.you-here{
		float: left;
		color: $color-blue-logo;
		line-height: 30px;
		font-weight: bold;
	}
	.breadcrumb{
		background: transparent;
		padding: inherit;
		padding-left: 15px;
		font-size: 16px;
		line-height: 30px;
		font-weight: normal;
	}
}

/*==========================================================
	PAGE LOADER
==========================================================*/
#pageloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(13, 49, 83, 0.98);
	z-index: 9999;
}
.pageloader {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.pageloader .site-name {
	font-size: 25px;
	color: #666666;
	text-transform: uppercase;
	display: block;
	font-family: 'Libre Baskerville', serif;
}
.pageloader .site-tagline {
	font-size: 12px;
	letter-spacing: 3px;
}
.thecube {
	width: 75px;
	height: 75px;
	margin: 0 auto 50px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.thecube .cube {
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.thecube .cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.thecube .cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #8DC63F;
	-webkit-animation: foldthecube 2.4s infinite linear both;
	animation: foldthecube 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.thecube .c2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	-moz-transform: scale(1.1) rotateZ(90deg);
	-ms-transform: scale(1.1) rotateZ(90deg);
	-o-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}

.thecube .c3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	-moz-transform: scale(1.1) rotateZ(180deg);
	-ms-transform: scale(1.1) rotateZ(180deg);
	-o-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}

.thecube .c4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	-moz-transform: scale(1.1) rotateZ(270deg);
	-ms-transform: scale(1.1) rotateZ(270deg);
	-o-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}

.thecube .c2:before {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.thecube .c3:before {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.thecube .c4:before {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

@keyframes foldthecube {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		-moz-transform: perspective(140px) rotateX(-180deg);
		-ms-transform: perspective(140px) rotateX(-180deg);
		-o-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}

	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		-moz-transform: perspective(140px) rotateX(0deg);
		-ms-transform: perspective(140px) rotateX(0deg);
		-o-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}

	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		-moz-transform: perspective(140px) rotateY(180deg);
		-ms-transform: perspective(140px) rotateY(180deg);
		-o-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}


/* =================== RESPONSIVE ======================= */

/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen and (min-width: $device-size-extra-large) {

}

/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and down (< 1200px)
	================================================================== */
@media screen and (max-width: $device-size-extra-large) {
	/*============BANNER TOP=================*/
	.banner-top{
		h1{
			@include translate(0, -50%);
			left: 30px;
		}
		h2{
			@include translate(0, -50%);
			left: 30px;
		}
	}

	.banner-company {
		img{
			@include translate-x(500px);
		}
		&.bg-blue {
			> h1{
				@include translate(-500px, -50%);
			}
		}
		&.bg-blue {
			> h2{
				@include translate(-500px, -50%);
			}
		}
	}

	.banner-industries{
		img{
			@include translate-x(500px);
		}
		&.bg-blue {
			> h1{
				@include translate(-500px, -50%);
			}
		}
		&.bg-blue {
			> h2{
				@include translate(-500px, -50%);
			}
		}
	}
}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

  .btn-green-env, .btn-blue-env{
	  white-space: normal;
	  padding: 10px 20px;
	  width: 100%;
  }

	.banner-company {
		img{
			@include translate-x(380px);
		}
		&.bg-blue {
			> h1{
				@include translate(0, -50%);
			}
			> h2{
				@include translate(0, -50%);
			}
		}
	}

	.banner-industries{
		img{
			@include translate-x(380px);
		}
		&.bg-blue {
			> h1{
				@include translate(0, -50%);
			}
		}
		&.bg-blue {
			> h2{
				@include translate(0, -50%);
			}
		}
	}
}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.box-breadcrumb{
		display: none;
	}
	.artical-page{
		padding: 30px 0;
	}

	.title-head-blue{
		font-size: 24px;
		line-height: 37px;
	}
	/*============BANNER TOP=================*/
	.banner-top{
		h1{
			@include translate(-50%, -50%);
			left: 50%;
		}
		h2{
			@include translate(-50%, -50%);
			left: 50%;
		}
	}

	.title-head-blue{
		font-size: 24px;
	}
	.bg-building{
		margin-bottom: 50px;
	}
  .partner-home{
    margin-bottom: 50px;
  }

	.banner-top {
		h1{
			font-size: 2rem;
		}
		h2{
			font-size: 2rem;
		}
	}


	.banner-company{
		position: relative;
		img{
			position: absolute;
			bottom: 0;
			right: 0;
			@include translate-x(0);
			max-width: 400px;
		}
		&.bg-blue>h2{
			left: 10%;
			top: 50%;
			@include translate(0, -50%);
			width: 330px;
			font-size: 28px;
		}
	}

	.banner-industries{
		position: relative;
		img{
			position: absolute;
			bottom: 0;
			right: 0;
			@include translate-x(0);
			max-width: 400px;
		}
		&.bg-blue>h2{
			left: 10%;
			top: 50%;
			@include translate(0, -50%);
			max-width: 500px;
		}
	}


	.section-parallax{
		background: none;
		.bg-green-home{
			background: $color-green-logo;
		}
	}
}

/* 	================================================================
	LARGE MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
	.col-mb-100{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.btn-blue-env{
		padding: 10px 20px;
		width: 100%;
		font-size: 16px;
	}
	.title-head-blue{
		text-align: left;
		font-size: 1.5rem;
	}
	.define-headline {
		.view-all{
			top: 5px;
		}
	}
	.bg-building{
		margin-bottom: 0;
	}
  .partner-home{
    margin-bottom: 30px;
  }

	.box-breadcrumb {
		.you-here{
			float: none;
		}
		.breadcrumb{
			padding-left: 0;
		}
	}

	.banner-company{
		position: relative;
		img{
			max-width: 320px;
		}
		&.bg-blue>h1{
			left: 50%;
			top: 20%;
			@include translate(-50%, -50%);
			text-align: center;
		}
		&.bg-blue>h2{
			left: 50%;
			top: 20%;
			@include translate(-50%, -50%);
			text-align: center;
		}
	}
	.banner-industries{
		position: relative;
		img{
			max-width: 100%;
		}
		&.bg-blue>h1{
			left: 50%;
			top: 20%;
			@include translate(-50%, -50%);
			text-align: center;
			width: 80%;
		}
		&.bg-blue>h2{
			left: 50%;
			top: 20%;
			@include translate(-50%, -50%);
			text-align: center;
			width: 80%;
		}
	}

	.banner-top{
		h1{
			line-height: 1.5;
		}
		h2{
			line-height: 1.5;
		}
		&.bg-blue{
			min-height: 70vh;
		}
	}
}
/* 	================================================================
	MOBILE DEVICE
	Mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
	.col-mobile-100{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.banner-top {
		h1{
			font-size: 1.5rem;
		}
		h2{
			font-size: 1.5rem;
		}
	}
	.btn-blue-env{
		font-size: 16px;
		padding: 10px;
	}
	.btn-blue-env{
		font-size: 16px;
	}
}

/* =================== END RESPONSIVE ======================= */



