/*============BUTTON BLUE=================*/
.btn-blue-env{
	color: $color-white !important;
    background-color: $color-blue-logo;
    border-color: $color-blue-logo;
    padding: 15px 50px;
}

/*============BUTTON GREEN=================*/
.btn-green-env{
	color: $color-white !important;
    background-color: $color-green-logo;
    border-color: $color-green-logo;
    padding: 10px 70px;
}

/*============BUTTON GRAY=================*/
.btn-gray-env{
	color: $color-white !important;
    background-color: $color-gray-btn;
    border-color: $color-gray-btn;
    padding: 10px 70px;
}

/*============TITLE BLUE=================*/

.title-head-blue{
	font-size: $fontz-title;
	color: $color-blue-logo;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 15px;
}

/*============DEFINE HEADLINE=================*/

.define-headline{
	.underline-head{
		border-bottom: 5px solid $color-green-logo;
    	padding-bottom: 5px;
	   	span{
	   		display: inline-block;
	   		position: relative;
	   		&:after{
	    		content: "";
	    		display: inline-block;
	    		height: 5px;
	    		width: 100%;
	    		background: $color-blue-logo;
	    		position: absolute;
			    bottom: -10px;
			    left: 0;
    		}
    	}
	}
	.view-all{
		position: absolute;
	    right: 16px;
	    top: 15px;
	    z-index: 9;
	    font-weight: bold;
	    text-transform: uppercase;
	}
}

/*============BG GRAY=================*/
.bg-gray-home{
	background: $color-gray-bg;
	padding: 30px 0; 
	margin-bottom: 80px;
}

/*============BG GRAY PROCESS=================*/
.bg-gray-process{
	background: $color-gray-process;
	padding: 30px 0; 
}

/*============BG GREEN=================*/
.bg-green-home{
	background: rgba(141, 198, 63, .7);
	padding: 30px 0; 
}

/*============BG BLUE=================*/
.bg-blue-home{
	background: rgba(13, 49, 83, .7);
	padding: 30px 0; 
}
/*============BG BLUE=================*/
.bg-blue-lv4{
	background: #45678A;
	padding: 50px 40px; 
}


/*============PARALLAX BG=================*/
.section-parallax{
    background-image: url("../images/img-parallax-1.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-building{
    background-image: url("../images/img-parallax-2.png");
    margin-bottom: 80px;
}


/*============BANNER TOP=================*/
.banner-top{
	position: relative;
	img{
		width: 100%;
	}
	h2{
		position: absolute;
		left: 50%;
		top: 50%;
		@include translate(-555px, -50%);
		font-size: 3rem;
		color: $color-green-logo;
		font-weight: bold;
	}
}

.artical-page{
	padding: 80px 0;
}

/*============EMBED VIDEO=================*/
.embed-video{
	position: relative;
	padding-bottom: 56.25%;
	iframe, object, embed{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
	}
}
/*============BREADCRUMB PAGE=================*/
.box-breadcrumb{
	color: $color-blue-logo;
	.you-here{
		float: left;
		color: $color-blue-logo;
		font-weight: bold;
	}
	.breadcrumb{
		background: transparent;
		padding: inherit;
		padding-left: 15px;
	}
}


/* =================== RESPONSIVE ======================= */

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen and (max-width: $device-size-large) {

}

/* 	================================================================
	MEDIUM DEVICE
	Tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: $device-size-medium) {
	.title-head-blue{
		font-size: 1.7rem;
	}
	.bg-building{
		margin-bottom: 50px;
	}
  .partner-home{
    margin-bottom: 50px;
  }
}

/* 	================================================================
	LARGE MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen and (max-width: $device-size-mobile) {
	.col-mb-100{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.btn-blue-env{
		padding: 10px 30px;
	}
	.title-head-blue{
		text-align: left;
		font-size: 1.5rem;
	}
	.define-headline {
		.view-all{
			top: 5px;
		}
	}
	.bg-building{
		margin-bottom: 30px;
	}
  .partner-home{
    margin-bottom: 30px;
  }
}
/* 	================================================================
	MOBILE DEVICE
	Mobile 320px and down (<320px)
	================================================================== */
@media screen and (max-width: $device-size-ex-mobile) {
	.col-mbx-100{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* =================== END RESPONSIVE ======================= */



