.help-page{
    padding-top: 0 !important;
    .box-rating{
        display: inline-block;
        height: 35px;
        margin: 10px 0;

        .rate {
            float: left;
            height: 35px;
            padding: 0;

        }
        .rate:not(:checked) > input {
            display: none;
        }
        .rate:not(:checked) > label {
            float:right;
            width:35px;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            color:#ccc;
            margin-right: 10px;
        }
        .rate:not(:checked) > label:before {
            content: '';
            display: inline-block;
            background: url("../images/icon-rating-star.svg") no-repeat;
            background-size: 100% 100%;
            width: 35px;
            height: 35px;
        }
        .rate > input:checked ~ label:before {
            background: url("../images/icon-rated-star.svg") no-repeat;
            background-size: 100% 100%;
        }
        .rate:not(:checked) > label:not(.nohover):hover:before,
        .rate:not(:checked) > label:not(.nohover):hover ~ label:before {
            background: url("../images/icon-rated-star.svg") no-repeat;
            background-size: 100% 100%;
        }
        .rate > input:checked + label:not(.nohover):hover:before,
        .rate > input:checked + label:not(.nohover):hover ~ label:before,
        .rate > input:checked ~ label:not(.nohover):hover:before,
        .rate > input:checked ~ label:not(.nohover):hover ~ label:before,
        .rate > label:not(.nohover):hover ~ input:checked ~ label:before {
            background: url("../images/icon-rated-star.svg") no-repeat;
            background-size: 100% 100%;
        }

        .rate{
            label.nohover:hover{
                cursor: auto !important;
            }
        }
    }
    .box-overall-rating{
        text-align: center;
        padding-top: 30px;
        margin-top: 30px;
        border-top: 3px solid #1A1A1A;
        .box-border{
            border: 1px solid #BDBDBD;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .title{
            font-weight: 500;
            font-size: 26px;
            line-height: 150%;
            text-align: center;
            color: #808080;
            margin-bottom: 15px;
        }
        .box-average-star{
            font-size: 14px;
            line-height: 150%;
            align-items: center;
            color: #808080;
        }
        .question{
            font-size: 18px;
            line-height: 150%;
            color: #808080;
            margin-top: 30px;
        }
    }
    .description-rating{
        font-size: 14px;
    }

}
.section-help{
    *{
        font-family: $font-roboto;
    }
    .content-help{
        h1, h2, h3, h4, h5{
            color: #333333;
            font-weight: 500;
            line-height: 150%;
        }
        h1{
            font-size: 42px;
            margin-bottom: 30px;

        }
        h2{
            font-size: 32px;
            padding-top: 40px;
            padding-bottom: 15px;
        }
        h3{
            font-size: 24px;
            font-weight: normal;
            padding-top: 30px;
            padding-bottom: 15px;
        }
        h4, h5, h6{
            font-size: 22px;
            font-weight: normal;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        p{
            font-size: 18px;
        }
        ul{
            margin-bottom: 10px;
            margin-left: 35px;
            li{
                list-style-type: inherit;
                margin-bottom: 5px;
            }
        }
        .link-post{
            margin-bottom: 15px;
            display: inline-block;
            color: $color-blue-lv4;
            cursor: pointer;
        }
    }
    .box-comment{
        margin-top: 100px;
    }
    .box-section-article{
        .title-article{
            font-size: 18px;
            color: #4F4F4F;
            padding: 15px 0;
            border-top: 1px solid #BDBDBD;
            border-bottom: 1px solid #BDBDBD;
        }
        .list-section{
            >li{
                display: block;
                border-bottom: 1px solid #BDBDBD;
                a{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    display: inline-block;
                }
            }
            .sublist-section{
                >li{
                    padding: 15px 0;
                    border-top: 1px solid #BDBDBD;
                    display: block;
                    padding-left: 30px;
                    padding-right: 15px;
                    a{
                        margin: 0;
                    }
                }
            }
            .active{
                font-weight: bold;
            }
        }

        .box-technical-support{
            margin-top: 150px;
            .title-technical{
                font-size: 18px;
                color: #4F4F4F;
                padding: 15px 0;
                border-top: 3px solid #1A1A1A;
            }
            .contact-support{
                margin-top: 30px;
                display: inline-block;
            }
        }
    }
}