.legals-page{
  .date-affective{
    font-family: $font-pt;
    color: $color-gray-audit;
    margin-bottom: 30px;
  }
  .description{
    font-family: $font-pt;
    font-size: 1.625rem;
    color: #808080;
  }
  .content-legals{
    h1{
      font-weight: bold;
      font-size: 36px;
      line-height: 55px;
      color: #0D3153;
      padding-bottom: 30px;
    }
    h2{
      font-size: 32px;
      padding-top: 25px;
      font-weight: bold;
      padding-bottom: 15px;
    }
    h3{
      font-size: 30px;
      padding-top: 25px;
      font-weight: bold;
      padding-bottom: 15px;
    }
    p{
      font-weight: 500;
      font-size: 22px;
      line-height: 140.88%;
      color: #808080;
      padding-bottom: 15px;
    }
    ul{
      padding-left: 30px;
      padding-bottom: 15px;
    }
    ul>li{
      font-size: 22px;
      margin-bottom: 10px;
      list-style-type: disc;
      color: #808080;
    }
    cite{
      color: #808080;
      font-style: italic;
      font-size: 1rem;
    }
    h3+cite{
      position: relative;
      top: -15px;
    }
    address{
      font-size: 1.625rem;
      color: #808080;
      margin-bottom: 20px;
    }

  }

  .content-affiliate{
    article{
      margin-bottom: 50px;
    }
    h3{
      font-size: 2.25rem;
      padding-top: 25px;
      font-weight: bold;
      padding-bottom: 15px;
    }
    p{
      font-size: 1.625rem;
    }
    .subtitle-green{
      color: $color-green-logo;
      font-size: 1.625rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }
    .step-affiliate{
      margin-left: 50px;
      li{
        font-size: 1.625rem;
        padding-bottom: 16px;
      }
    }
    .email-formal{
      p{
        font-style: italic;
        font-weight: 100;
        color: $color-blue-logo;
      }
    }
  }
}