.resource-page{
    background: #E0E0E0;
    .box-get-ebook{
        background: #fff;
        padding-bottom: 30px;
        .box-form-get-ebook{
            width: 80%;
            margin: auto;
        }
        .title-head-green{
            background: $color-green-logo;
            padding: 20px;
            font-size: 22px;
            color: $color-black;
            font-weight: 600;
            text-align: center;
        }
        h1{
            font-size: 36px;
            padding-bottom: 30px;
            padding-top: 15px;
            text-align: left;
            padding-left: 15px;
        }
    }

    .box-cover{
        .image-cover-detail{
            max-width: 250px;
        }
        padding-bottom: 50px;
    }

    .box-tags{
        font-family: $font-roboto;
        text-align: left;
        a{
            font-weight: 500;
            font-size: 17px;
            line-height: 26px;
            color: #45678A;
            &:after{
                content: ',';
                display: inline-block;
            }
        }

    }
}

.breadcrumb-ebook{
    li > *{
        font-weight: bold;
    }
}
.resources-ebook-page{
    padding-top: 80px !important;
    padding-bottom: 80px !important;

    .have-border{
        border-bottom: 3px solid #8DC63F;
        padding-bottom: 0;
        margin-bottom: 30px;
        &:after{
            content: "";
            display: inline-block;
            width: 100px;
            border-bottom: 3px solid #0D3153;
            position: absolute;
            bottom: 30px;
            left: 15px;
        }
    }

    article.box-ebook{
        text-align: center;
        font-family: $font-roboto;
        @include shadow-out(0, 4px, 5px,rgba(0, 0, 0, 0.25));
        position: relative;
        top: 0;
        @include transitionInOut(.2s);
        @include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));
        &:hover{
            top: -5px;
        }
        margin-bottom: 60px;
        img{
            width: 120px;
            @include shadow-out(0, 4px, 5px, rgba(0, 0, 0, 0.25));
            margin-bottom: 20px;
        }
        h2{
            font-family: $font-roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 31px;
            text-align: center;
            color: #000000;
        }
        .btn-download-ebook{
            padding: 5px 15px;
            font-size: 14px;
            margin: 20px 0;
        }
        .box-category{
            background: $color-green-logo;
            padding: 10px;
            a{
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }

    .box-subscriber-blog{
        margin-top: -33px;
    }
}


/* 	================================================================
	TABLET DEVICE
	Large tablet 768px and down (<768px)
	================================================================== */
@media screen and (max-width: 768px) {

    .resources-ebook-page {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        .have-border{
            font-weight: bold;
            font-size: 22px;
            line-height: 34px;
            color: #4F4F4F;
            border-bottom: none;
            &:after{
                display: none;
            }
        }
        article.box-ebook {
            h2{
                font-size: 18px;
                line-height: 140.62%;/* or 25px */
                text-align: center;
                color: #000000;
                font-weight: normal;
                padding-left: 15px;
                padding-right: 15px;

            }
            .btn-download-ebook{
                width: auto;
            }
        }
    }


    .resource-page {
        .box-cover {
            text-align: center;
            .image-cover-detail {
                max-width: 150px;
            }
        }
        .box-get-ebook{
            background: transparent;
            .title-head-green{
                display: none;
            }
            h1{
                padding-left: 0;
                font-size: 24px;
                line-height: 28px;
                font-weight: bold;
            }
            .box-form-get-ebook{
                width: 100%;
            }
        }
    }

}